// -------------------------------
// Footer - Global
// -------------------------------

.footer { 

	@media print {
		display: none;
	}

	&__top,
	&__bottom,
	&__credit {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 3px solid $grey-footer;
	}

	&__credit {
		text-align: right;

		@include media-breakpoint-up(md) {
			
			p {
				margin-right: 40px;
			}
		}
	}
}