// -------------------------------
// Footer - Navbar Sitemap
// -------------------------------

.nav-sitemap {
	position: relative;

	&__header {
		margin-bottom: 10px;
	}

	&__button {
		background-color: $white;
		border: 0;
		padding: 0;
		top: 0;
		font-size: $font-base px;
		font-weight: $font-bold;
		color: $grey-disabled;
		margin-right: 10px;

		&:hover,
		&:focus {
			color: $red;
			text-decoration: underline;
		}

		// &:hover {

		// 	+ .nav-sitemap__content {
		// 		display: block;
		// 	}
		// }
	}

	&__content {
		position: absolute;
		overflow: visible;
		transition: none;
		top: 2.6rem;

		&.show {
			height: 100% !important;
		}
	}

	&__list {
		padding-left: 20px;
		margin: 0;
	}

	&__item {

		a {
			color: $black;

			&:hover {
				color: $red;
			}
		}
	}

	#btn-professionnels {
		margin-right: 0;
	}
}