// -------------------------------
// Footer - Navbar Sitemap
// -------------------------------

.nav-sitemap {
	position: relative;

	&__header {
		margin-bottom: 10px;
	}

	&__button {
		background-color: white;
		border: 0;
		padding: 0;
		top: 0;
		@include font-size(15);
		font-weight: $font-bold;
		color: $grey-disabled;
		margin-right: 10px;

		&:hover {
			color: $red;
			text-decoration: underline;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__list {
		padding-left: 20px;
		margin: 0;
	}

	&__item {

		a {
			color: $black;

			&:hover {
				color: $red;
			}
		}
	}
}