// -------------------------------
// Footer - Réseaux sociaux
// -------------------------------

.nav-rs {
	
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	&__item {
		width: 25px;
		height: 25px;
		margin: 5px;

		@include media-breakpoint-up(lg) {
			margin: 0 5px;
		}		

		img {
			max-width: 100%;
		}
	}
}