<div class="search-criteria">
	{% if objSearch.advancedCriteria|length > 0 %}
		<p class="search-criteria__label">{{ 'bloc.filters-search.title'|trans }}</p>
		<div class="sr-only" id="filters-search">{{ 'bloc.relauch-search.title-sr-only'|trans }}</div>
		<ul aria-describedby="filters-search" class="search-criteria__list">
			{% for key, criteria in objSearch.advancedCriteria %}
				<li class="search-criteria__item">
					{% if is_search_word(key) %}
						{{ ('modal.advanced-search.keyword.type.'~key)|trans }}:&nbsp;
					{% endif %}
					{{ criteria }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
