<!-- Début - Bloc 10 Rappel des critères de recherche -->

<div class="search-criteria">
	<p class="search-criteria__label">{{ 'bloc.filters-search.title'|trans }}</p>
	<div class="sr-only" id="filters-search">{{ 'bloc.relauch-search.title-sr-only'|trans }}</div>
	<ul aria-describedby="filters-search" class="search-criteria__list">
		<li class="search-criteria__item">
			<a href="#" lang="fr">Titre</a>
		</li>
		<li class="search-criteria__item">
			<a href="#" lang="fr">Français et homme</a>
		</li>
		<li class="search-criteria__item">
			<a href="#" lang="fr">Littérature</a>
		</li>
	</ul>
</div>

<!-- Fin - Bloc 10 Rappel des critères de recherche -->
