<div class="search-criteria">
	{% if objSearch.advancedCriteria|length > 0 %}
		<p class="search-criteria__label">
			{{ objSearch.advancedMode ? 'bloc.filters-search.advanced-title'|trans : 'bloc.filters-search.simple-title'|trans }}</p>
		<ul class="search-criteria__list">
			{% for key, criteria in objSearch.advancedCriteria %}
				<li class="search-criteria__item">
					{% if is_search_word(key) %}
						{{ ('modal.advanced-search.keyword.type.'~key)|trans }}:&nbsp;
					{% else %}
						{{ ('modal.advanced-search.facette.'~key)|trans }}:
					{% endif %}

					{{ criteria }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
