{% extends 'base.html.twig' %}

{% block title %}Aide - Mon compte{% endblock %}

{% block body %}

	<h1 class="n1">Aide - Mon compte</h1>
	
	{% include "help/blocs/navigation.html.twig" %}

	<!-- Début - Bloc 22 Contenu de la page -->

	<div>
		<div id="section-04-01" lang="fr">
			<h2 class="n1">Mes listes</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-04-02" lang="fr">
			<h2 class="n1">Mon historique</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
	</div>

	<!-- Fin - Bloc 22 Contenu de la page -->

{% endblock %}
