{% extends 'base.html.twig' %}

{% block title %}Aide - Exploitation des résultats{% endblock %}

{% block body %}

{% include "help/blocs/navigation.html.twig" %}
	
	<h1 class="n1" lang="fr">Exploitation des résultats</h1>
	<div lang="fr">
		<div id="liste-resultats">
			<h2 class="n2">Liste de résultats</h2>
				<h3 class="n4">Les résultats</h3>
				<p class="text-justify">Les résultats s’affichent sur deux colonnes : la colonne de gauche présente les références des documents imprimés proposés à la Bpi. La colonne de droite affiche les références des documents électroniques et leur lien d’accès.</p>
				<p class="text-justify">Par défaut, l’ordre d’affichage des résultats est basé sur la pertinence des réponses par rapport à la recherche. Il est modifiable au moyen du bouton “Trier par” visible au-dessus de la liste. Les autres affichages possibles sont par classements alphabétiques des auteurs ou des titres et par classement chronologique des dates.</p>
				<p class="text-justify">Sous l’encart de recherche, vous pouvez relancer la recherche sur d’autres orthographes proposées ou sur des suggestions de sujets liés à votre recherche (sujets voisins à la recherche effectuée).</p>
				<p class="text-justify">La liste de résultats fournit les informations essentielles pour identifier et localiser le document dans la bibliothèque ou y accéder s’il s’agit d’un document électronique. Lorsqu’un document dispose d’un résumé, un “i” apparaît à côté du titre. Au passage de la souris sur le “i”, le résumé s’affiche dans une infobulle.</p>
				<img src="{{ asset('/images/aide/07infobulle-resume.png') }}" alt="Infobulle Résumé" class="mb-5">
				<p class="text-justify">Au clic sur le titre, vous accédez à <a href="/fr/aide/resultat#notice-detaillee">la description complète et détaillée du document.</a></p>
				<br>
				<h3 class="n4">L'autorité</h3>
				<p class="text-justify">La notice qui se trouve au-dessus de la liste de résultats présente une entité (nommée Autorité dans le monde des bibliothèques). Elle ne décrit pas un document mais un terme employé pour désigner de manière univoque et non ambigüe les auteurs ou les sujets d’un document.</p>
				<p class="text-justify">Ce peut être un nom de personne physique ou de collectivité, un nom commun, un nom géographique, un titre d’œuvre ou un indice de classement utilisé dans la bibliothèque.</p>
				<p class="text-justify">Le terme cité en haut de la liste est celui qui est le plus représenté dans les références documentaires affichées en résultat. Il est proposé à titre informatif et peut être l’objet d’une nouvelle recherche dans le catalogue. En cliquant sur le terme, vous accédez à la <href="/fr/aide/resultat#notice-autorite"> description complète de l’Autorité.</a></p>
				<br>
		</div>
		<div id="affiner">
			<h2 class="n2">Affiner sa recherche</h2>
			<p class="text-justify">Il est possible d’agir sur la liste de résultats pour en restreindre le nombre. Cliquez sur le bouton “Affiner” en haut de la liste.</p>
			<p class="text-justify">Plusieurs filtres sont proposés (exemples : type de document, support, date, ...) et, pour chacun, des listes de propositions à cocher s’affichent.Chacune des propositions est suivie d’un chiffre qui correspond au nombre de documents rattachés. Tous les filtres ont un fonctionnement semblable (cases à cocher) sauf le filtre Date qui prend la forme d’une réglette dont les curseurs permettent de choisir un intervalle de dates. 
Après avoir choisi vos filtres, cliquez sur “Affiner” en bas à droite.
Si vous souhaitez changer les filtres, cliquez à nouveau sur “Affiner”, vous retrouvez les filtres choisis précédemment prêts à être modifiés.</p>
			<br>
		<div id="notice-detaillee">
			<h2 class="n2">Notice détaillée</h2>
			<p class="text-justify">La notice détaillée affiche la description complète du document, ainsi que sa localisation dans la bibliothèque ou son lien d’accès si c’est un document électronique. Certains éléments de la description, identifiables par la couleur bleue, sont cliquables et relancent une nouvelle recherche dans le catalogue. Exemples : les auteurs, les contributeurs, les sujets, les éditeurs, les titres d’œuvres, ...</p>
			<p class="text-justify">En fin de page, la rubrique “Sur le même thème” signale les autres documents qui sont classés dans la même section que le document courant.</p>	
			<br>
		</div>
		<div id="notice-autorite">
			<h2 class="n2">Notice d'autorité</h2>
				<h3 class="n4">La notice d'autorité détaillée</h3>
				<p class="text-justify">La notice d’autorité détaillée fournit l’ensemble des informations relatives à l’entité, notamment ses différents synonymes ou son contexte d’utilisation. Certains éléments de la description, identifiables par la couleur bleue, sont cliquables et relancent une nouvelle recherche dans le catalogue.</p>
				<br>
				<h3 class="n4">Les documents liés</h3>
				<p class="text-justify">En seconde partie d’écran, sont affichés les documents pour lesquels l’entité est auteur ou sujet.</p>
				<p class="text-justify">Pour les autorités de type “indice de classement”, une rubrique “Feuilletage d’indices” s’affiche dans la troisième partie d’écran. Un indice de classement situe le sujet de l’ouvrage dans une classification de connaissances. À la Bpi, l’indice est majoritairement constitué de chiffres, et plus rarement de lettres (exemples : l’indice 670.5 concerne les documents sur l’horlogerie-bijouterie ; l’indice PRA H3 concerne les documents sur les guides pratiques des promenades en Île-de-France. Le feuilletage permet de naviguer parmi les indices de proche en proche et de relancer une recherche sur un autre indice.</p>
				<br>
		</div>
		<div id="relance-recherche">
			<h2 class="n2">Relancer la recherche dans d'autres catalogues</h2>
			<p class="text-justify">Le catalogue permet de relancer votre recherche dans d’autres catalogues de bibliothèques. Cliquez sur “Relancer la recherche dans” situé sous le formulaire de recherche et choisissez un catalogue dans le menu. Un nouvel onglet s’ouvre, affichant les résultats dans le catalogue. Seuls les termes de la recherche initiale sont repris mais pas les critères.</p>
			<img src="{{ asset('/images/aide/08relance-autres-catalogues.png') }}" alt="Relance autres catalogues" class="mb-5">
			<br>
		</div>
	</div>

{% endblock %}
