{% extends 'base.html.twig' %}

{% block title %}Aide - Services{% endblock %}

{% block body %}

	<h1 class="n1">Aide - Services</h1>
	
	{% include "help/blocs/navigation.html.twig" %}

	<div>
		<div id="section-03-01" lang="fr">
			<h2 class="n1">Alerte de mise en rayon</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-03-02" lang="fr">
			<h2 class="n1">Impression et export</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-03-03" lang="fr">
			<h2 class="n1">Suggestion d'achat</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-03-04" lang="fr">
			<h2 class="n1">Historique de recherche</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-03-05" lang="fr">
			<h2 class="n1">Ma sélection</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-03-06" lang="fr">
			<h2 class="n1">Signaler une erreur</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
	</div>

{% endblock %}
