{% extends 'base.html.twig' %}

{% block title %}Aide - Services{% endblock %}

{% block body %}

	<h1 class="n1" lang="fr">Aide - Services</h1>
	
	{% include "help/blocs/navigation.html.twig" %}

	<div lang="fr">
		<div id="section-03-01">
			<p>Les services détaillés ci-dessous sont, sauf indication contraire, accessibles sur toutes les pages via la barre verticale affichée en permanence à droite de l’écran.</p>
			<p>Lors de l’affichage sur tablette ou mobile, cette barre est positionnée horizontalement en haut des résultats ou des notices.</p>
			<p>Selon la page où vous vous trouvez, un service peut être inactif, la vignette correspondante est alors en grisé dans la barre.</p>
			<h2 class="n1">Alerte de mise en rayon</h2>
			<p>Ce service n’est présent que sur les notices de documents indisponibles à la bibliothèque (en commande, envoi chez le relieur, ...)
			L’alerte permet d’être informé(e) de leur disponibilité à la Bpi. Cliquez sur l’icône enveloppe à côté du libellé “Indisponible”. Indiquez votre adresse électronique et 				cliquez sur “Envoyer”. Vous recevrez un message lorsque le document sera disponible. Attention : ceci ne correspond pas à une réservation du document.</p>
		</div>
		<div id="section-03-02">
			<h2 class="n1">Impression et export</h2>
				<h3 class="n1">Icône Imprimer</h3>
				<p>Cochez la(les) notice(s) au préalable puis cliquez sur l’icône et choisissez le format d’impression (notice brève ou complète).</p>
				<h3 class="n1">Icône Exporter</h3>
				<p>Cette icône permet l’envoi par messagerie électronique de la(des) notice(s) sélectionnée(s). Cochez la(les) notice(s) au préalable puis cliquez sur l’icône.
				Les notices sont envoyées dans un fichier joint. Vous choisissez de recevoir un fichier en format texte ou en format PDF.
				En option, vous pouvez également choisir d’envoyer les vignettes d’illustration (uniquement pour un fichier en format PDF.)</p>
				<h3 class="n1">Icône Partager</h3>
				<p>- Pour partager la page sur les réseaux sociaux
				- Pour exploiter le permalien du document consulté
				- Pour envoyer la page à un ami</p>
		</div>
		<div id="section-03-03">
			<h2 class="n1">Suggestion d'achat</h2>
			<p>Cette icône permet de demander l’acquisition d’un document par la Bpi. Seul le titre du document suggéré à l’achat est obligatoire pour remplir le formulaire et en 					permettre l’envoi. Les autres données sont facultatives.</p>
		</div>
		<div id="section-03-04">
			<h2 class="n1">Historique de recherche</h2>
			<p>Chaque recherche documentaire effectuée est archivée temporairement. Vous pouvez accéder aux termes de vos requêtes passées en cliquant sur l’icône Historique située 				tout en haut à droite de l’écran. En liquant sur la loupe (en bout de ligne), la recherche est relancée. La durée de conservation de l’historique sans vous connecter à 				votre compte est limitée à une vingtaine de minutes.</p>
		</div>
		<div id="section-03-05">
			<h2 class="n1">Ma sélection</h2>
			<p>Au cours de vos recherches, vous pouvez mettre de côté des notices dans un panier temporaire en vue de l’exporter ou de l’imprimer.
Cochez la(les) notice(s) que vous souhaitez et cliquez sur l’icône Ma sélection. La notice est envoyée dans Ma sélection.</p>
			p>Pour accéder aux notices mises dans Ma sélection, cliquez sur l'élément Ma sélection positionné tout en haut à droite de l’écran. Le compteur affiché à côté signale 				le nombre de notices présentes. Si vous utilisez la sélection sans être connecté à votre compte, la sélection aura une durée limitée à une vingtaine de minutes.</p>
		</div>
		<div id="section-03-06">
			<h2 class="n1">Signaler une erreur</h2>
			<p>Pour signaler une erreur sur une référence du catalogue.</p>
		</div>
	</div>

{% endblock %}
