// -------------------------------
// Base
// -------------------------------

html {
	font-size: $font-size-html;
}

a {

	&:focus {
		outline: $outline;
		color: $red;
	}
}

a[target="_blank"] {

	&:hover {
		text-decoration: $hover-target;
		text-decoration-style: dotted;
		text-decoration-color: $red;
	}
}

button,
.btn,
select {

	&:focus,
	&.focus {
		outline: $outline;
	}
}

:focus {
	outline: $outline;
}

.border-default {
	border-top: $border-default;
}

.border-thin {
	border-top: $border-thin;
}

.border-double {
	background-image: url('/images/double-bordure.png');
	background-repeat: repeat-x;

	&.hr-double {
		border-top: 0;
		height: 10px;
		border: 0;
	}
}

.title-icone {
	display: flex;
	align-items: center;
}

.icone-square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(20);
	height: rem(20);
	margin-right: rem(5);
	background-color: $black;
	text-align: center;
	
	img {
		height: rem(13);
	}
}

.dropdown-toggle::after {
	border-top: 7px solid;
}

.form-check {
	padding-left: 0;
}

.invalid-feedback {
	font-size: rem(13);
}

.disabled {
	opacity: 0.5;
}

.form-control {
	font-family: sans-serif;
}

.container {
	max-width: 100%;

	@include media-breakpoint-up(md) {
		width: 52rem;
	}

	@include media-breakpoint-up(lg) {
		width: 65.33333333rem;
		max-width: 83%;
	}

	@include media-breakpoint-up(xl) {
		width: 69.33333333rem;
		max-width: 85%;
	}
}
