// -------------------------------
// Base
// -------------------------------

html {
	font-size: $font-size-html;
}

a {

	&:focus {
		outline: $outline;
		color: $red;
	}
}

a[target="_blank"] {

	&:hover {
		text-decoration: $hover-target;
	}
}

button,
.btn,
select {

	&:focus,
	&.focus {
		outline: $outline;
	}
}

.border-default {
	border-top: $border-default;
}

.border-double {
	background-image: url('/images/double-bordure.png');
	background-repeat: repeat-x;
}