// -------------------------------
// Buttons + Link
// -------------------------------

.btn {

	&-primary {
		padding: 3px 10px;
		color: $white;
		font-weight: $font-medium;
		transition: .15s;

		&:hover,
		&:focus {
			background-color: $black;
			color: $white;
		}

		@include media-breakpoint-up(md) {
			padding: 3px 25px;
		}
	}

	&-secondary {
		padding: 3px 10px;
		color: $white;
		font-weight: $font-medium;
		transition: .15s;

		&:hover,
		&:focus {
			background-color: $black;
			color: $white;
		}

		@include media-breakpoint-up(md) {
			padding: 3px 25px;
		}
	}

	&-lg {
		@include font-size(15);

		@include media-breakpoint-up(md) {
			@include font-size(21);
			@include line-height(21, 31);
		}
	}

	&-link {
		@include font-size(15);
		font-weight: $font-bold;
		color: $red;
		padding: 0;
		transition: .15s;

		@include media-breakpoint-up(md) {
			@include font-size(18);
		}

		&:hover,
		&:focus {
			color: $black;
		}
	}

	&-img {
		display: flex;
		align-items: stretch;

		img {
			width: 18px;
			height: 25px;
			margin-left: 10px;

			@include media-breakpoint-up(md) {
				width: 23px;
				height: 30px;
			}
		}
	}

	&-small-link {
		background: transparent;
		border: 0;
		padding: 0;
		color: $blue;

		&:hover {
			color: $red;
			text-decoration: underline;
		}

		&[disabled='disabled'] {
			color: $grey-disabled;

			&:hover {
				color: $grey-disabled;
				text-decoration: none;
			}
		}
	}
}

.link {

	&--icone {
		margin-top: -2px;
		display: block;

		img {
			height: 13px;

			+ span {
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}

	&--icone-end {
		margin-top: -2px;
		display: block;

		img {
			height: 13px;
			transform: scaleX(-1);
			margin-top: -3px;
		}
	}

	&--inline {
		display: inline-block;
	}
}