// -------------------------------
// Install Fonts
// -------------------------------

@font-face {
	font-family: 'DINWeb';
	font-style: normal;
	font-weight: normal;
	src:	url('/build/fonts/DINWeb.eot');
	src: 	url('/build/fonts/DINWeb.eot?#iefix') format('embedded-opentype'),
			url('/build/fonts/DINWeb.woff') format('woff'),
			url('/build/fonts/DINComp.ttf') format('truetype');
}

@font-face {
	font-family: 'DINWeb';
	font-style: normal;
	font-weight: 500;
	src:	url('/build/fonts/DINWeb-Medium.eot');
	src: 	url('/build/fonts/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
			url('/build/fonts/DINWeb-Medium.woff') format('woff'),
			url('/build/fonts/DINComp-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'DINWeb';
	font-style: normal;
	font-weight: bold;
	src:	url('/build/fonts/DINWeb-Bold.eot');
	src: 	url('/build/fonts/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
			url('/build/fonts/DINWeb-Bold.woff') format('woff'),
			url('/build/fonts/DINComp-Bold.ttf') format('truetype');
}