// -------------------------------
// Typographie
// -------------------------------

.n1 {
	@include font-size(21);
	@include line-height(21, 23);
	color: $black;
	font-weight: $font-bold;
	margin-bottom: $spacer;
}

.n2 {
	@include font-size(21);
	@include line-height(21, 23);
	color: $black;
	font-weight: $font-regular;
	margin-bottom: $spacer;
}

.n3 {
	text-transform: uppercase;
	font-size: $font-base px;
	@include line-height(13, 15);
	color: $blue;
	font-weight: $font-regular;
	margin-bottom: $spacer;
}

.n4 {
	font-size: $font-base px;
	@include line-height(13, 15);
	color: $blue;
	font-weight: $font-bold;
	margin-bottom: $spacer;
}

.n5 {
	font-size: $font-base px;
	@include line-height(13, 15);
	color: $black;
	font-weight: $font-bold;
	margin-bottom: $spacer;
}

.n6 {
	font-size: $font-base px;
	@include line-height(13, 15);
	color: $blue;
	font-weight: $font-regular;
	margin-bottom: $spacer;
}

.n7 {
	font-size: $font-base px;
	@include line-height(13, 15);
	color: $black;
	font-weight: $font-regular;
}

.n8 {
	@include font-size(9);
	color: $black;
	font-weight: $font-regular;
}