// -------------------------------
// Typographie
// -------------------------------

.n1 {
	font-size: 21px;
	line-height: 23px;
	color: $black;
	font-weight: $font-bold;
}

.n2 {
	font-size: 21px;
	line-height: 23px;
	color: $black;
	font-weight: $font-regular;
}

.n3 {
	text-transform: uppercase;
	line-height: 15px;
	color: $blue;
	font-weight: $font-regular;
}

.n4 {
	line-height: 15px;
	color: $blue;
	font-weight: $font-bold;
}

.n5 {
	line-height: 15px;
	color: $black;
	font-weight: $font-bold;
}

.n6 {
	line-height: 15px;
	color: $blue;
	font-weight: $font-regular;
}

.n7 {
	line-height: 15px;
	color: $black;
	font-weight: $font-regular;
}

.n8 {
	font-size: 9px;
	color: $black;
	font-weight: $font-regular;
}