<div class="account">
	{# Quand on est pas connecté #}
	<a href="{{ path('user_login') }}" class="account__link btn">Mon compte</a>

	{# Quand on est connecté #}
	<div class="dropdown account__group d-none" aria-label="Menu-compte">
		<span class="sr-only">Gestion de mon compte</span>
		<button type="button" id="dropdown-compte" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="account__button btn">
		Bienvenue, Prénom
		</button>
		<ul class="dropdown-menu account__list" aria-labelledby="dropdown-compte" role="listbox" tabindex="-1">
			<li class="dropdown-item account__list-item" role="option"><a href="#">Se deconnecter</a></li>
			<li class="dropdown-item account__list-item" role="option"><a href="#" title="Accéder à mon compte - {{ 'global.new-windows'|trans }}" target="_blank">Mon compte</a></li>
		</ul>
	</div>
</div>
