<ul class="menu-evitement__list">
	<li><a href="#contenu-site" class="sr-only sr-only-focusable">{{ 'header.navbar-evitement.contenu-site'|trans }}</a></li>
	<li><a href="#bloc-menu" class="sr-only sr-only-focusable">{{ 'header.navbar-evitement.bloc-menu'|trans }}</a></li>
	<li><a href="#menu-plans-sites" class="sr-only sr-only-focusable">{{ 'header.navbar-evitement.menu-plans-sites'|trans }}</a></li>
	<li><a href="#form-search" class="sr-only sr-only-focusable">{{ 'header.navbar-evitement.form-search'|trans }}</a></li>
</ul>
