<div class="dropdown" aria-label="Menu-secondaire">
	<span class="sr-only">Autres sites</span>
	<button type="button" id="dropdown-autres-sites" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="visible-xs">
	Autres sites 
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdown-autres-sites" role="listbox" tabindex="-1">
		<li class="dropdown-item" role="option"><a href="#" title="Bpi - nouvelle fenêtre" target="_blank">La Bpi</a></li>
		<li class="dropdown-item" role="option"><a href="#" title="Balises - nouvelle fenêtre" target="_blank">Balises</a></li>
		<li class="dropdown-item" role="option"><a href="#" title="Professionnels - nouvelle fenêtre" target="_blank">Professionnels</a></li>
		<li class="dropdown-item" role="option"><a href="#" title="Cinéma du réel - nouvelle fenêtre" target="_blank">Cinéma du réel</a></li>
	</ul>
</div>
