<div class="dropdown menu-secondaire" aria-label="Menu-secondaire">
	<span class="sr-only">Autres sites</span>
	<button type="button" id="dropdown-autres-sites" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="menu-secondaire__button btn">
	Autres sites 
	</button>
	<ul class="dropdown-menu menu-secondaire__list" aria-labelledby="dropdown-autres-sites" role="listbox" tabindex="-1">
		<li class="dropdown-item menu-secondaire__list-item" role="option">
			<a href="https://www.bpi.fr/bpi" title="Bpi - nouvelle fenêtre" target="_blank">La Bpi</a>
		</li>
		<li class="dropdown-item menu-secondaire__list-item" role="option">
			<a href="https://balises.bpi.fr/a-la-une" title="Balises - nouvelle fenêtre" target="_blank">Balises</a>
		</li>
		<li class="dropdown-item menu-secondaire__list-item" role="option">
			<a href="https://pro.bpi.fr/pro" title="Professionnels - nouvelle fenêtre" target="_blank">Professionnels</a>
		</li>
		<li class="dropdown-item menu-secondaire__list-item" role="option">
			<a href="http://www.cinemadureel.org/" title="Cinéma du réel - nouvelle fenêtre" target="_blank">Cinéma du réel</a>
		</li>
	</ul>
</div>
