<div class="dropdown" aria-label="Menu-langue">
	<button type="button" id="dropdown-langues" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="visible-xs">
	*Insert Current Lang*
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdown-langues">
		<li class="dropdown-item"><a href="#" aria-label="English version" lang="en">EN</a></li>
		<li class="dropdown-item"><a href="#" aria-label="Espagnol version" lang="es">ES</a></li>
		<li class="dropdown-item">FR</li>
	</ul>
</div>