<ul>
	<li>
		<a href="{{ path('user_personal_data') }}"><i aria-hidden="true">*Insert icone coeur*</i> Ma sélection</a>
	</li>
	<li>
		<a href="{{ path('user_personal_data') }}"><i aria-hidden="true">*Insert icone horloge*</i> Historique</a>
	</li>
</ul>