<ul>
	<li>
		<a href="{{ path('user_personal_data') }}"><img src="https://via.placeholder.com/15x15" alt="" class="icone-coeur"/> Ma sélection</a>
	</li>
	<li>
		<a href="{{ path('user_personal_data') }}"><img src="https://via.placeholder.com/15x15" alt="" class="icone-horloge"/> Historique</a>
	</li>
</ul>