<nav class="navbar navbar-expand-lg" role="navigation" aria-label="menu principal">
	<div class="collapse navbar-collapse" id="navbar-principale">
		<ul class="navbar-nav">
			<li clas="nav-link"><a href="#" class="nav-link">Accueil</a></li>
			<li clas="nav-link"><a href="#" class="nav-link">Catalogue</a></li>
			<li clas="nav-link"><a href="#" class="nav-link">Agenda</a></li>
			<li clas="nav-link dropdown">
				<a href="#" class="nav-link dropdown-toggle">La Bibliothèque</a>
				<ul>
					<li>
						<a href="#">Missions et organisation</a>
						<ul>
							<li><a href="#">Organigramme</a></li>
							<li><a href="#">La bibliothèque en rénovation</a></li>
							<li><a href="#">Chartes</a></li>
							<li><a href="#">Rapports d'activité</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Collections</a>
						<ul>
							<li><a href="#">Livres</a></li>
							<li><a href="#">Revus spécialisées</a></li>
							<li><a href="#">Presse</a></li>
							<li><a href="#">Ressources électroniques</a></li>
							<li><a href="#">Autoformation</a></li>
							<li><a href="#">Collections audiovisuelles</a></li>
							<li><a href="#">Musiques et documents parlés</a></li>
							<li><a href="#">Nouvelle génération</a></li>
							<li><a href="#">Cartes et plans</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Offres culturelles et médiations</a>
						<ul>
							<li><a href="#">Evénements culturels</a></li>
							<li><a href="#">Médiations</a></li>
							<li><a href="#">Offres à distance</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Publications et supports de communication</a>
						<ul>
							<li><a href="#">Programme de la Bpi</a></li>
							<li><a href="#">Lettres d'information</a></li>
							<li><a href="#">De ligne en ligne</a></li>
							<li><a href="#">Supports de communication</a></li>
							<li><a href="#">Editions de la bibliothèque publique d'information</a></li>
							<li><a href="#">Web TV / Web Radio</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Les publics de la Bpi</a>
						<ul>
							<li><a href="#">Sociologie des publics</a></li>
							<li><a href="#">Enquêtes auprès des publics</a></li>
						</ul>
					</li>
					<li>
						<a href="#">La Bpi en chiffres</a>
					</li>
					<li>
						<a href="#">Histoire de la Bpi</a>
					</li>
				</ul>
			</li>
			<li clas="nav-link dropdown">
				<a href="#" class="nav-link dropdown-toggle">Informations pratiques</a>
				<ul>
					<li>
						<a href="#">Venir à la Bpi</a>
						<ul>
							<li><a href="#">Horaires</a></li>
							<li><a href="#">Webcam</a></li>
							<li><a href="#">Accès</a></li>
							<li><a href="#">Bpi mode d'emploi</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Les espaces</a>
						<ul>
							<li><a href="#">Niveau 1</a></li>
							<li><a href="#">Niveau 2</a></li>
							<li><a href="#">Niveau 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Les services</a>
						<ul>
							<li><a href="#">Renseignements et orientation</a></li>
							<li><a href="#">Internet et le wifi</a></li>
							<li><a href="#">L'autre internet</a></li>
							<li><a href="#">Les autres services</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Les offres par type de public</a>
						<ul>
							<li><a href="#">Etudiant ou lycéen</a></li>
							<li><a href="#">Enseignant</a></li>
							<li><a href="#">Famille</a></li>
							<li><a href="#">Intervenant du champ social</a></li>
							<li><a href="#">Nouvel arrivant à Paris</a></li>
							<li><a href="#">En recherche d'emploi</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Handicap et accessibilité</a>
						<ul>
							<li><a href="#">Accès</a></li>
							<li><a href="#">Les loges</a></li>
							<li><a href="#">Les autres services à destination du public handicapé</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Emplois et stage</a>
						<ul>
							<li><a href="#">Emplois permanents</a></li>
							<li><a href="#">Emplois temporaires</a></li>
							<li><a href="#">Stages</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Marchés publics</a>
						<ul>
							<li><a href="#">Consultations</a></li>
							<li><a href="#">Candidatures</a></li>
							<li><a href="#">Attributions</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Foire aux quesitions</a>
					</li>
				</ul>
			</li>
			<li clas="nav-link dropdown">
				<a href="#" class="nav-link dropdown-toggle">Presse / Partenariats</a>
				<ul>
					<li>
						<a href="#">Communiqués et dossiers de presse</a>
						<ul>
							<li><a href="#">Archives des communiqués</a></li>
						</ul>
					</li>
					<li><a href="#">Tournages et prises de vues</a></li>
					<li><a href="#">Logos</a></li>
					<li>
						<a href="#">Visuels</a>
						<ul>
							<li><a href="#">Espaces de la bibliothèque</a></li>
							<li><a href="#">Albert et David Maysles "It's all in the film"</a></li>
							<li><a href="#">Laïla Pakalnina, drôle de réel</a></li>
						</ul>
					</li>
					<li><a href="#">Partenariats</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>