// -------------------------------
// Modals - Recherche avancée - Ajout de mots clés
// -------------------------------

.search-keyword {

	&__group {
		align-items: center;
		margin-bottom: $spacer;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__condition {
		margin-bottom: 5px;

		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
		}
	}

	&__input {
		flex: 1;
		margin-bottom: 5px;
		padding-left: 0;

		@include media-breakpoint-up(sm) {
			padding-right: 0;
			margin-bottom: 0;
		}

		input {
			width: 100%;

			&:focus {
				z-index: 100;
			}
		}
	}

	&__button {
		width: 20px;
		height: 20px;
		background-image: url('/images/icones/icone-bouton-plus.svg');
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		padding: 0;

		&--remove {
			background-image: url('/images/icones/icone-bouton-moins.svg');
		}
	}
}