// -------------------------------
// Modals - Recherche avancée - Date de publication
// -------------------------------

.search-date {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: $spacer;

	@include media-breakpoint-up(sm) {
		margin-bottom: 0;
	}

	&__group {
		min-width: 100%;
		flex: 0 0 100%;

		@include media-breakpoint-up(md) {
			min-width: auto;
			flex: 0 0 auto;
		}

		& + & {
			margin-top: $spacer;
			display: flex;
			align-items: center;

			@include media-breakpoint-up(md) {
				margin-top: 0;
			}
		}

		input[type="text"] {
			max-width: 95px;
		}
	}

	&__date {
		margin-bottom: 0;

		@include media-breakpoint-up(md) {
			padding-left: $spacer;
		}

		&--second {
			position: relative;
			padding-left: 38px;

			&:before {
				content: '-';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 15px;
			}
		}
	}
}