<!-- Début - Bloc 24 Barre des tâches -->

<div>
	<div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="account-select-all">
			<label class="form-check-label" for="account-select-all" aria-label="Sélectionner toute les listes">Tout sélectionner</label>
		</div>
		<a href="#">Annuler la sélection</a>

		<div>
			<p>Listes sélectionnées <span>(123)</span></p>
			<p>Documents sélectionnés <span>(123)</span></p>
		</div>

		<div>
			<a href="#">Ajouter à <i aria-hidden="true">*insert icone caret*</i></a>
			<a href="#">Monter <i aria-hidden="true">*insert icone caret*</i></a>
			<a href="#">Descendre <i aria-hidden="true">*insert icone caret*</i></a>
			<a href="{{ path('user_list_remove') }}">Supprimer <i aria-hidden="true">*insert icone croix*</i></a>
		</div>
	</div>
</div>

<!-- Fin - Bloc 24 Barre des tâches -->