<!-- Début - Bloc 24 Barre des tâches -->

<div class="col-12 col-md-auto">
	<div class="d-flex">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="account-select-all">
			<label class="form-check-label" for="account-select-all">Tout sélectionner</label>
		</div>
		<a href="#">Annuler la sélection</a>
	</div>
</div>

<div class="col-12 col-md-auto">
	<div class="d-flex">
		<p>Listes sélectionnées <span>(123)</span></p>
		<p>Documents sélectionnés <span>(123)</span></p>
	</div>
</div>

<div class="col-12 col-md-auto">
	<ul class="d-flex">
		<li>
			<a href="#">Ajouter à <span class="sr-only">une liste</span><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></a>
		</li>
		<li>
			<a href="#">Monter <span class="sr-only">la liste</span><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></a>
		</li>
		<li>
			<a href="#">Descendre <span class="sr-only">la liste</span><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></a>
		</li>
		<li>
			<a href="{{ path('user_list_remove') }}">Supprimer <span class="sr-only">la liste</span><img src="https://via.placeholder.com/15x15" alt="" class="icone-croix"/></a>
		</li>
	</ul>
</div>

<!-- Fin - Bloc 24 Barre des tâches -->
