<!-- Début - Bloc 26 Historique des recherches -->

<div>
	<h2 id="historic-search-label"><i aria-hidden="true">*Insert icone horloge*</i> Mon historique</h2>

	<div>
		<p class="sr-only sr-only-focusable" tabindex="0">Texte explicatif, précisions sur "sélection d'au moins un document permet de supprimer ces documents" et "il est nécessaire de revenir sur la barre des tâches en haut de la liste pour effectuer cette opération".</p>
		<div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="historique-select-all">
				<label class="form-check-label" for="historique-select-all" aria-label="Sélectionner toute la liste d'historique">Tout sélectionner</label>
			</div>
			<a href="#">Annuler la sélection</a>
		</div>
		<div>
			<a href="#" aria-label="Supprimer la sélection">Supprimer <i aria-hidden="true">*Insert icone croix*</i></a>
		</div>
	</div>

	<div>
		<table class="table" role="table" aria-label="nom-de-la-liste" aria-describedby="historic-search-label">
			<thead>
				<tr>
					<th></th>
					<th scope="col" aria-sort="none" role="columnheader">
						<button role="button" aria-label="Nom de la recherche : activer pour trier par ordre ascendant/descendant">Nom de la recherche <i aria-hidden="true">*Insert icone carets*</i></button>
					</th>
					<th scope="col" aria-sort="none" role="columnheader">
						<button role="button" aria-label="Recherché le : activer pour trier par ordre ascendant/descendant">Recherché le <i aria-hidden="true">*Insert icone carets*</i></button>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for i in 1..5 %}
					<tr>
						<td><input type="checkbox" aria-label="Sélectionnez la ligne : *Insert informations sur la recherche*"></td>
						<td>*Insert informations sur la recherche*</td>
						<td>*Insert date JJ/MM/AAAA à HH:MM*</td>
						<td>
							<a href="#" aria-label="Relancer la recherche *Insert informations sur la recherche*">*<i aria-hidden="true">Insert icone loupe*</i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!-- Fin - Bloc 26 Historique des recherches -->
