<!-- Début - Bloc 25 Liste des documents présents dans Ma sélection -->

<div>
	<div>
		{% for i in 1..3 %}

			<div class="d-flex">
				<label for="select-liste-{{ i }}">Sélectionner la liste : *Insert nom de la liste*</label>
				<input type="checkbox" id="select-liste-{{ i }}">
				<p>*Insert nom de la liste*</p>
				<a href="{{ path('user_list_edit') }}"><span class="sr-only sr-only-focusable">Changer le nom de la liste</span><img src="https://via.placeholder.com/15x15" alt="" class="icone-pen"/></a>
			</div>

			<table class="table">
				<caption>*Insert nom de la liste*</caption>
				<thead>
					<tr>
						<th></th>
						<th scope="col" aria-sort="none">
							<button type="button" aria-label="Titre : activer pour trier par ordre ascendant/descendant">Titre <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></button>
						</th>
						<th scope="col" aria-sort="none">
							<button type="button" aria-label="Auteur : activer pour trier par ordre ascendant/descendant">Auteur <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></button>
						</th>
						<th scope="col" aria-sort="none">
							<button type="button" aria-label="Type : activer pour trier par ordre ascendant/descendant">Type <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></button>
						</th>
						<th scope="col" aria-sort="none">
							<button type="button" aria-label="Ajoutée le : activer pour trier par ordre ascendant/descendant">Ajoutée le <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></button>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for i in 1..3 %}
						<tr>
							<td><input type="checkbox" aria-label="Sélectionner toute la ligne : *Insert title*, *Insert auteur*, *Insert type de document*"></td>
							<td>
								<a href="#" aria-label="Accéder à *Insert title*">*Insert title*</a>
							</td>
							<td>
								<p>*Insert auteur*</p>
							</td>
							<td>
								<img src="https://via.placeholder.com/15x15" alt="" class="icone-type-document"/>
							</td>
							<td>*Insert date*</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% endfor %}
	</div>

	<div>
		<button type="button"><img src="https://via.placeholder.com/15x15" alt="" class="icone-plus"/> Créer une nouvelle liste</button>
	</div>
</div>
<!-- Fin - Bloc 25 Liste des documents présents dans Ma sélection -->
