<div class="row justify-content-center">
	<div class="col-12 col-sm-10 col-md-9 col-lg-7">
		<ul class="list-information account-form">
			{% if app.user %}
				{% include 'common/informations-list.html.twig' with {'details': {
					'page.personal-data.profil.pseudo': app.user.username,
					'page.personal-data.profil.name': app.user.lastname~' '~app.user.firstname,
					'page.personal-data.profil.email': app.user.email
				}} %}
			{% endif %}
		</ul>
	</div>
</div>
