<div class="row justify-content-center">
	<div class="col-12 col-sm-10 col-md-9 col-lg-7">
		<ul class="list-information account-form">
			<li class="list-information__item">
				<span class="list-information__label">{{ 'page.personal-data.profil.pseudo'|trans }}</span>
				<span class="list-information__sub-list">Lorem</span>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">{{ 'page.personal-data.profil.name'|trans }}</span>
				<span class="list-information__sub-list">Lorem Ipsum Dolor</span>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">{{ 'page.personal-data.profil.email'|trans }}</span>
				<span class="list-information__sub-list">lorem-ipsum@dolor.com</span>
			</li>
		</ul>
	</div>
</div>