{% extends 'base.html.twig' %}

{% block title %}Aide - Exploitation des résultats{% endblock %}

{% block body %}

	<h1 class="n1">Aide - Exploitation des résultats</h1>
	
	{% include "other/blocs/navigation.html.twig" %}

	<!-- Début - Bloc 22 Contenu de la page -->

	<div>
		<div id="section-02-01" lang="fr">
			<h2 class="n1">Liste de résultats</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-02-02" lang="fr">
			<h2 class="n1">Affiner sa recherche</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-02-03" lang="fr">
			<h2 class="n1">Notice détaillée</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-02-04" lang="fr">
			<h2 class="n1">Notice d'autorité</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="section-02-05" lang="fr">
			<h2 class="n1">Relancer la recherche dans d'autres catalogues</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
	</div>

	<!-- Fin - Bloc 22 Contenu de la page -->

{% endblock %}