{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}

	<h1>Page d'aide</h1>

	<!-- Début - Bloc 21 Menu de l'aide -->

	<div>
	
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Généralités</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#premiers-pas">Premiers pas</a>
					<a class="dropdown-item" href="#deuxieme-pas">Deuxième pas</a>
					<a class="dropdown-item" href="#troisieme-pas">Troisième pas</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Item 02</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Lien 1</a>
					<a class="dropdown-item" href="#">Lien 2</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Item 03</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Item 04</a>
			</li>
		</ul>

	</div>

	<!-- Fin - Bloc 21 Menu de l'aide -->

	<!-- Début - Bloc 22 Contenu de la page -->

	<div>
		<div id="premiers-pas" lang="fr">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="deuxieme-pas" lang="fr">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
		<div id="troisieme-pas" lang="fr">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi temporibus nesciunt, tempore modi omnis quae atque, quod repellendus accusantium magni. Aspernatur obcaecati veritatis ut facilis id quam harum vel.</p>
		</div>
	</div>

	<!-- Fin - Bloc 22 Contenu de la page -->

{% endblock %}