{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accueil</h1>

	<p>*Insert carousel*</p>

	
	<h2>Découvrir les parcours</h2>
	
	<div>
		<div>
			<img src="https://via.placeholder.com/310x265" />
			<h3><a href="{{ path('home_autoformation') }}">Autoformation</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa reiciendis reprehenderit enim fugiat, quod repudiandae maiores, quibusdam fuga at sapiente dolores repellat deserunt veritatis velit modi pariatur nulla deleniti.</p>
		</div>
		<div>
			<img src="https://via.placeholder.com/310x265" />
			<h3><a href="{{ path('home_cinema') }}">Cinéma</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa reiciendis reprehenderit enim fugiat, quod repudiandae maiores, quibusdam fuga at sapiente dolores repellat deserunt veritatis velit modi pariatur nulla deleniti.</p>
		</div>
		<div>
			<img src="https://via.placeholder.com/310x265" />
			<h3><a href="{{ path('home_presse') }}">Presse</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa reiciendis reprehenderit enim fugiat, quod repudiandae maiores, quibusdam fuga at sapiente dolores repellat deserunt veritatis velit modi pariatur nulla deleniti.</p>
		</div>
	</div>

    <div><a href="{{ path('search') }}">Recherche</a></div>

{% endblock %}