{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<h1 class="d-none">Accueil - Catalogue de la BPI</h1>

	{% include "home/blocs/carousel.html.twig" %}
	
	<h2>Découvrir les parcours</h2>
	
	<div>
		{% include "home/blocs/preview-thematic.html.twig" %}
	</div>

	{#
	<ul>
		<li><a href="{{ path('home_autoformation') }}">Auto-formation</a></li>
		<li><a href="{{ path('home_cinema') }}">Cinema</a></li>
		<li><a href="{{ path('home_presse') }}">Presse</a></li>
	</ul>

	<div>
		<a href="{{ path('search') }}">Recherche</a>
	</div>
	#}

{% endblock %}