{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<h1>Accueil - Catalogue de la BPI</h1>

	{% include "home/blocs/carousel.html.twig" %}
	
	<h2>Découvrir les parcours</h2>
	
	<div>
		{% include "home/blocs/preview-thematic.html.twig" %}
	</div>

{% endblock %}
