{% extends 'base.html.twig' %}

{% block title %}{{ 'page.home.page_title'|trans }}{% endblock %}

{% block body %}
	<h1>{{ 'page.home.title'|trans }}</h1>

	{% include "home/blocs/carousel.html.twig" %}
	
	<h2>{{ 'page.home.thematic'|trans }}</h2>
	
	<div>
		{% include "home/blocs/preview-thematic.html.twig" %}
	</div>

{% endblock %}
