{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home thématique</h1>
    
    <p>*Insert carousel*</p>


    <h2>Découvrir les parcours</h2>
	
	<div>
		<div>
			<h3><a href="##">Aliquam quaerat harum, fugit expedita, illo similique alias incidunt cum quisquam corporis molestias!</a></h3>
			<img src="https://via.placeholder.com/210x230" />
		</div>
		<div>
			<h3><a href="##">Aliquam quaerat harum, fugit expedita, illo similique alias incidunt cum quisquam corporis molestias!</a></h3>
			<img src="https://via.placeholder.com/210x230" />
			<ul>
				<li><a href="#">Niveau 1</a></li>
				<li><a href="#">Niveau 2</a></li>
				<li><a href="#">Niveau 3</a></li>
				<li><a href="#">Niveau 4</a></li>
			</ul>
		</div>
		<div>
			<h3><a href="##">Aliquam quaerat harum, fugit expedita, illo similique alias incidunt cum quisquam corporis molestias!</a></h3>
			<img src="https://via.placeholder.com/210x230" />
			<ul>
				<li><a href="#">Niveau 1</a></li>
				<li><a href="#">Niveau 2</a></li>
				<li><a href="#">Niveau 3</a></li>
				<li><a href="#">Niveau 4</a></li>
			</ul>
		</div>
		<div>
			<h3><a href="##">Aliquam quaerat harum, fugit expedita, illo similique alias incidunt cum quisquam corporis molestias!</a></h3>
			<img src="https://via.placeholder.com/210x230" />
			<ul>
				<li><a href="#">Niveau 1</a></li>
				<li><a href="#">Niveau 2</a></li>
				<li><a href="#">Niveau 3</a></li>
				<li><a href="#">Niveau 4</a></li>
			</ul>
		</div>
	</div>

    <ul>
        <li><a href="{{ path('home_autoformation') }}">Auto-formation</a></li>
        <li><a href="{{ path('home_cinema') }}">Cinema</a></li>
        <li><a href="{{ path('home_presse') }}">Presse</a></li>
    </ul>

    <div><a href="{{ path('search') }}">Recherche</a></div>

{% endblock %}
