{% extends 'home/base.html.twig' %}

{% block title %}Parcours {{ title }}{% endblock %}

{% block body %}
	<h1 class="n1">{{ title }}</h1>
	{% include "home/blocs/carousel.html.twig" %}

	<div class="card-container">
		<h2 class="n1">{{ 'page.thematic.theme'|trans }}</h2>
		<div class="row">
			{% include "home/blocs/preview-thematic-links.html.twig" %}
		</div>
	</div>
{% endblock %}
