{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="n1">{{ title }}</h1>

	{% include "home/blocs/carousel.html.twig" %}

	<h2 class="n1">Les thèmes les plus consultés</h2>
	
	<div class="row">
		{% include "home/blocs/preview-thematic-links.html.twig" %}
	</div>

{% endblock %}
