{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home thématique</h1>
    <ul>
        <li><a href="{{ path('home_autoformation') }}">auto-formation</a></li>
        <li><a href="{{ path('home_cinema') }}">cinema</a></li>
        <li><a href="{{ path('home_presse') }}">presse</a></li>
    </ul>

    <div><a href="{{ path('search') }}">Receherche</a></div>

{% endblock %}
