{% extends 'base.html.twig' %}

{% block body %}

	<h1>Fiche d'autorité</h1>

	<div>
		<button>Retour aux résultats</button>

		<nav aria-label="pagination">
			<ul>
				<li>
					<a href="#"><< Document précédent</a>
				</li>
				<li>
					<a href="#">6 sur 55 <span class="sr-only">documents</span></a>
				</li>
				<li>
					<a href="#">Document suivant >></a>
				</li>
			</ul>
		</nav>
	</div>

	<hr>

	<div>
		<div>
			<img src="https://via.placeholder.com/310x270" />
		</div>
		<div>
			<h1 lang="fr">Guy de Maupassant (1850 - 1893)</h1>
			
		</div>
	</div>

{% endblock %}
