{% extends 'base.html.twig' %}

{% block title %}Fiche d'autorité *Insert nom auteur*{% endblock %}

{% block body %}

	<div class="row">
		{% include "record/authority/results-navigation.html.twig" %}
	</div>

	<div class="row">
		{% include "record/authority/result-informations.html.twig" %}
	</div>

	<div class="row">
		{% include "record/authority/list-related-documents.html.twig" %}
	</div>

	<div class="row">
		{% include "record/authority/index.html.twig" %}
	</div>

{% endblock %}
