{% extends 'base.html.twig' %}

{% block title %}Fiche d'autorité{% endblock %}

{% block body %}

	<div>
		{% include "record/autority/results-navigation.html.twig" %}
	</div>

	<div>
		{% include "record/autority/result-informations.html.twig" %}
	</div>

	<div>
		{% include "record/autority/list-related-documents.html.twig" %}
	</div>

	<div>
		{% include "record/autority/index.html.twig" %}
	</div>

{% endblock %}
