{% extends 'base.html.twig' %}

{% block title %}Notice Bibliographique *Titre du document*{% endblock %}

{% block body %}

	<div>
		{% include "record/bibliographic/results-navigation.html.twig" %}
	</div>

	<div>
		{% include "record/bibliographic/result-informations.html.twig" %}
	</div>

	<div>
		{% include "record/bibliographic/related-documents.html.twig" %}
	</div>


{% endblock %}
