{% extends 'base.html.twig' %}

{% block title %}Notice Bibliographique *Titre du document*{% endblock %}

{% block body %}

	<div class="bibliographic-result">

		<div class="row justify-content-between">
			<!-- Début - Bloc 15 Navigation dans les résultats -->
			{% include "record/blocs/results-navigation.html.twig" %}
			<!-- Fin - Bloc 15 Navigation dans les résultats -->
		</div>

		<div class="row">
			{% include "record/bibliographic/result-informations.html.twig" %}
		</div>

		<div class="row">
			{% include "record/bibliographic/related-documents.html.twig" %}
		</div>
		
	</div>

{% endblock %}
