{% extends 'base.html.twig' %}

{% block body %}
    <h1>notice-bibliographique</h1>
	
	{% if includeImage %}
		<img src="" alt="">
	{% endif %}
	<p>bala bla bla etttt {% if isPrintLong %}le texte supp pour le long{% endif %} </p>

{% endblock %}
