{% extends 'base.pdf.twig' %}

{% block title %}Vos références bibliographiques{% endblock %}

{% block body %}
	{% for i in 1..3 %}
		<div class="print__item">
			<div class="row">
				<div class="col-12">
					<h2 class="n1">{{ i }}) The other Straus : symphonic, vocal and chamber music</h2>
				</div>
				{% if includeImage %}
					<div class="col-3">
						<img src="{{ absolute_url(asset('images/couvertures-generiques/cg-musique.svg')) }}" alt="" class="print__image" />
					</div>
				{% endif %}
				<div class="col">
					<ul class="print__list">
						<li>Musique;</li>
						{% if isPrintLong %}
							<li>XXX(sans libellé);</li>
							<li>Traduit de : XXX;</li>
						{% endif %}

						<li>dans XXX; dans XXX</li>

						<li>{% if isPrintLong %}Auteur(s) : {% else %}par : {% endif %}XXX; {% if isPrintLong %}Auteur(s), compositeur(s), interprète(s) : XXX; Réalisateur(s) : {% else %}par : {% endif %}XXX;</li>

						{% if isPrintLong %}
							<li>Résumé : XXX; Pistes: XXX;</li>
							<li>Autre(s) auteur(s) : XXX; Autre(s) auteur(s), compositeur(s), interprète(s) : XXX;</li>
							<li>Contributeur(s) : XXX; Contributeur(s) : XXX;</li>
						{% endif %}

						<li>{% if isPrintLong %}Editeur(s) : {% endif %}XXX;</li>
						<li>{% if isPrintLong %}Date(s) : {% endif %}XXX;{% if isPrintLong %} Date d'édition papier : XXX;{% endif %}</li>

						<li>XXX(durée, sans libellé);</li>

						{% if isPrintLong %}
							<li>Périodicité : XXX;</li>
							<li>Oeuvre(s) : XXX;</li>
							<li>Autre(s) forme(s) de titre  : XXX;</li>
							<li>Contenu : XXX;</li>
							<li>Notes : XXX;</li>
							<li>Résumé : XXX;</li>
							<li>Langue(s) : XXX; XXX(langues originales);</li>
							<li>Description matérielle : XXX;</li>
							<li>Série / Collection : XXX;</li>
							<li>Titre(s) d'ensemble : XXX;</li>
							<li>Titre(s) en relation : XXX;</li>
							<li>Réunit : XXX;</li>
							<li>Autre(s) édition(s): XXX;</li>
							<li>Conservation : XXX;</li>
							<li>Sujet(s) : XXX;</li>
							<li>Epoque : XXX;</li>
							<li>Lieu : XXX;</li>
							<li>Genre : XXX;</li>
							<li>Thème(s) : XXX;</li>
							<li>ISBN : XXX;</li>
							<li>ISSN : XXX;</li>
							<li>Numéros commerciaux : XXX;</li>
							<li>Indice : XXX;</li>
							<li>Public : XXXX;</li>
							<li>Droits : XXX;</li>
							<li>Lieu de la manifestation : XXX;</li>
							<li>Origine de la notice : XXX;</li>
						{% endif %}

						<li>Résultat de : XXX;</li>

						{% if isPrintLong %}
							<li><a href="#">Lien vers la notice</a>;</li>
						{% endif %}

						<li>{# Documents en rayon #}Disponible / Indisponible;</li>
						<li>{# Documents en rayon #}78 STRA.R 4 disque 1;</li>
						<li>{# Documents en ligne #}Consultable à la Bpi;</li>
						<li>{# Documents en ligne #}Niveau 3 - Musiques et documents parlés;</li>
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
