<div role="dialog" aria-modal="true" aria-labelledby="modal-print-title" class="modal fade" id="modal-print">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-print-title">Paramétrer le PDF</h1>
					<button class="close" type="button" aria-label="Fermer cette fenêtre" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>
				
				<div class="modal-body">

					<div class="row">
						<div class="col-12">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="print-abstract" value="print-abstract" name="print" checked>
								<label class="form-check-label" for="print-abstract">Notices abrégés</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="print-long" value="print-long" name="print">
								<label class="form-check-label" for="print-long">Notices longues</label>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-12">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="print-pj" value="print-pj">
								<label class="form-check-label" for="print-pj">Mettre PDF en pièce jointe</label>
							</div>
						</div>

					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>					
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">Annuler</button>
					<button type="submit" class="btn btn-lg btn-primary">Imprimer</button>
				</div>

			</form>
		</div>
	</div>
</div>
