<div role="dialog" aria-modal="true" aria-labelledby="modal-share">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-share">Partage</h4>
				<button type="button" aria-label="Fermer cette fenêtre"><i>*insert icone croix*</i></button>
			</div>
			
			<div class="modal-body">
				{# Boutons RS générer par AddThis, DOM susceptible : #}
				<div>
					<div>
						<div>
							<a role="button" tabindex="1">
								<span class="sr-only">Partager sur Facebook</span>
								<span>*Insert icone Facebook*</span>
								<span>Facebook</span>
							</a>
							<a role="button" tabindex="1">
								<span class="sr-only"></span>
								<span>*Insert icone Twitter*</span>
								<span>Twitter</span>
							</a>
							<a role="button" tabindex="1">
								<span class="sr-only"></span>
								<span>*Insert icone LinkedIn*</span>
								<span>LinkedIn</span>
							</a>
							<a role="button" tabindex="1">
								<span class="sr-only"></span>
								<span>*Insert icone Pinterest*</span>
								<span>Pinterest</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<h4>Permalien</h4>
				<div>
					<p>*insert url*</p>
					<button type="button">Copier<span class="sr-only"> l'url</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
