<div role="dialog" aria-modal="true" aria-labelledby="modal-share-title" class="modal fade" id="modal-share">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="n1 modal-header__title" id="modal-share-title">Partage</h1>
				<button class="close" type="button" aria-label="Fermer cette fenêtre" data-dismiss="modal">
					<span aria-hidden="true" class="sr-only">X</span>
					<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
				</button>
			</div>
			
			<div class="modal-body">
				{# Boutons RS générer par AddThis, DOM susceptible : #}
				<div>
					<div>
						<div>
							<a role="button" tabindex="1">
								<span class="sr-only">Partager sur Facebook</span>
								<span>*Insert icone Facebook*</span>
								<span>Facebook</span>
							</a>
							<a role="button" tabindex="1">
								<span class="sr-only"></span>
								<span>*Insert icone Twitter*</span>
								<span>Twitter</span>
							</a>
							<a role="button" tabindex="1">
								<span class="sr-only"></span>
								<span>*Insert icone LinkedIn*</span>
								<span>LinkedIn</span>
							</a>
							<a role="button" tabindex="1">
								<span class="sr-only"></span>
								<span>*Insert icone Pinterest*</span>
								<span>Pinterest</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-body">
				<h2 class="n1">Permalien</h2>
				<div class="d-flex">
					<label for="url-page" class="sr-only">URL de la page</label>
					<input type="text" class="form-control" id="url-page">
					<button type="button" class="btn btn-primary">Copier<span class="sr-only"> l'url</span></button>
				</div>
			</div>
			
			<form class="modal-form">
				<div class="modal-body">
					<h2 class="n1">Envoyer cette page à un ami</h2>

					<small class="modal-form__indication">* champs obligatoires</small>
					
					<div class="form-group row align-items-center">
						<label class="col-12 col-sm-3" for="send-expeditor">Expéditeur <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="send-expeditor" required>
						</div>
					</div>

					<div class="form-group row align-items-center">
						<label class="col-12 col-sm-3" for="send-recipient">Destinataire <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="send-recipient" required>
						</div>
					</div>

					<div class="form-group row align-items-center">
						<label class="col-12 col-sm-3" for="send-title">Titre <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="send-title" required>
						</div>
					</div>

					<div class="form-group row align-items-center">
						<label class="col-12 col-sm-3" for="send-text">Texte</label>
						<div class="col-12 col-sm-9">
							<textarea class="form-control" id="send-text" rows="3"></textarea>
						</div>
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">Annuler</button>
					<button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
				</div>
			</form>

		</div>
	</div>
</div>
