/.docker
/.env
/.idea
/build/
/bin/*
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public/bundles/
/public/imported_images/*
!/public/imported_images/.gitkeep
/public/assets/
/public/css
/public/js
/phpunit.xml
/composer.phar
/package_info.json
.deploy/dev/mysql/
.DS_Store


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/auth.txt
/bpi.ovpn
/auth.conf
/bpi-ovpn.txt

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
