/.docker
/.env
/.idea
/build/
/bin/*
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public/bundles/
/public/assets/
/public/css
/public/js
/phpunit.xml
/composer.phar
/package_info.json
/web/media/import_file
.deploy/dev/mysql/


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###
