/.docker
/.env
/app/config/parameters.yml
/build/
!/var/data/import/.gitkeep
/var/data/import/*
/bin/*
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/
/web/css
/web/js
!/web/media/.gitkeep
/web/media/*
/phpunit.xml
/composer.phar
/package_info.json
/web/media/import_file
.deploy/dev/mysql/

