includes:
    - phpstan-baseline.neon
    #- vendor/phpstan/phpstan-doctrine/extension.neon
    #- vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    symfony:
        containerXmlPath: var/cache/dev/srcDevDebugProjectContainer.xml
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
