// -------------------------------
// Header - Mon Compte
// -------------------------------

#mon-compte {

	@media print {
		display: none;
	}
}

.account {
	margin-bottom: rem(10);

	@include media-breakpoint-up(lg) {
		margin-bottom: 0;
		margin-top: rem(10);
	}

	&__link {
		font-size: rem(12);

		&:hover {
			color: $red;
			text-decoration: underline;
		}

		&:focus {
			color: $red;
		}
	}

	&__button {
		position: relative;
		font-size: rem(12);

		&:after {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 4px solid $black;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			vertical-align: middle;
			margin-left: 3px;
			margin-bottom: 2px;
		}
	}

	&__list {
		
		&-item {
			font-size: rem(12);
			color: $black;

			& + .account__list-item {
				margin-top: rem(10);

				@include media-breakpoint-up(lg) {
					margin-top: 0;
				}
			}

			&:hover,
			&:focus {
				color: $red;
				text-decoration: underline;
			}
		}
	}
}