// -------------------------------
// Header - Global
// -------------------------------

.header {

	.dropdown {

		.btn {
			border: 1px solid transparent;

			&:hover,
			&:focus,
			&[aria-expanded="true"] {
				border: $border-thin;
			}
		}

		&-menu {
			box-shadow: $dropdown-shadow;
		}
	}

	&__menus {
		margin-bottom: $spacer;
	}

	&__logo {
		margin-bottom: $spacer;

		@include media-breakpoint-up(md) {
			height: rem(100);
		}

		@media print {
			height: auto;
			margin-top: $spacer;
		}
		
		&-link {
			display: block;

			@include media-breakpoint-up(sm){
				display: inline-block;
			}

			img {
				width: rem(210);
			}
		}
	}
}