// -------------------------------
// Header - Menu User
// -------------------------------

#menu-user {

	@media print {
		display: none;
	}
}

.menu-user {
	margin-bottom: rem(10);
	margin-left: $spacer;

	@include media-breakpoint-up(md) {
		margin-bottom: 0;
		margin-left: 0;
	}

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;

		@include media-breakpoint-up(lg) {
			margin-top: rem(10);
		}

		&-item {
			margin-right: $spacer;
			display: flex;
			align-items: center;

			a {
				color: $black;
				font-size: rem(12);

				&:hover,
				&:focus {
					color: $red;

					span {
						color: $red;
					}
				}

				span {
					color: $grey-disabled;
				}
			}
		}
	}

	&__icone {
		width: rem(20);
		height: rem(20);
		background-color: $black;
		margin-right: rem(5);
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-height: rem(13);
		}
	}
}