// -------------------------------
// Header - Menu Evitement
// -------------------------------

.menu-evitement {
	position: absolute;
	z-index: 999999;

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}