<!-- Début - Bloc 21 Menu de l'aide -->
<div>
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('other_search') }}" role="button" aria-haspopup="listbox" aria-expanded="false">La recherche</a>
			<ul class="dropdown-menu" role="listbox" tabindex="-1">
				<li class="dropdown-item" role="option">
					<a href="#section-01-01">Recherche simple</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-01-02">Recherche avancée</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-01-03">Parcours de recherche</a>
				</li>
			</ul>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('other_result') }}" role="button" aria-haspopup="listbox" aria-expanded="false">Exploitation des résultats</a>
			<ul class="dropdown-menu" role="listbox" tabindex="-1">
				<li class="dropdown-item" role="option">
					<a href="#section-02-01">Liste de résultats</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-02-02">Affiner sa recherche</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-02-03">Notice détaillée</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-02-04">Notice d'autorité</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-02-05">Relancer la recherche dans d'autre catalogues</a>
				</li>
			</ul>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('other_service') }}" role="button" aria-haspopup="listbox" aria-expanded="false">Services</a>
			<ul class="dropdown-menu" role="listbox" tabindex="-1">
				<li class="dropdown-item" role="option">
					<a href="#section-03-01">Alerte de mise en rayon</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-03-02">Impression et export</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-03-03">Suggestion d'achat</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-03-04">Historique de recherche</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-03-05">Ma sélection</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-03-06">Signaler une erreur</a>
				</li>
			</ul>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('other_account') }}" role="button" aria-haspopup="listbox" aria-expanded="false">Mon compte</a>
			<ul class="dropdown-menu" role="listbox" tabindex="-1">
				<li class="dropdown-item" role="option">
					<a href="#section-04-01">Mes listes</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#section-04-02">Mon historique</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
<!-- Fin - Bloc 21 Menu de l'aide -->
