// -------------------------------
// Barre de recherche - Autocompletion
// -------------------------------

#form-search {
	position: relative;

	@media print {
		display: none;
	}
}

.search-autocomplet {
	width: calc(100% + 4px);
	background-color: $white;
	box-shadow: $dropdown-shadow;
	bottom: 0;
	left: 0;
	transform: translateY(100%);
	border: $border-default;
	border-top: 0;
	padding: 10px;
	position: absolute;
	z-index: $zindex-dropdown;
	margin-left: -2px;

	@include media-breakpoint-up(md) {
		border-top: $border-default;
	}

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		max-height: 200px;
		overflow-y: auto;
	}

	&__item {

		&-content {
			display: block;
			padding: 4px 7px;

			&:hover {
				cursor: pointer;
			}

			&:not([href]) {
				color: inherit;
				text-decoration: none;

				&:hover {
					color: $white;
					background-color: #3875d7;
				}
			}

			&:focus {
				outline-offset: -2px;
			}
		}
	}
}
