// -------------------------------
// Barre de recherche principal
// -------------------------------

.search-banner {
	display: flex;
	flex-wrap: wrap;
	border: $border-default;
	margin-bottom: $spacer;

	&__input {
		max-width: calc(100% - 45px);
		order: 1;

		@include media-breakpoint-up(md) {
			max-width: auto;
			width: auto;
			flex: 1;
		}

		input {
			width: 100%;
			min-height: 45px;
			border: 0;
			border-bottom: $border-default;
			padding: 0 10px;

			&:focus {
				outline: $outline;
			}

			@include media-breakpoint-up(md) {
				border: 0;
			}
		}
	}

	&__select {
		flex: 0 0 50%;
		order: 3;
		position: relative;
		min-height: 45px;
		margin-bottom: 0;
		border-right: $border-default;

		&:after {
			content: "";
			position: absolute;
			width: rem(10);
			height: rem(10);
			top: 50%;
			right: 0;
			margin-right: rem(5);
			transform: translateY(-50%);
			background-image: url('/images/icones/icone-caret-bas-blanche.svg');
			background-repeat: no-repeat;
			background-position: right center;
		}

		@include media-breakpoint-up(md) {
			flex: 0 0 auto;
			order: 2;
			border: 0;
		}

		select {
			height: 100%;
			border-radius: 0;
			border: 0;
			-moz-appearance: none;
			-webkit-appearance: none;
			background-color: $grey-disabled;
			color: $white;
			padding-right: rem(20);

			&:focus {
				-moz-appearance: none;
				-webkit-appearance: none;
				background-color: $grey-disabled;
				color: $white;
				box-shadow: none;
				outline: $outline;

				@include media-breakpoint-up(md) {
					border: 0;
				}
			}
		}
	}

	&__submit {
		min-width: rem(45);
		flex: 0 0 rem(45);
		order: 2;
		min-height: 45px;
		background: $red;
		border: 0;
		border-bottom: $border-default;
		transition: .15s;

		@include media-breakpoint-up(md) {
			order: 3;
			border: 0;
		}

		&:hover {
			background-color: $black;
		}

		&:focus {
			outline: $outline;
			outline-offset: -3px;
			background-color: $black;
			color: $white;
		}

		img {
			width: rem(30);
		}
	}

	&__modal {
		flex: 0 0 50%;
		order: 4;
		min-height: 45px;
		border: 0;
		background-color: $white;
		transition: .15s;

		@include media-breakpoint-up(md) {
			flex: 0 0 auto;
		}

		&:hover,
		&:focus {
			background-color: $black;
			color: $white;
		}

		&:focus {
			outline: $outline;
			outline-offset: -3px;
			background-color: $black;
			color: $white;
		}
	}
}