// -------------------------------
// Barre de recherche principal
// -------------------------------

.search-banner {
	display: flex;
	flex-wrap: wrap;
	border: $border-default;
	margin-bottom: 15px;

	&__input {
		max-width: calc(100% - 45px);
		order: 1;

		@include media-breakpoint-up(md) {
			max-width: auto;
			width: auto;
			flex: 1;
		}

		input {
			width: 100%;
			height: 45px;
			line-height: 55px;
			border: 0;
			border-bottom: $border-default;
			padding: 0 10px;

			&:focus {
				outline: $outline;
			}

			@include media-breakpoint-up(md) {
				border: 0;
			}
		}
	}

	&__select {
		flex: 0 0 50%;
		order: 3;
		height: 45px;
		margin-bottom: 0;
		border-right: $border-default;

		@include media-breakpoint-up(md) {
			flex: 0 0 auto;
			order: 2;
			border: 0;
		}

		select {
			height: 100%;
			border-radius: 0;
			border: 0;
			-moz-appearance: none;
			-webkit-appearance: none;
			background-color: $grey-disabled;
			color: $white;

			&:focus {
				-moz-appearance: none;
				-webkit-appearance: none;
				background-color: $grey-disabled;
				color: $white;
				box-shadow: none;

				@include media-breakpoint-up(md) {
					border: 0;
				}
			}
		}
	}

	&__submit {
		flex: 0 0 45px;
		order: 2;
		height: 45px;
		background: $red;
		border: 0;
		border-bottom: $border-default;
		transition: .15s;

		@include media-breakpoint-up(md) {
			flex: 0 0 45px;
			order: 3;
			border: 0;
		}

		&:hover {
			background-color: $black;
		}

		&:focus {
			outline: $outline;
			outline-offset: -3px;
			background-color: $black;
			color: $white;
		}
	}

	&__modal {
		flex: 0 0 50%;
		order: 4;
		height: 45px;
		border: 0;
		background-color: $white;
		transition: .15s;

		@include media-breakpoint-up(md) {
			flex: 0 0 auto;
		}

		&:hover,
		&:focus {
			background-color: $black;
			color: $white;
		}

		&:focus {
			outline: $outline;
			outline-offset: -3px;
			background-color: $black;
			color: $white;
		}
	}
}