// -------------------------------
// Résultat de recherche - Résultat
// -------------------------------

.search-result {

	&__body {
		margin-top: 5px;
	}

	&__title {

		a {

			&:hover {
				color: $red;

				span {
					color: $red;
				}
			}
		}
	}
}