###
# Sedona local development settings
###
COMPOSE_FILE=./docker-compose.yml:.deploy/dev/docker-compose.dev.yml

COMPOSER_CONTAINER_HOME=/composer
COMPOSER_LOCAL_HOME=/tmp/composer/7.2

REDIS_HOST=redis
REDIS_PORT=6379

POSTGRES_HOST=db
POSTGRES_USER=root
POSTGRES_PASSWORD=Welcome09
POSTGRES_DB=catalogue

PROJECT_HOSTNAME=catalogue.bpi.docker
PROJECT_SCHEME=http
PROJECT_BASEPATH=/
PROJECT_ENVIRONMENT=DEV
PUBLIC_NETWORK=systemd_public
