{% extends 'authority/authority.html.twig' %}

{% block detail %}
    {% include "indice/detail-indice.html.twig" with {'notice': notice } %}
{% endblock %}

{% block linkedDocs %}
    <div class="row" id="around-index-wrapper">
        {% include "indice/index-browsing.html.twig" with {"indexList": notice.aroundIndex} %}
    </div>
{% endblock %}
