{% extends 'base.pdf.twig' %}
{% from "common/macros/print-macro.html.twig" import image,list_subitems %}

{% block title %}{{ 'bloc.autority-result-information.your-references-autority'|trans }}{% endblock %}

{% block body %}
    <div class="print__item">
        <div class="row">
            <div class="col-12">
                <h2 class="n1">{{ notice.title }}</h2>
            </div>

            {{ image(notice, includeImage) }}

            <div class="col">
                <ul class="print__list">
                    {% include "indice/blocs/print-detail.format.twig" with {'element': notice, 'format': 'pdf'} %}
                </ul>
            </div>
        </div>
    </div>

    {% if isPrintLong and relatedDocuments is not empty %}
        {{ list_subitems(relatedDocuments.mappedNotices, includeImage) }}
    {% endif %}
{% endblock %}
