<!-- Début - Bloc 17 Documents liés -->

<h3>Sur le même thème</h3>

<p>*Insert carousel*</p>

{# <div class="carousel-documents-lies js-carousel-documents-lies">
	{% for i in 1..5 %}
		<div class="carousel-documents-lies__item">
			<a href="##" title="Nom document lié {{ i }}">
				<div>
					<img src="https://via.placeholder.com/160x160">
				</div>
				<div>
					<p>Nom document lié {{ i }}</p>
					<p>Auteur document lié {{ i }}</p>
				</div>
			</a>
		</div>
	{% endfor %}
</div> #}

<a href="#" aria-label="Voir tout les documents liés">Voir tout (XX)</a>

<!-- Fin - Bloc 17 Documents liés -->
