<!-- Début - Bloc 17 Documents liés -->

<h3>Sur le même thème</h3>

<div>
	<div class="carousel flickity-enabled is-draggable" tabindex="0">
		<div class="flickity-viewport">
			<div class="flickity-slider">
				<div class="carousel-cell is-selected">
					<a href="#" aria-label="*Insert titre* *Insert auteur*">
						<div>
							<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
						</div>
						<div>
							<p>*Insert Titre*</p>
							<p>*Insert auteur*</p>
						</div>
					</a>
				</div>
				<div class="carousel-cell">
					<a href="#" aria-label="*Insert titre* *Insert auteur*">
						<div>
							<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
						</div>
						<div>
							<p>*Insert Titre*</p>
							<p>*Insert auteur*</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- Customisation des boutons de navigation possible avec Flickity, DOM supposé. 
		Informations : page de pagination -->
		<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Element précédent">
			<i aria-hidden="true">*Insert icône chevron gauche*</i>
		</button>
		<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Element suivant">
			<i aria-hidden="true">*Insert icône chevron droit*</i>
		</button>
	</div>
	<button type="button" aria-label="Mettre en pause le carousel"><i aria-hidden="true">*Insert icone play*</i></button>
</div>

<a href="#" aria-label="Voir tout les documents liés">Voir tout (XX)</a>

<!-- Fin - Bloc 17 Documents liés -->
