<!-- Début - Bloc 17 Documents liés -->

<div class="col-12">
	<div class="carousel-secondary carousel-secondary--double">
		<h2 class="n1">Sur le même thème</h2>

		<div>
			<div class="carousel flickity-enabled is-draggable" tabindex="0">
				<div class="flickity-viewport">
					<div class="flickity-slider d-flex">
						<div class="carousel-cell is-selected">
							<a href="#" aria-label="Actualité 1 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
						<div class="carousel-cell">
							<a href="#" aria-label="Actualité 2 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Customisation des boutons : DOM supposé. 
				Informations : pas de pagination, pas d'auto-play, pas de défiliment infini, limite d'éléments à 20 -->
				<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Element précédent">
					<img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron"/>
				</button>
				<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Element suivant">
					<img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron"/>
				</button>
			</div>
		</div>

		<div class="text-right">
			<a href="#" aria-label="Voir tout les documents liés">Voir tout (XX)</a>
		</div>
	</div>
</div>

<!-- Fin - Bloc 17 Documents liés -->
