<!-- Début - Bloc 17 Documents liés -->

<div class="col-12">
	<div class="carousel-secondary carousel-secondary--double">
		<h2 class="n1">Sur le même thème</h2>

		<div class="carousel-secondary__body">
			<div class="carousel-wrapper">
				<div class="slick-carousel" role="region" aria-roledescription="carrousel">
					{% for i in 1..4 %}
						<div class="slick-slide-content">
							<a href="#" title="Actualité {{ i }} sur 24, Titre de Auteur">
								<div>
									<img src="{{ asset('images/couvertures-generiques/cg-livre-audio.svg') }}" alt="" class="img-fluid" />
								</div>
								<p>Titre</p>
								<p>Auteur</p>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="text-right">
			<a href="#" aria-label="Voir tout les documents liés">Voir tout (XX)</a>
		</div>
	</div>
</div>

<!-- Fin - Bloc 17 Documents liés -->
