<!-- Début - Bloc 16 Notice bibliographique -->

<div class="col-12">
	<h1 class="n1 bibliographic-result__title" lang="fr">The other Straus : symphonic, vocal and chamber music</h1>

	<div class="row align-items-md-center justify-content-between">
		<div class="col-12 col-md-6">
			<p lang="fr" class="bibliographic-result__author">Auteur(s), compositeur(s), interprète(s) : <a href="#">Strauss, Richard (1864-1949)</a></p>
		</div>
		<div class="col-6 col-md-4">
			<a href="#" class="link">Découvrir l'auteur</a>
		</div>
		<div class="col-6 col-md-2">
			<div class="bibliographic-result__type">
				<img src="{{ asset('images/types/type-musique.svg') }}" alt="" />
			</div>
		</div>
	</div>
</div>

<div class="col-12">
	<h2 class="n1 bibliographic-result__subtitle">Pistes</h2>
	<p lang="fr" class="bibliographic-result__resume">CD 1 : Taillefer, op. 52', 'Wandrers strurmlied, op. 14', 'Tageszeiten, op. 76 (Die) / [interpr. par] Johan Botha, Michael Volle, Felicity Lott, Dresdner Philharmonie, Michel Plasson, dir.', 'Deutsche motette, op. 62 / [interpr. par] Margareta Hallin, Marie-Louise Sirén, Sven-Erik Alexanderson, Carl-Eric Hellström, Rundfunkchor Stockholm, Eric Ericson, dir.', 'CD 2 : Festliches praludium, op. 61 / [interpr. par le] Philadelphia Orchestra, Wolfang Sawallisch, dir.', 'Gottin im putzzimmer (Die)', 'Abend, op. 34 nʿ1 (Der) / [interpr. par le] Rundfunkchor Stockholm, Eric Ericson, dir.', 'Guntram op. 25 : prelude', 'Schweigsame frau, op. 80 (Die) : potpourri', 'Frau ohne schatten, op. 65 (Die) : symphonic fantasy / [interpr. par le] Rotterdam Philharmonic Orchestra, Jeffrey Tate, dir., CD 3 : Sonate pour violon, op. 18 / [interpr. par] Vadim Repin, violon, Boris Berezovsky, piano', 'Sonate pour violoncelle, op. 6 / [interpr. par] Mstislav Rostropovich, violoncelle, Vasso Devetzi, piano', 'Romance pour violoncelle et orchestre / [interpr. par] Arto Noras, violoncelle, Norwegian Radio Orchestra, Ari Rasilainen, dir.', 'An einsamer quelle, op. 9 nʿ2', 'Rosenkavalier, op. 59 (Der) : waltz / [interpr. par] Renaud Capuçon, violon, Frank Braley, piano.</p>
</div>

<div class="col-12 col-md-3">
	<div class="bibliographic-result__image">
		<img src="{{ asset('images/couvertures-generiques/cg-musique.svg') }}" alt="" class="img-fluid" />
	</div>
</div>
<div class="col-12 col-md-9">
	<ul class="list-information bibliographic-result__infos">
		<li class="list-information__item">
			<span class="list-information__label">Contributeur(s) :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item"><a href="#">Plasson, Michel (1933-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Ericson, Eric (1918-2013)</a></li>
				<li class="list-information__sub-item"><a href="#">Tate, Jeffrey (1943-2017)</a></li>
				<li class="list-information__sub-item"><a href="#">Sawallisch, Wolfgang (1923-2013)</a></li>
				<li class="list-information__sub-item"><a href="#">Rasilainen, Ari (1959-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Botha, Johan (1965-2016)</a></li>
				<li class="list-information__sub-item"><a href="#">Volle, Michael (1959-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Lott, Felicity (1947-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Hallin, Margareta (1931-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Sirén, Marie-Louise</a></li>
				<li class="list-information__sub-item"><a href="#">Alexandersson, Sven-Erik (1936-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Hellström, Carl-Eric</a></li>
				<li class="list-information__sub-item"><a href="#">Repin, Vadim (1971-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Berezovskij, Boris (1969-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Rostropovič, Mstislav Leopol'dovič (1927-2007)</a></li>
				<li class="list-information__sub-item"><a href="#">Devetzi, Vasso (1927-1987)</a></li>
				<li class="list-information__sub-item"><a href="#">Noras, Arto (1942-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Capuçon, Renaud (1976-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Braley, Frank (1968-....)</a></li>
				<li class="list-information__sub-item"><a href="#">Dresdner Philharmonie</a></li>
				<li class="list-information__sub-item"><a href="#">Sveriges Radio  . Kör</a></li>
				<li class="list-information__sub-item"><a href="#">Philadelphia orchestra</a></li>
				<li class="list-information__sub-item"><a href="#">Rotterdams Philharmonisch Orkest</a></li>
				<li class="list-information__sub-item"><a href="#">Kringkastings Orkestret (Oslo)</a></li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Éditeur(s) :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item"><a href="#" aria-label="Relancer une recherche avec le terme : amour">Warner music</a></li>
				<li class="list-information__sub-item"><a href="#" aria-label="Relancer une recherche avec le terme : gloire">[distrib. Warner music France]</a></li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Date :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item">2014</li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Oeuvre(s) :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Taillefer . TrV 207</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Wandrers Sturmlied . TrV 131'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Die Tageszeiten . TrV 256'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Deutsche Motette . TrV 230'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Festliches Präludium . TrV 229'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . 2 Gesänge . TrV182'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Guntram . TrV 168'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Die schweigsame Frau . TrV 265'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Symphonische Fantasie . TrV 234a'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Sonates . Piano, violon . TrV 151 . Mi bémol majeur'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Sonates . Piano, violoncelle . TrV 115 . Fa majeur'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Romances . Violoncelle, orchestre . TrV 118 . Fa majeur'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . An einsamer Quelle . TrV 127, no 2'</a></li>
				<li class="list-information__sub-item"><a href="#">Strauss,  Richard (1864-1949) . Der Rosenkavalier . TrV 227</a></li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Notes :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item">Réedition d'enregistrements effectués en 1997, 1970 
et 1971 (CD 1), 1993, 1972, 1973, 1991 et 1992 (CD 2), 2001, 1974, 1998 et 2006 (CD 3). Brochure en anglais, allemand et français.</li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Langue(s) :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item">Français</li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Résumé :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item">Après la parution des coffrets regroupant les oeuvres orchestrales et les opéras de Richard Strauss (1864-1949), ces trois disques proposent, sur le même MODELE, de parcourir un autre versant de l'esprit créatif du compositeur : pièces vocales, musique de chambre ou oeuvres symphoniques, qui révèlent l' oeuvre incroyablement diversifiée du compositeur.", 'Période moderne = début 20e s.</li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Langue(s) :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item">allemand</li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Description matérielle :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item">3 disques compacts + 1 brochure</li>
				<li class="list-information__sub-item">034200</li>
				<li class="list-information__sub-item">Juke-box</li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Genre :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item"><a href="#">Musiques > Classique > Documents en juke-box</a></li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Numéros commerciaux :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item">Warner Classic 2564634928</li>
			</ul>
		</li>
		<li class="list-information__item">
			<span class="list-information__label">Indice :</span>
			<ul class="list-information__sub-list" lang="fr">
				<li class="list-information__sub-item"><a href="#">78 STRA.R Strauss (Richard)</a></li>
			</ul>
		</li>
	</ul>
</div>

<div class="col-12">
	{# Pour les documents en rayon dispo#}
	<div lang="fr" class="bibliographic-result__availability bibliographic-result__availability--available">
		<p>78 STRA.R 4 disque 1</p>
		<p>78 STRA.R 4 disque 2</p>
		<p>78 STRA.R 4 disque 3</p>
		<p>Niveau 3 - Musiques et documents parlés</p>
	</div>

	{# Pour les documents en rayon indispo #}
	<div lang="fr" class="bibliographic-result__availability bibliographic-result__availability--disabled">
		<p><span>Indisponible</span></p>
	</div>

	{# Pour les documents en ligne consultable #}
	<div lang="fr" class="bibliographic-result__availability">
		<p><a href="#">Accéder à *Insert nom du document*</a></p>
	</div>

	{# Pour les documents en ligne non consultable #}
	<div lang="fr" class="bibliographic-result__availability">
		<p>Consultable à la Bpi</p>
	</div>
</div>

<!-- Fin - Bloc 16 Notice bibliographique -->
