<!-- Début - Bloc 15 v.1 Navigation dans les résultats -->

<div>
	<a href="##">Retour aux résultats</a>
</div>
<div>
	<p>Résultat de *Insert name BDD*</p>
</div>
<div>
	<nav aria-label="pagination">
		<ul>
			<li>
				<a href="#"><span aria-hidden="true"><<</span> Document précédent</a>
			</li>
			<li>
				<p>6 sur 55</p>
			</li>
			<li>
				<a href="#">Document suivant <span aria-hidden="true">>></span></a>
			</li>
		</ul>
	</nav>
</div>

<!-- Fin - Bloc 15 v.1 Navigation dans les résultats -->
