<!-- Début - Bloc 15 v.1 Navigation dans les résultats -->

<div>
	<a href="#">Retour aux résultats</a>
</div>
<div>
	<p>Résultat de *Insert name BDD*</p>
</div>
<div>
	<nav aria-label="pagination">
		<ul>
			<li>
				<a href="#"><img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron"/> Document précédent</a>
			</li>
			<li>
				<p>6 sur 55</p>
			</li>
			<li>
				<a href="#">Document suivant <img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron"/></a>
			</li>
		</ul>
	</nav>
</div>

<!-- Fin - Bloc 15 v.1 Navigation dans les résultats -->
