<ul>
	<li><a href="#" target="_blank" title="Nouvelle fenêtre">Presse et partenariats</a></li>
	<li><a href="#" target="_blank" title="Nouvelle fenêtre">Emploi & stages</a></li>
	<li><a href="#" target="_blank" title="Nouvelle fenêtre">Marchés publics</a></li>
	<li><a href="#" target="_blank" title="Nouvelle fenêtre">Mentions légales</a></li>
	<li><a href="#" target="_blank" title="Nouvelle fenêtre">Aide et accessibilité</a></li>
	<li><a href="#" target="_blank" title="Nouvelle fenêtre">Contacts</a></li>
</ul>
