<ul class="nav-credit__list">
	{% for link, title in {
		'//www.bpi.fr/presse-et-partenariats/': 'footer.credit-list.espace-presse'|trans,
		'//www.bpi.fr/emplois-et-stages/': 'footer.credit-list.emplois-et-stages'|trans,
		'//www.bpi.fr/marches-publics/': 'footer.credit-list.marches-publics'|trans ,
		'//www.bpi.fr/mentions-legales': 'footer.credit-list.mentions-legales'|trans,
		'//www.bpi.fr/aide-et-accessibilite': 'footer.credit-list.aide-et-accessibilite'|trans,
		'//www.bpi.fr/contactez-nous/': 'footer.credit-list.contacts-bpi'|trans
	} %}
		<li class="nav-credit__item">
			<a href="{{ link }}" title="{{ title }}">{{ title }}</a>
		</li>
	{% endfor %}
</ul>
