<div>
	<button type="button" data-toggle="collapse" data-target="menu-bpi" aria-expanded="false" aria-controls="menu-bpi">La Bpi</button>
	<button type="button" data-toggle="collapse" data-target="menu-balises" aria-expanded="false" aria-controls="menu-balises">Balises</button>
	<button type="button" data-toggle="collapse" data-target="menu-professionnels" aria-expanded="false" aria-controls="menu-professionnels">Professionnels</button>
</div>
<div class="collapse" id="menu-bpi">
	<ul>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Catalogue</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Agenda</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">La Bibliothèque</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Informations pratiques</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Presse / Partenariats</a></li>
	</ul>
</div>
<div class="collapse" id="menu-balises">
	<ul>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">WebTV / WebRadio</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Exploration</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Mon webmagazine</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Qui sommes-nous ?</a></li>
	</ul>
</div>
<div class="collapse" id="menu-professionnels">
	<ul>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Collections et services</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Cohésion sociale</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Etudes</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">Métier</a></li>
		<li><a href="#" target="_blank" title="Nouvelle fenêtre">International</a></li>
	</ul>
</div>
