<div>
	<button type="button" data-toggle="collapse" data-target="menu-bpi" aria-expanded="false" aria-controls="menu-bpi">La Bpi</button>
	<button type="button" data-toggle="collapse" data-target="menu-balises" aria-expanded="false" aria-controls="menu-balises">Balises</button>
	<button type="button" data-toggle="collapse" data-target="menu-professionnels" aria-expanded="false" aria-controls="menu-professionnels">Professionnels</button>
</div>
<div class="collapse" id="menu-bpi">
	<ul>
		<li><a href="#" title="nouvelle fenêtre">Catalogue</a></li>
		<li><a href="#" title="nouvelle fenêtre">Agenda</a></li>
		<li><a href="#" title="nouvelle fenêtre">La Bibliothèque</a></li>
		<li><a href="#" title="nouvelle fenêtre">Informations pratiques</a></li>
		<li><a href="#" title="nouvelle fenêtre">Presse / Partenariats</a></li>
	</ul>
</div>
<div class="collapse" id="menu-balises">
	<ul>
		<li><a href="#" title="nouvelle fenêtre">WebTV / WebRadio</a></li>
		<li><a href="#" title="nouvelle fenêtre">Exploration</a></li>
		<li><a href="#" title="nouvelle fenêtre">Mon webmagazine</a></li>
		<li><a href="#" title="nouvelle fenêtre">Qui sommes-nous ?</a></li>
	</ul>
</div>
<div class="collapse" id="menu-professionnels">
	<ul>
		<li><a href="#" title="nouvelle fenêtre">Collections et services</a></li>
		<li><a href="#" title="nouvelle fenêtre">Cohésion sociale</a></li>
		<li><a href="#" title="nouvelle fenêtre">Etudes</a></li>
		<li><a href="#" title="nouvelle fenêtre">Métier</a></li>
		<li><a href="#" title="nouvelle fenêtre">International</a></li>
	</ul>
</div>