<ul>
	<li><a href="#">Presse et partenariats</a></li>
	<li><a href="#">Emploi & stages</a></li>
	<li><a href="#">Marchés publics</a></li>
	<li><a href="#">Mentions légales</a></li>
	<li><a href="#">Aide et accessibilité</a></li>
	<li><a href="#">Contacts</a></li>
</ul>