<ul class="nav-credit__list">
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/espace-presse" target="_blank" title="Presse et partenariats - Nouvelle fenêtre">Presse et partenariats</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/informations-pratiques/emplois-et-stages" target="_blank" title="Emploi & stages - Nouvelle fenêtre">Emploi & stages</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/informations-pratiques/marches-publics" target="_blank" title="Marchés publics - Nouvelle fenêtre">Marchés publics</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/mentions-legales" target="_blank" title="Mentions légales - Nouvelle fenêtre">Mentions légales</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/aide-et-accessibilite" target="_blank" title="Aide et accessiblité - Nouvelle fenêtre">Aide et accessibilité</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/contacts-bpi" target="_blank" title="Contacts - Nouvelle fenêtre">Contacts</a>
	</li>
</ul>
