<div id="accordion" class="nav-sitemap">
	<button type="button" id="btn-bpi" data-toggle="collapse" data-target="#menu-bpi" aria-expanded="false" aria-controls="menu-bpi" class="nav-sitemap__button nav-sitemap__button--first">La Bpi</button>
	<div class="collapse nav-sitemap__content" id="menu-bpi" data-parent="#accordion" aria-labelledby="btn-bpi">
		<ul class="nav-sitemap__list">
			<li class="nav-sitemap__item">
				<a href="/" title="Catalogue">Catalogue</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/agenda" title="Agenda - Nouvelle fenêtre">Agenda</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/la-bibliotheque" title="La Bibliothèque - Nouvelle fenêtre">La Bibliothèque</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/informations-pratiques" title="Informations pratiques - Nouvelle fenêtre">Informations pratiques</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/espace-presse" title="Presse / Partenariats - Nouvelle fenêtre">Presse / Partenariats</a>
			</li>
		</ul>
	</div>

	<button type="button" id="btn-balises" data-toggle="collapse" data-target="#menu-balises" aria-expanded="false" aria-controls="menu-balises" class="nav-sitemap__button nav-sitemap__button--second">Balises</button>
	<div class="collapse nav-sitemap__content" id="menu-balises" data-parent="#accordion" aria-labelledby="btn-balises">
		<ul class="nav-sitemap__list">
			<li class="nav-sitemap__item">
				<a href="http://webtv.bpi.fr/" title="WebTV / WebRadio - Nouvelle fenêtre">WebTV / WebRadio</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Balises/home/exploration.html" title="Exploration - Nouvelle fenêtre">Exploration</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Balises/home/ma-une.html" title="Mon webmagazine - Nouvelle fenêtre">Mon webmagazine</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Balises/home/qui-sommes-nous.html" title="Qui sommes-nous ? - Nouvelle fenêtre">Qui sommes-nous ?</a>
			</li>
		</ul>
	</div>

	<button type="button" id="btn-professionnels" data-toggle="collapse" data-target="#menu-professionnels" aria-expanded="false" aria-controls="menu-professionnels" class="nav-sitemap__button nav-sitemap__button--third">Professionnels</button>
	<div class="collapse nav-sitemap__content" id="menu-professionnels" data-parent="#accordion" aria-labelledby="btn-professionnels">
		<ul class="nav-sitemap__list">
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/collections-et-services.html" title="Collections et services - Nouvelle fenêtre">Collections et services</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/cohesion-sociale.html" title="Cohésion sociale - Nouvelle fenêtre">Cohésion sociale</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/etudes-1.html" title="Etudes - Nouvelle fenêtre">Etudes</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/metier.html" title="Métier - Nouvelle fenêtre">Métier</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/international-1.html" title="International - Nouvelle fenêtre">International</a>
			</li>
		</ul>
	</div>
</div>
