<ul>
	<li>
		<a href="http://www.culture.gouv.fr/" title="Ministère de la culture - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/50x50" alt="Ministère de la culture" />
		</a>
	</li>
	<li>
		<a href="https://www.centrepompidou.fr/" title="Centre Pompidou - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/50x50" alt="Centre Pompidou" />
		</a>
	</li>
	<li>
		<a href="https://www.ircam.fr/" title="Ircam - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/50x50" alt="Ircam" />
		</a>
	</li>
	<li>
		<a href="https://www.franceculture.fr/" title="France Culture - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/50x50" alt="France Culture" />
		</a>
	</li>
</ul>
