<ul>
	<li>
		<a href="http://www.culture.gouv.fr/" title="Aller sur le site du Ministère de la culture - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/50x50" alt="Logo du Ministère de la culture" />
		</a>
	</li>
	<li>
		<a href="https://www.centrepompidou.fr/" title="Aller sur le site du Centre Pompidou - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/50x50" alt="Logo du Centre Pompidou" />
		</a>
	</li>
	<li>
		<a href="https://www.ircam.fr/" title="Aller sur le site de l'Ircam - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/50x50" alt="Logo de l'Ircam" />
		</a>
	</li>
	<li>
		<a href="https://www.franceculture.fr/" title="Aller sur le site de France Culture - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/50x50" alt="Logo de France Culture" />
		</a>
	</li>
</ul>
