<ul>
	<li>
		<a href="https://www.bpi.fr/la-bibliotheque/offres-culturelles-et-mediations/offres-a-distance/les-pages-facebook-de-la-bpi" title="Retrouvez la Bpi sur Facebook - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/25x25" alt="Logo de Facebook" />
		</a>
	</li>
	<li>
		<a href="https://twitter.com/Bpi_Pompidou" title="Retrouvez la Bpi sur Twitter - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/25x25" alt="Logo de Twitter" />
		</a>
	</li>
	<li>
		<a href="https://www.instagram.com/bpi_pompidou/" title="Retrouvez la Bpi sur Instagram - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/25x25" alt="Logo d'Instagram" />
		</a>
	</li>
	<li>
		<a href="https://www.youtube.com/channel/UCc6F_5d78VvaFc07XNRBrdw" title="Retrouvez la Bpi sur YouTube - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/25x25" alt="Logo de YouTube" />
		</a>
	</li>
	<li>
		<a href="https://www.linkedin.com/company/bpi-bibliothequeepubliquedinformation/" title="Retrouvez la Bpi sur LinkedIn - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/25x25" alt="Logo de LinkedIn" />
		</a>
	</li>
	<li>
		<a href="https://www.bpi.fr/sites/SiteInstitutionnel/home/gestion/rss.html" title="Les fils RSS de la Bpi - nouvelle fenêtre" target="_blank">
			<img src="https://via.placeholder.com/25x25" alt="Logo Flux RSS" />
		</a>
	</li>
</ul>
