$orejime-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19) !default;
$orejime-border-radius: 4px !default;

$orejime-blue: $blue;
$orejime-green: #008A28 !default;

$orejime-theme-bg: #333 !default;
$orejime-theme-border: 1px solid #555 !default;
$orejime-theme-color: #eee !default;
$orejime-theme-color-light: #aaa !default;
