// -------------------------------
// Variable Global
// -------------------------------

// Colors

$red: 					#E2001A;
$blue:					#00417F;

$white:					#FFFFFF;
$black:					#000000;
$grey:					#b2b2b2;

$grey-disabled:		#696969;
$grey-border:			#D9D9D9;
$grey-footer:			#E2E2E2;

// Fonts

$font-size-html:		13px;
$font-regular:			normal;
$font-medium:			500;
$font-bold:				bold;


// State

$outline:				thin dotted $red;


// Decorations

$dropdown-shadow:		1px 4px 4px rgba($black, .25);