// -------------------------------
// Configuration Orejime - Gestionnaire des cookies
// -------------------------------

$orejime-box-shadow: $dropdown-shadow;
$orejime-border-radius: 0;

$orejime-blue: $red;
$orejime-green: $red;

$orejime-theme-bg: $black;
$orejime-theme-border: 0;
$orejime-theme-color: $white;
$orejime-theme-color-light: $grey-disabled;
