// -------------------------------
// Variable Global
// -------------------------------

// Colors

$red: 					#B40626;
$blue:					#375AC0;
$green:					#387522;

$white:					#FFFFFF;
$black:					#000000;
$grey:					#727272;

$grey-disabled:		    #535353;
$grey-border:			#D9D9D9;
$grey-lighter:          #E7E7E7;
$grey-footer:			#E2E2E2;
$grey-modal:			#F9F9F9;
$grey-secondary:        #595959;

// Fonts

$font-size-html:		15px;
$font-base:             15;
$font-regular:			normal;
$font-medium:			500;
$font-bold:				bold;


// States

$outline:				thin dotted $red;
$hover:					underline;
$hover-target:			underline dotted $red;


// Decorations

$dropdown-shadow:		1px 4px 4px rgba($black, .25);
$border-default:		2px solid $black;
$border-thin: 			1px solid $grey;
$border-check: 		    2px solid $grey;
