// -------------------------------
// Disponibilité
// -------------------------------

.availability {
	
	&--false {
		display: flex;
		align-items: center;
	}

	&__place {
		margin-bottom: $spacer;
	}

	&__button {
		margin-top: -20px;
	}

	.list-result {

		.availability__button {
			margin-top: 0;
		}
	}

	&--online {

		&.availability--false {
			font-weight: $font-bold;
			color: $green;
		}
	}

	&--rayon {

		&.availability--true {

			.availability__status {
				font-weight: $font-bold;
				color: $green;
				text-transform: uppercase;
			}
		}

		&.availability--false {
			font-weight: $font-bold;
			color: $red;

			.availability__status {
				text-transform: uppercase;
			}
		}
	}
}