// -------------------------------
// Disponibilité
// -------------------------------

.availability {
	
	&--true,
	&--false {
	}

	&__status {
	}

	&--true {

		.availability__status {
		}
	}

	&--false {
		display: flex;
		align-items: center;

		.availability__status {
		}
	}

	&__place {
		margin-bottom: $spacer;
	}

	&__button {
		margin-top: -20px;
	}

	.list-result {

		.availability__button {
			margin-top: 0;
		}
	}

	&--online {
	}
}