// -------------------------------
// Disponibilité
// -------------------------------

.availability {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;

	ul {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
	}

	li + li {
		margin-top: 5px;
	}

	p {
		margin-bottom: 0;
	}
	
	&--false {
		display: flex;
		align-items: center;
	}

	&--online {
		font-weight: $font-bold;

		&.availability--true {

			.link {
				color: $blue;

				&:hover,
				&:focus {
					color: $red;
				}
			}
		}
	}

	&--rayon {

		&.availability--true {

			.availability__status {
				font-weight: $font-bold;
				color: $green;
				text-transform: uppercase;
			}
		}

		&.availability--false {
			font-weight: $font-bold;
			color: $red;

			.availability__status {
				text-transform: uppercase;
			}
		}
	}

	&--numbers {
		.availability__label {
			font-weight: $font-bold;
			text-transform: uppercase;
		}

		#availabity-n-items.show {
			display: flex;

			.availability__list {
				margin-left: 20px;
			}
		}
	}
}
