// -------------------------------
// Breadcrumb
// -------------------------------

.breadcrumb {
	padding-left: 0;

	@media print {
		display: none;
	}

	&-item {
		
		a {
			color: $black;

			&:hover,
			&:focus {
				color: $red;
			}
		}
	}
}