// -------------------------------
// Buttons Arrow
// -------------------------------

.button-arrow {
	display: flex;
	justify-content: center;
	align-items: center;

	&__button {
		background-color: $red;
		color: $white;
		padding: 0 10px;
		margin: 0 5px;
		height: rem(24);
		position: relative;		

		&:hover {
			background-color: $black;
			color: $white;
			text-decoration: none;
		}

		&:focus {
			outline-offset: 1px;
			color: $white;
		}

		&:first-child {

			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-top: rem(12) solid transparent;
				border-bottom: rem(12) solid transparent;
				border-right: rem(12) solid $red;
				left: 0;
				top: 0;
				margin-left: rem(-12);
			}

			&:hover {

				&:before {
					border-right-color: $black;
				}
			}
		}

		&:last-child {

			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-top: rem(12) solid transparent;
				border-bottom: rem(12) solid transparent;
				border-left: rem(12) solid $red;
				right: 0;
				top: 0;
				margin-right: rem(-12);
			}

			&:hover {

				&:after {
					border-left-color: $black;
				}
			}
		}
	}	
}