// -------------------------------
// Carousel Secondaire - carousels notice bibliographique + autorité
// -------------------------------

.carousel-secondary {
	margin-bottom: $spacer;

	&--double {
		padding-top: 25px;
		@extend .border-double;
		background-position: 0 top;
	}
}