// -------------------------------
// Custom Checkbox + Radio
// -------------------------------

.form-check {
	position: relative;
	display: flex;
	width: 100%;

	input {
		position: relative;
		min-width: rem(15);
		flex: 0 0 rem(15);
		height: rem(15);
		top: 0;
		left: 0;
		opacity: 0;
		margin-top: rem(4);
		margin-right: rem(7);
		margin-left: 0;
		z-index: 5;

		& + label,
		& + .form-check--label {

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: rem(15);
				height: rem(15);
				margin-top: rem(4);
				border: $border-check;
			}

			&::after {
				content: "";
				position: absolute;
				width: rem(7);
				height: rem(7);
				top: 0;
				left: 0;
				margin-top: rem(8);
				margin-left: rem(4);
				background-color: $red;
				opacity: 0;
			}
		}

		&:focus {

			& + label,
			& + .form-check--label {

				&::before {
					outline: $outline;
				}

				&::after {
					opacity: 1;
					background-color: $black;
				}
			}
		}

		&:hover {

			& + label::after,
			& + .form-check--label::after {
				opacity: 1;
				background-color: $black;
			}
		}

		&:checked {

			& + label::after,
			& + .form-check--label::after {
				opacity: 1;
				background-color: $red;
			}
		}

		&[type="radio"] {

			& + label {
	
				&::before,
				&::after,
				& + .form-check--label::before,
				& + .form-check--label::after  {
					border-radius: rem(15);
				}
			}
		}
	}
}