// -------------------------------
// Dropdown in <main>
// -------------------------------

#contenu-site {

	.dropdown {

		&-toggle {
			background-color: transparent;

			&:hover {
				color: $red;
				text-decoration: underline;
			}

			&[data-toggle="dropdown"] {
				//border: 0;
			}
		}

		&-menu {
			box-shadow: $dropdown-shadow;
		}

		&-item {
			padding: 5px $spacer;
			
			a {
				color: $black;

				&:hover {
					color: $red;
				}
			}
		}

		&-image-start {
			display: none;
			width: 25px;
			height: auto;
			margin-right: 10px;

			@include media-breakpoint-up(md) {
				display: inline-block;
			}
		}
	}
}
