// -------------------------------
// Links
// -------------------------------

.link {


	&--icone {
		margin-top: -2px;
		display: block;

		img {
			height: 13px;

			+ span {
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}

	&--icone-end {
		margin-top: -2px;
		display: block;

		img {
			height: 13px;
			transform: scaleX(-1);
			margin-top: -3px;
		}
	}
}