// -------------------------------
// Résultat de recherche - Liste
// -------------------------------

.list-result {
	border-bottom: $border-default;
	height: 100%;

	&--authority {

		.list-result__content-item {
			border-bottom: 0;
			display: flex;
		}

		.list-result__content-selector {
			min-width: 50px;
			flex: 0 0 50px;
		}

		.list-result__content-body {
			flex: 1;
		}

		.list-result__content-image {

			@include media-breakpoint-up(md) {
				min-width: 150px;
				flex: 0 0 150px;
				padding-right: $spacer * 2;
			}
		}

		.list-result__content-infos {

			@include media-breakpoint-up(md) {
				min-width: calc(100% - 150px);
				flex: 0 0 calc(100% - 150px);
			}
		}

		.list-information__item {
			margin: 0;
		}
	}

	&--rayon {

		.list-result__header,
		.list-result__content {

			@include media-breakpoint-up(md) {
				padding-right: $spacer;
			}
		}
	}

	&--online {
		background-color: $grey-lighter;
		height: 100%;
		position: relative;

		&:before,
		&:after {
			content: '';
			position: absolute;
			width: $spacer;
			height: 100%;
			top: 0;
			background-color: $grey-lighter;

			@include media-breakpoint-up(md) {
				display: none;
			}
		}

		&:before {
			left: 0;
			margin-left: -$spacer;
		}

		&:after {
			right: 0;
			margin-right: -$spacer;
		}

		.list-result__header,
		.list-result__content {

			@include media-breakpoint-up(md) {
				padding-left: $spacer;
			}
		}

		.list-result__header {

			@include media-breakpoint-up(md) {
				padding-right: $spacer;
			}
		}

		.list-result__content-infos {

			@include media-breakpoint-up(md) {
				padding-right: $spacer;
			}
		}
	}

	&--modal {

		.list-result__content-selector,
		.list-result__content-button {
			display: none;
		}

		.list-result__content-body {
			padding-bottom: $spacer;
			margin-left: $spacer;
			margin-right: $spacer;
			margin-bottom: $spacer;
			border-bottom: $border-thin;

			&:last-child {
				border-bottom: 0;
			}
		}		
	}

	&--full {

		.list-result__content-infos {

			.list-result__content-resume {
				display: none;
			}

			@include media-breakpoint-up(md) {
				min-width: calc(100% - 100px - 40%);
				flex: 0 0 calc(100% - 100px - 40%);
			}
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $spacer 0;
		border-bottom: $border-thin;


		&-informations {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		&-checkbox {
			margin-right: 5px;
		}

		&-title {
			margin-bottom: 0;

			span {
				color: $grey-disabled;
			}
		}

		&-link {
			margin-left: 22px;
			margin-top: 10px;

			@include media-breakpoint-only(md) {
				margin-left: 20px;
				margin-top: 3px;
			}
		}
	}

	&__content {

		&-item {
			padding: $spacer 0;
			border-bottom: $border-thin;

			&:last-child {
				border-bottom: 0;
			}

			.availability__status-detail {
				display: none;
			}
		}

		&-selector {
			width: 100%;
			margin-bottom: rem(10);
		}

		&-title {
			display: flex;
			margin-bottom: rem(5);

			a {
				margin-bottom: 0;
				color: $blue;

				&:hover,
				&:focus {
					color: $red;
				}
			}
		}

		&-body {
			display: flex;
			flex-wrap: wrap;

			@include media-breakpoint-up(md) {
				flex-wrap: nowrap;
			}
		}

		&-image {
			min-width: 100%;
			flex: 0 0 100%;
			margin-bottom: $spacer;
			text-align: center;

			img {
				max-width: 150px;

				@include media-breakpoint-up(md) {
					max-width: 100%;
				}
			}

			@include media-breakpoint-up(md) {
				padding-right: $spacer;
				margin-bottom: 0;
				min-width: 100px;
				flex: 0 0 100px;
			}
		}

		&-infos {
			min-width: 100%;
			flex: 0 0 100%;

			@include media-breakpoint-up(md) {
				min-width: calc(100% - 100px);
				flex: 0 0 calc(100% - 100px);
			}

			p {
				margin-bottom: 2px;
			}
		}

		&-txt {
			min-width: 100%;
			flex: 0 0 100%;
			margin-top: $spacer;

			@include media-breakpoint-up(md) {
				margin-top: 0;
				padding-left: $spacer;
				min-width: 40%;
				flex: 0 0 40%;
			}
		}

		&-type {
			width: rem(25);
			min-width: rem(25);
			max-height: rem(25);
			margin-right: rem(5);
		}

		&-resume {
			background: transparent;
			border: 0;
			padding: 0;
			line-height: 1;
			display: inline-block;
			vertical-align: bottom;

			img {
				width: rem(20);
				height: rem(20);
			}
		}

		&-button {
			padding: 0;
			margin-left: rem(5);
			line-height: 1;

			img {
				width: rem(25);
			}
		}
	}

	label {
		vertical-align: middle;
	}

	&__collapse {
		padding-bottom: $spacer;

		&-button {
			padding: 0;
			color: $blue;
	
			&:hover {
				color: $red;
				text-decoration: underline;
			}
		}

		.list-result__content-item {
			border-top: $border-thin;
		}
	}
}