// -------------------------------
// Modals
// -------------------------------

.modal {
	background-color: $grey-modal;

	@include media-breakpoint-up(sm) {
		background-color: transparent;
	}

	&-content {
		background-clip: unset;
		border: 0;
		margin-top: 60px;
		margin-bottom: 70px;	

		@include media-breakpoint-up(sm) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&-header {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		background-color: $grey-modal;
		z-index: $zindex-fixed;

		@include media-breakpoint-up(sm) {
			position: relative;
		}

		align-items: center;

		&__title {
			margin-bottom: 0;
		}

		.close {
			background-color: $grey-disabled;
			margin: 0;
			padding: 5px;
			float: none;
			width: 30px;
			height: 30px;
			line-height: 5px;
			opacity: 1;

			img {
				width: 15px;
			}

			&:hover {
				background-color: $red;
				opacity: 1 !important;
			}
		}
	}

	&-body {
		border-bottom: 1px solid $white;

		&:last-child {
			background-color: red;
			border-bottom: 0;
		}

		.list-result {

			@include media-breakpoint-up(md) {
				max-height: 400px;
				overflow-y: auto;
			}
		}
	}

	&-form {

		&__indication {
			margin-bottom: $spacer;
			display: block;

			span {
				color: $red;
			}
		}

		.form-group {

			label {
				padding-top: 5px;
				padding-bottom: 5px;
				font-size: 15px;		

				@include media-breakpoint-up(sm) {
					padding-bottom: 0;
				}

				span {
					color: $red;
				}
			}
		}
	}

	&-footer {
		flex-wrap: wrap;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		background-color: $grey-modal;
		z-index: $zindex-fixed;
		margin-top: -1px;

		@include media-breakpoint-up(sm) {
			position: relative;
		}

		&__quote {
			min-width: 100%;
			flex: 0 0 100%;
		}
		
		&__erase {
			font-size: 18px;
			font-weight: $font-bold;
			color: $red;
			padding: 0;

			&:hover {
				color: $grey-disabled;
			}
		}

		&__cancel {
			background-color: $grey-disabled;
			color: $white;
			font-size: 21px;
			padding: 3px 25px;

			&:hover {
				background-color: $red;
			}
		}

		&__submit {
			background-color: $red;
			color: $white;
			font-size: 21px;
			display: flex;
			align-items: stretch;
			padding: 3px 25px;

			&:hover {
				background-color: $grey-disabled;
			}

			img {
				width: 23px;
				margin-left: 10px;
			}
		}
	}

	&--filter {
		
		.modal-footer {
			justify-content: space-between;
		}
	}
}