// -------------------------------
// Tabs
// -------------------------------

.nav-tabs {

	.nav-link {
		border: $border-default;
		background-color: $grey-border;
		margin-left: -2px;

		&:hover {
			background-color: $white;
		}

		&:focus {
			outline-offset: -4px;
		}
	}

	.nav-item {

		&:first-child {

			.nav-link {
				margin-left: 0;
			}
		}
	}
}

.tab-pane {
	padding-top: $spacer;
}