// -------------------------------
// Nav Pills
// -------------------------------

#contenu-site {
	.nav-pills {
		margin-bottom: $spacer;

		.nav {

			&-item {
				min-width: 100%;
				flex: 0 0 100%;
				position: relative;

				@include media-breakpoint-up(sm) {
					flex: 1 1 auto;
					min-width: auto;
					margin-bottom: -1px;
					margin-right: -1px;
				}

				.nav-link {
					color: $black;

					&:hover,
					&:focus {
						
						color: $red;
					}
				}

				&:last-child {

					.nav-link {
						border-bottom: $border-thin;

						@include media-breakpoint-up(sm) {
							border-right: $border-thin;
						}
					}
				}

				.dropdown-menu {
					
					.dropdown-item {

						&:hover,
						&:focus {
							text-decoration: $hover;
						}
					}
				}

				&:hover {

					.dropdown-menu {

						@include media-breakpoint-up(md) {
							display: block !important;
						}
					}
				}
			}

			&-link {
				border: $border-thin;
				border-bottom: 0;

				&:after {
					display: none;

					@include media-breakpoint-up(md) {
						display: inline-block;
					}
				}

				@include media-breakpoint-up(sm) {
					border-bottom: $border-thin;
				}

				&:focus {
					outline-offset: -3px;
				}
			}
		}
	}
}