// -------------------------------
// Pagination
// -------------------------------

.pagination {
	margin: $spacer 0;

	@media print {
		display: none;
	}

	.page-item {
		margin: 0 rem(5);

		@include media-breakpoint-up(md) {
			margin: 0;
		}
	}

	.page {

		&-link {
			height: 100%;
			margin-bottom: 0;
			line-height: 1.5;
			display: initial;
			padding: 0 rem(5);

			&:hover {
				text-decoration: underline;
			}

			img {
				height: rem(13);

				+ span {
					margin-left: rem(5);
				}
			}

			span {
				vertical-align: middle;

				+ img {
					margin-left: rem(5);
				}
			}

			&--right,
			&--right-double {

				img {
					transform: scaleX(-1);
				}
			}

			&--reset {

				&:hover {
					text-decoration: none;
					color: $black;
				}
			}

			&__input {
				max-width: rem(90);
			}
		}	
	}

	&--header {
		margin: 0;
		align-items: flex-end;

		.page-item {
			margin: 0;
		}

		p.page-link {
			border-left: $border-default;
			border-right: $border-default;
			border-top: 0;
			border-bottom: 0;
			
			&:hover {
				border-top-color: transparent;
				border-bottom-color: transparent;
				border-left-color: $black;
				border-right-color: $black;
				color: $black;
				text-decoration: none;
			}

			&.page-link--left {
				border: 0;
			}
		}

		.page-link {
			margin-left: 0;
		}
	}
}