// -------------------------------
// Pagination
// -------------------------------

.pagination {
	margin: $spacer 0;

	.page {

		&-link {
			height: 100%;
			margin-bottom: 0;

			&:hover {
				text-decoration: underline;
			}

			img {
				height: 13px;

				+ span {
					margin-left: 5px;
				}
			}

			span {
				vertical-align: middle;

				+ img {
					margin-left: 5px;
				}
			}

			&--right,
			&--right-double {

				img {
					transform: scaleX(-1);
				}
			}

			&--reset {

				&:hover {
					border-color: transparent;
				}
			}
		}	
	}

	&--header {
		margin: 0;
		align-items: flex-end;

		p.page-link {
			border-left: $border-default;
			border-right: $border-default;
			
			&:hover {
				border-top-color: transparent;
				border-bottom-color: transparent;
				border-left-color: $black;
				border-right-color: $black;
				color: $black;
				text-decoration: none;
			}
		}

		.page-link {
			margin-left: 0;
		}
	}
}