// -------------------------------
// Pagination
// -------------------------------

.pagination {
	margin: $spacer 0;

	@media print {
		display: none;
	}

	.page-item {
		margin: 0 rem(5);

		@include media-breakpoint-up(md) {
			margin: 0 rem(3);
		}
	}

	&--icone {
		margin: 0;
		padding: $spacer 0;

		.link {
			padding: 0 rem(5);

			img {
				position: relative;
				transform: none;
				top: 0;
			}

			&--icone-end {

				img {
					transform: scaleX(-1)!important;
				}
			}
		}
	}

	.page {

		&-link {
			border: 0;
			height: 100%;
			margin-bottom: 0;
			padding: 0 rem(5);
			display: inline-block;

			&--reset {

				&:hover {
					text-decoration: none;
					color: $black;
				}
			}

			&--nolink {
				border-left: $border-default;
				border-right: $border-default;
				color: $black;
				text-decoration: none;
			}

			&__input {
				max-width: rem(70);
				text-align: center;
				line-height: 1;
				padding-top: rem(4);
			}

		}	
	}

	&--header {
		margin: 0;
		align-items: flex-end;

		.page-item {
			margin: 0;
		}

		.page-link {
			margin-left: 0;

			&:hover {
				text-decoration: none;
				color: $black;
			}

			&.link--icone,
			&.link--icone-end {

				&:hover {
					text-decoration: underline;
					color: $red;
				}
			}
		}
	}

	.page-item:first-child {

		.page-link {

			&--nolink {
				border-left: 0;
				border-right: 0;
			}
		}
	}
}
