// -------------------------------
// Résultat de recherche - Rappel des critères 
// -------------------------------

.search-criteria {
	padding: 15px 0;
	display: flex;
	border-top: $border-thin;

	@include media-breakpoint-up(sm) {
		border-bottom: $border-thin;
	}

	&__label {
		margin-bottom: 0;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding-left: 15px;
		flex: 1;

		@include media-breakpoint-up(md) {
			display: flex;
		}
	}

	&__item {

		a {
			display: inline-block;
			position: relative;
			padding-right: 20px;
			margin-right: 5px;

			&:before {
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				background-image: url('/images/icones/icone-croix-rouge.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				top: 50%;
				right: 5px;
				transform: translateY(-50%);
			}

			&:after {
				content: ',';
				position: absolute;
				right: 0;
			}
		}

		&:last-child {

			a:after {
				display: none;
			}
		}
	}
}