// -------------------------------
// Tableaux
// -------------------------------

.dataTables_wrapper {
	overflow: auto;
}

.table {
	width: 100%!important;
	white-space: nowrap;

	thead {

		th {
			vertical-align: middle;
			font-weight: $font-regular;
		}
	}

	th,
	td {
		vertical-align: middle;

		@include media-breakpoint-up(md) {
			padding: 7px;
		}
	}

	p {
		margin-bottom: 0;
	}

	&__button {
		padding: 0;
		
		.caret {
			display: inline-block;
			vertical-align: text-bottom;
			width: rem(8);
			height: rem(12);
			margin: 0 5px;
			background-image: url('/images/icones/icone-caret-double.svg');
			background-repeat: no-repeat;
			background-position: 0 0;
		}
	}

	[aria-sort="none"] {

		.table__button {

			.caret {
				vertical-align: text-bottom;
				background-position: 0 0;
			}
		}
	}

	[aria-sort="ascending"] {

		.table__button {

			.caret {
				vertical-align: text-bottom;
				background-position: 0 rem(-6);
			}
		}
	}

	[aria-sort="descending"] {

		.table__button {

			.caret {
				vertical-align: text-top;
				background-position: 0 rem(7);
			}
		}
	}

	&__type {
		width: rem(15);
	}

	&__body {

		&-search {
			position: relative;
			text-align: right;

			a {
				width: rem(30);
				height: rem(30);
				line-height: 2;
				border-radius: 50%;
				background-color: $grey;
				display: inline-block;
				text-align: center;

				@include media-breakpoint-up(md) {
					width: rem(25);
					height: rem(25);
					line-height: 1.7;
				}

				img {
					width: rem(17);

					@include media-breakpoint-up(md) {
						width: rem(14);
					}
				}
			}
		}

		&-type {
			text-align: center;
		}

		&-edit {
			display: flex;
			align-items: center;
			position: relative;

			button {
				min-width: rem(30);
				height: rem(30);
				line-height: 1px;
				padding: 0;
				border-radius: 50%;
				background-color: $grey;
				display: inline-block;
				text-align: center;
				margin-left: 15px;
				border: 0;

				@include media-breakpoint-up(md) {
					min-width: rem(25);
					height: rem(25);
				}

				img {
					width: rem(17);

					@include media-breakpoint-up(md) {
						width: rem(14);
					}
				}
			}
		}
	}
}