<!-- Début - Bloc 18 Informations de la notice d'autorité -->
 
<div class="col-12 col-md-4">
	<div class="authority-result__image">
		<img src="{{ asset('images/types-autorite/autorite-personne.svg') }}" alt="" class="img-fluid" />
	</div>
</div>
<div class="col-12 col-md-8">
	<div class="authority-result__body">
		<h1 class="n1 authority-result__title" lang="fr">Georges VI , roi de Grande-Bretagne (1895-1952)</h1>
		<ul class="list-information">
			{% include 'common/informations-detail-authority.html.twig' with {'prefix': 'bloc.autority-result-information.', 'notice':notice} %}
		</ul>
	</div>
</div>
<div class="col-12">
	<p lang="fr" class="authority-result__resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam nam porro reprehenderit, voluptas vel, distinctio, consectetur quas impedit architecto autem optio? Porro iusto aliquam cumque est dicta error doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam nam porro reprehenderit, voluptas vel, distinctio, consectetur quas impedit architecto autem optio? Porro iusto aliquam cumque est dicta error doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam nam porro reprehenderit, voluptas vel, distinctio, consectetur quas impedit architecto autem optio? Porro iusto aliquam cumque est dicta error doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam nam porro reprehenderit, voluptas vel, distinctio, consectetur quas impedit architecto autem optio? Porro iusto aliquam cumque est dicta error doloribus.</p>
</div>
<!-- Fin - Bloc 18 Informations de la notice d'autorité -->
