<!-- Début - Bloc 15 Navigation dans les résultats -->

<div class="col-auto">
	<a href="#" class="link link--icone mb-3 mb-md-0"><img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/><span>Retour aux résultats</span></a>
</div>
<div class="col-12 col-md-auto">
	<nav aria-label="pagination">
		<ul class="pagination pagination--header justify-content-center justify-content-md-end">
			<li class="page-item">
				<a href="#" class="page-link page-link--left"><img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/><span>Document précédent</span></a>
			</li>
			<li class="page-item">
				<p class="page-link">6 sur 55</p>
			</li>
			<li class="page-item">
				<a href="#" class="page-link page-link--right"><span>Document suivant</span><img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/></a>
			</li>
		</ul>
	</nav>
</div>
<div class="col-12">
	<hr class="border-default">
</div>

<!-- Fin - Bloc 15 Navigation dans les résultats -->
