<li class="search-autocomplet__item" role="option" aria-selected="false">Proposition 1</li>
<li class="search-autocomplet__item" role="option" aria-selected="false">Proposition 2</li>
<li class="search-autocomplet__item" role="option" aria-selected="false">Proposition 3</li>
<li class="search-autocomplet__item" role="option" aria-selected="false">Proposition 4</li>
