<li role="option" aria-selected="false">Proposition 1</li>
<li role="option" aria-selected="false">Proposition 2</li>
<li role="option" aria-selected="false">Proposition 3</li>
<li role="option" aria-selected="false">Proposition 4</li>
