{% extends 'search/index.html.twig' %}

{% block result %}
	<div class="col-12">
        {% include 'search/blocs-results/docs-container.html.twig' with {'type': 'rayon', 'notices': objSearch.notices} %}
	</div>

{% endblock %}
