{% extends 'search/index.html.twig' %}

{% block result %}
	<div class="row">
        {% if seeAll in [constant('App\\Model\\Notice::SEE_ONSHELF') , constant('App\\Model\\Notice::ALL')] or seeAll is null %}
            {% set pagesTotal = objSearch.results.notices.totalCount %}
			<div class="col-12">
                {% include 'search/blocs-results/docs-container.html.twig' with { 'type': constant('App\\Model\\Notice::ON_SHELF'), 'notices': objSearch.results.notices, 'classColl': 'full'} %}
			</div>
        {% endif %}
        {% if seeAll in [constant('App\\Model\\Notice::SEE_ONLINE') , constant('App\\Model\\Notice::ALL')] or seeAll is null %}
            {% set pagesTotal = objSearch.results.noticesOnline.totalCount %}
			<div class="col-12">
                {% include 'search/blocs-results/docs-container.html.twig' with {'type':constant('App\\Model\\Notice::SEE_ONLINE'), 'notices': objSearch.results.noticesOnline, 'classColl': 'full'} %}
			</div>
        {% endif %}
	</div>
	<div class="row">
		{# Include Pagination #}
		{% include "search/blocs-results/search-footer.html.twig" with {'criteria':objSearch.results.criteria, 'pagesTotal': objSearch.results.pageTotal, 'page':  objSearch.results.page} %}
	</div>
{% endblock %}


