{% extends 'base.html.twig' %}

{% block body %}

	<div>
		<h1>Résultat de recherche</h1>
		<p lang="fr">par Guy de Maupassant (1850 - 1893)</p>

		<a href="##">Découvrir l'auteur</a>

		<a href="##">Du même auteur</a>

		<span>*Insert icone livre*</span>
	</div>

	 <ul>
			<li><a href="{{ path('record_bibliographic') }}">notice bibliographique</a></li>
			<li><a href="{{ path('record_authority') }}">notice autorite</a></li>
	 </ul>
	
{% endblock %}
