{% extends 'base.html.twig' %}

{% block title %}Résultat de recherche{% endblock %}

{% block body %}

	<div>
		<div>
			{% include "search/blocs/search-corrector.html.twig" %}
		</div>

		<div>
			{% include "search/blocs/related-topics.html.twig" with {'linkedSubjects': objSearch.linkedSubjects} %}
		</div>

		<div>
			{% include "search/blocs/relaunch-search.html.twig" %}
		</div>
	</div>

	<div>
		<div>
			{% include "search/blocs/filters-search.html.twig" %}
		</div>

		<div>
			<button type="button" data-target="modal-refine-search">Affiner<span class="sr-only"> la recherche</span></button>
			<!-- Include modal des filtres - Affiner -->
			{% include "search/modal/refine-search.html.twig" with {'facets': objSearch.facets} %}
		</div>
	</div>

	<div>
		{% include "search/blocs/results/preview-authority.html.twig" with {'author': objSearch.mainAuthor} %}
	</div>


	<div>
		<button type="button" data-toggle="collapse" data-target="#related-notices" aria-expanded="false" aria-controls="related-notices">Voir plus</button>
        {# Include collapse notices d'autorité - Affiche les 5 notices d'autorité les plus pertinentes #}
		<div id="related-notices" class="collapse">
            {% for author in objSearch.otherAuthors %}
                {% include "search/blocs/results/preview-authority.html.twig" with {'author': author} %}
            {% endfor %}
		</div>
	</div>

	<div>
        {% from 'search/macros/list-notices.html.twig' import display_list as list_notices %}
		{{ list_notices('shelf', objSearch.notices) }}
		{{ list_notices('online', objSearch.noticesOnline) }}
	</div>

	<div>
		{# Include Pagination + Nombre item #}
		{% include "search/blocs/footer-search.html.twig" %}
	</div>

	<!-- Include modal formulaire pour être prevenu du retour du document en rayon -->
	{% include "search/modal/notified-form.html.twig" %}
{% endblock %}
