{% extends 'base.html.twig' %}

{% block body %}

	<div>
		<h1>Résultat de recherche</h1>
		<p>Essayez avec l'orthographe <a href="##">Guy de Maupassand</a></p>

		<div>
			<button>Sujet lié *Insert caret*</button>
			<div>
				<ul>
					<li><a href="##">Sujet lié 1</a></li>
					<li><a href="##">Sujet lié 2</a></li>
					<li><a href="##">Sujet lié 3</a></li>
				</ul>
			</div>
		</div>

		<a href="##">Du même auteur</a>
	</div>

	 <ul>
			<li><a href="{{ path('record_bibliographic') }}">notice bibliographique</a></li>
			<li><a href="{{ path('record_authority') }}">notice autorite</a></li>
	 </ul>
	
{% endblock %}
