{% extends 'base.html.twig' %}

{% block title %}Résultat de recherche{% endblock %}

{% block body %}

	<div class="row justify-content-sm-between">
		<div class="col-12 col-sm-auto">
			{% include "search/blocs/search-corrector.html.twig" %}
		</div>
		
		<div class="col-auto">
			{% include "search/blocs/related-topics.html.twig" %}
		</div>

		<div class="col-auto">
			{% include "search/blocs/relaunch-search.html.twig" %}
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 col-sm-10 pr-sm-0">
			{% include "search/blocs/filters-search.html.twig" %}
		</div>

		<div class="col-12 col-sm-2 pl-sm-0">
			<div class="search-refine">
				<button class="search-refine__button" type="button" data-target="#modal-refine-search" data-toggle="modal">Affiner<span class="sr-only"> la recherche</span></button>
				<!-- Include modal des filtres - Affiner -->
				{% include "search/modal/refine-search.html.twig" %}
			</div>
		</div>
	</div>

	<div class="row search-result flex-sm-row-reverse">
		{% include "search/blocs/results/preview-authority.html.twig" %}
	</div>	

	<div class="row">
		<div class="col-12 col-md-6 pr-md-0">
			<div class="list-result list-result--rayon">

				<div class="list-result__header">
					{# Include header - Documents en rayon #}
					{% include "search/blocs/results/header-docs-rayon.html.twig" %}
				</div>

				<div class="list-result__content">
					{% for i in 1..10 %}
						{# Include résultat - Documents en rayon #}
						{% include "search/blocs/results/docs-rayon.html.twig" %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 pl-md-0">
			<div class="list-result list-result--online">

				<div class="list-result__header">
					{# Include header - Documents en ligne #}
					{% include "search/blocs/results/header-docs-online.html.twig" %}
				</div>

				<div class="list-result__content">
					{% for i in 1..10 %}
						{# Include résultat - Documents en ligne #}
						{% include "search/blocs/results/docs-online.html.twig" %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-sm-end">
		{# Include Pagination + Nombre item #}
		{% include "search/blocs/footer-search.html.twig" %}
	</div>

	<!-- Include modal formulaire pour être prevenu du retour du document en rayon -->
	{% include "search/modal/notified-form.html.twig" %}
{% endblock %}
