{% extends 'base.html.twig' %}

{% block title %}Résultat de recherche{% endblock %}

{% block body %}

	<div>
		<div>
			{% include "search/blocs/search-corrector.html.twig" %}
		</div>
		
		<div>
			{% include "search/blocs/related-topics.html.twig" %}
		</div>

		<div>
			{% include "search/blocs/relaunch-search.html.twig" %}
		</div>
	</div>
	
	<div>
		<div>
			{% include "search/blocs/filters-search.html.twig" %}
		</div>

		<div>
			<button type="button" data-target="modal-refine-search" data-toggle="modal">Affiner<span class="sr-only"> la recherche</span></button>
			<!-- Include modal des filtres - Affiner -->
			{% include "search/modal/refine-search.html.twig" %}
		</div>
	</div>

	<div>
		{% include "search/blocs/results/preview-authority.html.twig" %}
	</div>	

	<div>
		<div>

			<div>
				{# Include header - Documents en rayon #}
				{% include "search/blocs/results/header-docs-rayon.html.twig" %}
			</div>

			<div>
				{% for i in 1..3 %}
					{# Include résultat - Documents en rayon #}
					{% include "search/blocs/results/docs-rayon.html.twig" %}
				{% endfor %}
			</div>
		</div>

		<div>

			<div>
				{# Include header - Documents en ligne #}
				{% include "search/blocs/results/header-docs-online.html.twig" %}
			</div>

			<div>
				{% for i in 1..3 %}
					{# Include résultat - Documents en ligne #}
					{% include "search/blocs/results/docs-online.html.twig" %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div>
		{# Include Pagination + Nombre item #}
		{% include "search/blocs/footer-search.html.twig" %}
	</div>

	{# 
	<ul>
		<li><a href="{{ path('record_bibliographic') }}">notice bibliographique</a></li>
		<li><a href="{{ path('record_authority') }}">notice autorite</a></li>
	</ul>
	#}

	<!-- Include modal formulaire pour être prevenu du retour du document en rayon -->
	{% include "search/modal/notified-form.html.twig" %}
{% endblock %}
