<form role="search">
	<div class="sr-only" id="autocompletion-infos" tabindex="0">*Insert texte explicatif pour l'auto-completion*</div>
	<div role="combobox" aria-expanded="false" aria-owns="autocompletion-list" aria-haspopup="listbox" id="search-banner"> 
		<div class="input-group">
			<label for="search-input" id="search-label">Rechercher</label> 
			<input type="text" aria-autocomplete="list" aria-controls="autocompletion-list" id="search-input" placeholder="Rechercher">
			<div class="input-group-append">
				<button type="button">
					Tout les mots <i aria-hidden="true">*insert icone caret*</i>
				</button>
				<button type="button">
					<i aria-hidden="true">*insert icone loupe*</i>
					<span class="sr-only">Valider la recherche</span>
				</button>
				<button type="button" data-target="modal-search-advanced" aria-label="Rercherche Avancée - ouverture formulaire">Recherche Avancée</button>
			</div>
		</div>
	</div> 
	<ul aria-labelledby="search-label" aria-describedby="autocompletion-infos" role="listbox" id="autocompletion-list" class="listbox">
		<li class="sr-only" aria-live="assertive" tabindex="0">*Insert nombre de résultats* options affichées</li>
		{% include "search/autocompletion.html.twig" %}
	</ul>
</form>
<!-- Début - Modal Recherche Avancée -->
{% include "search/modal/advanced-search.html.twig" %}
<!-- Fin - Modal Recherche Avancée -->