<h2 class="n1 title-icone">
    <span class="icone-square"><img src="{{ asset('images/icones/icone-horloge.svg') }}" alt="" class="icone-horloge"/></span><span>{{ 'page.personal-data.historic.title'|trans }}</span>
</h2>

<p class="sr-only">{{ 'page.personal-data.historic.notice'|trans }}</p>

<div class="row justify-content-md-between banner-tools">
    {% include "user/blocs/banner-tools.html.twig" with {'type':'historique'} %}
</div>

<div>
    {% include "user/blocs/historic-search.html.twig" %}
</div>
