<h2 class="n1 title-icone">
    <span class="icone-square"><img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/></span><span>{{ 'page.personal-data.selection.title'|trans }}</span>
</h2>

<div class="row justify-content-md-between banner-tools">
    {% include "user/blocs/banner-tools.html.twig" with {'type':'selection'} %}
</div>

<div>
    {% include "user/blocs/list-user.html.twig" %}
</div>
