<div role="dialog" aria-modal="true" aria-labelledby="modal-notified">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 id="modal-notified">Etre prevenu de son retour en rayon</h4>
					<button type="button" aria-label="Fermer cette fenêtre"><i>*insert icone croix*</i></button>
				</div>

				<div class="modal-body">
					
					<small>* champs obligatoires</small>

					<div class="form-group">
						<label for="notified-email">Courriel <span>*</span></label>
						<input type="text" class="form-control" id="notified-email">
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" aria-label="Fermer cette fenêtre">Annuler</button>
					<button type="submit">Valider<span class="sr-only"> votre inscription à l'alerte de retour en rayon</span></button>
				</div>
			</form>
		</div>
	</div>
</div>
