<div role="dialog" aria-modal="true" aria-labelledby="modal-notified-title" class="modal fade" id="modal-notified" tabindex="-1" lang="fr">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="text-center m-5">
				<div class="spinner-border" role="status">
					<span class="sr-only">Chargement...</span>
				</div>
			</div>
		</div>
	</div>
</div>
