<div role="dialog" aria-modal="true" aria-labelledby="modal-refine-search">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form role="form">
				<div class="modal-header">
					<h4 id="modal-refine-search">Affiner ma recherche</h4>
					<button type="button" aria-label="Fermer cette fenêtre"><i>*insert icone croix*</i></button>
				</div>

				<div class="modal-body">
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ID reference" data-target="#filter-available"><i aria-hidden="true">*Insert icone caret*</i> Disponibilité</button>
						<div class="collapse" id="filter-available">
							<a href="###">Supprimer le filtre<span class="sr-only"> : Disponibilité</span></a>
							<p>*Insert content Disponibilité*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ID reference" data-target="#filter-theme"><i aria-hidden="true">*Insert icone caret*</i> Thèmes</button>
						<div class="collapse" id="filter-theme">
							<a href="###">Supprimer le filtre<span class="sr-only"> : Thèmes</span></a>
							<p>*Insert content Disponibilité*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ID reference" data-target="#filter-type"><i aria-hidden="true">*Insert icone caret*</i> Type de document <span>(12)</span></button>
						<div class="collapse" id="filter-type">
							<a href="###">Supprimer le filtre<span class="sr-only"> : Type de document</span></a>
							{% for i in 1..9 %}
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="type-documents-{{ i }}">
									<label class="form-check-label" for="type-documents-{{ i }}">*Insert Label {{ i }}*</label>
								</div>
							{% endfor %}
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ID reference" data-target="#filter-author"><i aria-hidden="true">*Insert icone caret*</i> Auteur(s)</button>
						<div class="collapse" id="filter-author">
							<a href="###">Supprimer le filtre<span class="sr-only"> : Auteur(s)</span></a>
							<p>*Insert content Disponibilité*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ID reference" data-target="#filter-base-search"><i aria-hidden="true">*Insert icone caret*</i> Bases de recherche</button>
						<div class="collapse" id="filter-base-search">
							<a href="###">Supprimer le filtre<span class="sr-only"> : Base de recherche</span></a>
							<p>*Insert content Disponibilité*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ID reference" data-target="#filter-langue"><i aria-hidden="true">*Insert icone caret*</i> Langue(s)</button>
						<div class="collapse" id="filter-langue">
							<a href="###">Supprimer le filtre<span class="sr-only"> : Langue(s)</span></a>
							<p>*Insert content Disponibilité*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ID reference" data-target="#filter-date">Date</button>
						<div class="collapse" id="filter-date">
							<a href="###">Supprimer le filtre<span class="sr-only"> : Date</span></a>
							<p>*Insert content Disponibilité*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ID reference" data-target="#filter-subject"><i aria-hidden="true">*Insert icone caret*</i> Sujets</button>
						<div class="collapse" id="filter-subject">
							<a href="###">Supprimer le filtre<span class="sr-only"> : Sujets</span></a>
							<p>*Insert content Disponibilité*</p>
						</div>
					</div>
				</div>

				
				<div class="modal-footer">
					<button type="submit">Affiner <i aria-hidden="true">*Insert icone loupe*</i></button>
				</div>
			</form>
		</div>
	</div>
</div>