<!-- Début - Bloc 20 Feuilletage d'index -->

<div>
	<div>
		<h3>Feuilletage d'index</h3>
		<a href="#">Voir la liste complète <span>(PDF)</span></a>
	</div>

	<div>
		<p tabindex="0" class="sr-only sr-only-focusable">*Insert explication du component*</p>
		<a href="#fin-feuilletage" class="sr-only sr-only-focusable">Aller à la fin du feuilletage d'index</a>
		<a href="#index-current" class="sr-only sr-only-focusable">Aller sur l'index active</a>
		<div>
			<button type="button">5 <span class="sr-only">index</span> précédents</button>
			<ul>
				<li><a href="#" lang="fr">index 1</a></li>
				<li><a href="#" lang="fr">index 2</a></li>
				<li><a href="#" lang="fr">index 3</a></li>
				<li><a href="#" lang="fr">index 4</a></li>
				<li><a href="#" lang="fr">index 5</a></li>
				<li><span id="index-current" aria-current="page" lang="fr" tabindex="0" ><i aria-hidden="true">*Icone chevron right*</i> index 6 - Active</span></li>
				<li><a href="#" lang="fr">index 7</a></li>
				<li><a href="#" lang="fr">index 8</a></li>
				<li><a href="#" lang="fr">index 9</a></li>
				<li><a href="#" lang="fr">index 10</a></li>
				<li><a href="#" lang="fr">index 11</a></li>
			</ul>
			<button type="button">5 <span class="sr-only">index</span> suivants</button>
		</div>
	</div>
	
</div>

<!-- Fin - Bloc 20 Feuilletage d'index -->
