<!-- Début - Bloc 20 Feuilletage d'index -->

<div>
	<div>
		<h3>Feuilletage d'index</h3>
		<a href="##">Voir la liste complète <span>(PDF)</span></a>
	</div>

	<div>
		<p tabindex="0" class="sr-only sr-only-focusable">*Insert explication du component*</p>
		<a href="#fin-feuilletage" class="sr-only sr-only-focusable">Aller à la fin du feuilletage d'index</a>
		<a href="#index-courant" class="sr-only sr-only-focusable">Aller sur l'index active</a>
		<div>
			<button type="button">5 <span class="sr-only">index</span> précédents</button>
			<ul>
				<li><a href="##">index 1</a></li>
				<li><a href="##">index 2</a></li>
				<li><a href="##">index 3</a></li>
				<li><a href="##">index 4</a></li>
				<li><a href="##">index 5</a></li>
				<li><span id="index-courant" aria-current="page">index 6 - Active</span></li>
				<li><a href="##">index 7</a></li>
				<li><a href="##">index 8</a></li>
				<li><a href="##">index 9</a></li>
				<li><a href="##">index 10</a></li>
				<li><a href="##">index 11</a></li>
			</ul>
			<button type="button">5 <span class="sr-only">index</span> suivants</button>
		</div>
	</div>
</div>

<!-- Fin - Bloc 20 Feuilletage d'index -->
