<!-- Début - Bloc 19 Liste de documents  -->

<div>
	<div>
		<ul>
			<li><a href="#carousel-auteur">Auteur</a></li>
			<li><a href="#carousel-sujets">Sujets</a></li>
		</ul>
	</div>

	<div id="carousel-auteur">
		<div>
			<div>
				<h3>Auteur</h3>
			</div>
			<div>
				<a href="##" aria-label="Voir tout les résultats">Voir tout <span>(*Insert number*)</span> <i aria-hidden="true">*Insert icone chevron right*</i></a>
			</div>
		</div>
		<p>*Insert carousel*</p>
	</div>

	<div id="carousel-sujets">
		<div>
			<div>
				<h3>Sujets</h3>
			</div>
			<div>
				<a href="##" aria-label="Voir tout les résultats">Voir tout <span>(*Insert number*)</span> <i aria-hidden="true">*Insert icone chevron right*</i></a>
			</div>
		</div>
		<p>*Insert carousel*</p>
	</div>
</div>

<!-- Fin - Bloc 19 Liste de documents  -->