<!-- Début - Bloc 19 Liste de documents  -->

<div>
	<div>
		<ul>
			<li><a href="#carousel-auteur">Auteur</a></li>
			<li><a href="#carousel-sujets">Sujets</a></li>
		</ul>
	</div>

	<div id="carousel-auteur">
		<div>
			<div>
				<h3>Auteur</h3>
			</div>
			<div>
				<a href="#" aria-label="Voir tout les résultats">Voir tout <span>(*Insert number*)</span> <i aria-hidden="true">*Insert icone chevron right*</i></a>
			</div>
		</div>
		<div>
			<div class="carousel flickity-enabled is-draggable" tabindex="0">
				<div class="flickity-viewport">
					<div class="flickity-slider">
						<div class="carousel-cell is-selected">
							<a href="#" aria-label="*Insert titre* *Insert auteur*">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
						<div class="carousel-cell">
							<a href="#" aria-label="*Insert titre* *Insert auteur*">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Customisation des boutons de navigation possible avec Flickity, DOM supposé. 
				Informations : page de pagination -->
				<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Element précédent">
					<i aria-hidden="true">*Insert icône chevron gauche*</i>
				</button>
				<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Element suivant">
					<i aria-hidden="true">*Insert icône chevron droit*</i>
				</button>
			</div>
			<button type="button" aria-label="Mettre en pause le carousel"><i aria-hidden="true">*Insert icone play*</i></button>
		</div>
	</div>

	<div id="carousel-sujets">
		<div>
			<div>
				<h3>Sujets</h3>
			</div>
			<div>
				<a href="#" aria-label="Voir tout les résultats">Voir tout <span>(*Insert number*)</span> <i aria-hidden="true">*Insert icone chevron right*</i></a>
			</div>
		</div>
		<div>
			<div class="carousel flickity-enabled is-draggable" tabindex="0">
				<div class="flickity-viewport">
					<div class="flickity-slider">
						<div class="carousel-cell is-selected">
							<a href="#" aria-label="*Insert titre* *Insert auteur*">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
						<div class="carousel-cell">
							<a href="#" aria-label="*Insert titre* *Insert auteur*">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Customisation des boutons de navigation possible avec Flickity, DOM supposé. 
				Informations : page de pagination -->
				<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Element précédent">
					<i aria-hidden="true">*Insert icône chevron gauche*</i>
				</button>
				<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Element suivant">
					<i aria-hidden="true">*Insert icône chevron droit*</i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Fin - Bloc 19 Liste de documents  -->
