<div class="col-12">
    <div class="back-to-top">
        <a href="#contenu-site" class="back-to-top__link link">
            {{ 'page.search.title.back-to-top'|trans }} 
            <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.9 6.6" xml:space="preserve">
                <g id="Calque_2_00000181059150673590080970000001745878821069356419_">
                    <g>
                        <polygon points="0,6.6 7.9,6.6 3.9,0"/>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</div>
