<div class="list-result list-result--{{ classColl|default(type) }}">
	<div class="list-result__header">
		{% include 'search/blocs-results/docs-header.html.twig' with {'type':type} %}
	</div>

	<div class="list-result__content" role="list">
		{% for index, notice in notices.noticesList %}
            {% set index = objSearch.globalIndex + index %}
			{% include "search/blocs-results/docs-detail.html.twig" with {'type': type } %}
		{% endfor %}
	</div>
</div>
