<!-- Début - Bloc 11 Aperçu d'une autorité -->

<div class="list-result__collapse">
	<button class="list-result__collapse-button btn btn-see-more btn-see-more--more" type="button" data-toggle="collapse" data-target="#related-notices" aria-expanded="false" aria-controls="related-notices">{{ 'bloc.preview-authority.see-more'|trans }}</button>
	{# Include collapse notices d'autorité - Affiche les 5 notices d'autorité les plus pertinentes #}
	<div id="related-notices" class="collapse pt-3">
		{# Demande BPI concernant l'affichage souhaité pour les 5 notices #}
		{% for i, author in objSearch.results.otherAuthors %}
			{% include "search/blocs-results/preview-authority_related-notice.html.twig" with {'author': author, 'level': 2 } %}
		{% endfor %}
	</div>
</div>

<!-- Fin - Bloc 11 Aperçu d'une autorité -->
