<!-- Début - Bloc 14 Tri et pages -->

<div class="col-12">
	<div class="dropdown text-right mt-3">
		<button class="dropdown-toggle" type="button" id="dropdown-number-items" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" aria-label="{{ 'bloc.search-header-footer.header.aria-label'|trans }}">
		{{ 'bloc.search-header-footer.header.aria-label'|trans({'%nb%': 10}) }}
		</button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-number-items" role="listbox" tabindex="-1">
			{% for count in [10, 25, 50] %}
				<li class="dropdown-item" role="option">
					<a href="{{ add_rows_to_uri(count) }}" {% if objSearch.rows == count %}class="text-bold" {% endif %}>
						{{ 'bloc.search-header-footer.header.nb-result-by-col'|trans({'%nb%': count }) }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<hr class="border-default mb-0">
</div>

<!-- Fin - Bloc 14 Tri et pages -->
