<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div>
	<div>
		<input type="checkbox" id="result-doc-rayon-{{ i }}">
		<label for="result-doc-rayon-{{ i }}"><span class="sr-only">Résultat numéro </span> {{ i }}<span class="sr-only">, sélectionner *Insert titre*</span></label>
	</div>
	<div>
		<div>
			<img src="https://via.placeholder.com/110x110" alt="" />
		</div>
		<div>
			<a href="#" lang="fr" aria-label="*Insert titre* - nouvelle fenêtre"><i>*insert icone type*</i> *Insert titre*</a>
			<p lang="fr">par *Insert auteur* (*insert date début-fin*)</p>
			<p lang="fr">01/02/2016 - résumé</p>
			<p lang="fr">Résultat de (*Insert Base de donnée*)</p>
			<!-- Document disponible -->
			<p lang="fr"><span><i>*insert icone map*</i> Disponible</span> 7.156 MAUP</p>
			<p lang="fr">Niveau 3</p>
			<!-- Document indisponible -->
			<div lang="fr">
				<p><i aria-hidden="true">*insert icone map*</i> Indisponible</p>
				<button type="button" data-toggle="modal" data-target="#modal-notified"><i aria-hidden="true">*Insert icone enveloppe*</i><span class="sr-only">Document indisponible, être prévenu de son retour en rayon - ouverture formulaire</span></button>
			</div>
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
