<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div>
	<p><input type="checkbox" aria-label="{{ i }} Sélectionner *Insert titre*"> {{ i }}</p>
	<div>
		<div>
			<img src="https://via.placeholder.com/110x110" alt=""/>
		</div>
		<div>
			<a href="#" lang="fr" aria-label="*Insert titre* - nouvelle fenêtre"><i>*insert icone type*</i> *Insert titre*</a>
			<p lang="fr">par *Insert auteur* (*insert date début-fin*)</p>
			<p lang="fr">01/02/2016 - résumé</p>
			<p lang="fr">Résultat de (Base de donnée)</p>
			<!-- Pour les documents en ligne consultable -->
			<p><a href="#" lang="fr">Accéder à *Insert nom du document*</a></p>
			<!-- Pour les documents en ligne non consultable -->
			<p lang="fr">Consultable à la Bpi</p>
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
