<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div>
	<div class="w-100">
		<input type="checkbox" id="result-doc-online-{{ i }}">
		<label for="result-doc-online-{{ i }}"><span class="sr-only">Résultat numéro </span> {{ i }}<span class="sr-only">, sélectionner *Insert titre*</span></label>
	</div>
	<div class="d-flex">
		<div>
			<img src="https://via.placeholder.com/110x110" alt="" />
		</div>
		<div>
			<a href="#" lang="fr" aria-label="*Insert titre* - nouvelle fenêtre"><img src="https://via.placeholder.com/15x15" alt="" class="icone-type"/> *Insert titre*</a>
			<p lang="fr">par *Insert auteur* (*insert date début-fin*)</p>
			<p lang="fr">01/02/2016 - résumé</p>
			<p lang="fr">Résultat de (Base de donnée)</p>
			<!-- Pour les documents en ligne consultable -->
			<p><a href="#" lang="fr">Accéder à *Insert nom du document*</a></p>
			<!-- Pour les documents en ligne non consultable -->
			<p lang="fr">Consultable à la Bpi</p>
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
