{% embed "search/blocs/results/docs-rayon.html.twig" with {'type': 'online'} %}
    {% block availability %}
        <a href="#" lang="fr" aria-label="*Insert titre* - {{ 'global.new-windows'|trans }}" class="n2 list-result__content-title"><img src="{{ asset('images/types/type-site.svg') }}" alt="" class="list-result__content-type"/><span>Climat</span></a>
        <p lang="fr">par Institut national des sciences de l'univers (France) ; France, Délégation à l'information scientifique et technique</p>
        <p lang="fr">CNRS</p>
        <p lang="fr">1999 - résumé <button class="list-result__content-resume" type="button" role="tooltip" data-toggle="tooltip" title="Effet de serre, réchauffement climatique, paléoclimatologie...exemples de questions traitées dans ce dossier multimédia et auxquelles répondent des chercheurs du CNRS et de l'INSU. Pour tous, du lecteur curieux au public averti."><img src="{{ asset('images/icones/icone-resume.svg') }}" alt="" /><span class="sr-only">Afficher le résumé</span></button></p>
        <p lang="fr">Résultat de <a href="#" aria-label="Acceder à *Insert name BDD*">*Insert name BDD*</a></p>
        <!-- Pour les documents en ligne consultable -->
        <p><a href="#" lang="fr">Accéder à *Insert nom du document*</a></p>
        <!-- Pour les documents en ligne non consultable -->
        <p lang="fr">Consultable à la Bpi</p>
    {% endblock %}
{% endembed %}
