<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div>
	<p><input type="checkbox"> {{ i }}</p>
	<div>
		<div>
			<img src="https://via.placeholder.com/110x110" />
		</div>
		<div>
			<a href="##" lang="fr" aria-label="Voir la notice bibliographique de Bel Ami - nouvelle fenêtre"><i>*insert icone type*</i> Bel Ami</a>
			<p lang="fr">par Guy de Maupassant (1850 - 1893)</p>
			<p lang="fr">01/02/2016 - résumé</p>
			<p lang="fr">Résultat de (Base de donnée)</p>
			<!-- Pour les documents en ligne consultable -->
			<p><a href="##" lang="fr">Accéder à *Insert nom du document*</a></p>
			<!-- Pour les documents en ligne non consultable -->
			<p lang="fr">Consultable à la Bpi</p>
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->