<!-- Début - Bloc 12 En-tête des résultats -->

<input type="checkbox" aria-label="Documents en ligne, sélectionner tout les résultats">
<h3>Documents en ligne : <span>888</span></h3>
<a href="#">Voir tout <span class="sr-only sr-only-focusable">les documents en ligne</span></a>
<div class="dropdown">
	<button type="button" id="dropdown-trie-rayon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Trier par <i aria-hidden="true">*insert caret*</i>
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdown-trie-rayon">
		<a href="#" class="dropdown-item">Ordre ASC</a>
		<a href="#" class="dropdown-item">Ordre DESC</a>
	</div>
</div>

<!-- Fin - Bloc 12 En-tête des résultats -->