<!-- Début - Bloc 12 En-tête des résultats -->

<label for="all-document-online">Documents en ligne, sélectionner tout les résultats</label>
<input type="checkbox" id="all-document-online">
<h3>Documents en ligne : <span>888</span></h3>
<a href="#">Voir tout <span class="sr-only sr-only-focusable">les documents en ligne</span></a>
<div class="dropdown" aria-label="menu-trie-document-ligne">
	<span class="sr-only">Choix du trie des documents en ligne</span>
	<button type="button" id="dropdown-trie-online" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">
	Trier par <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdown-trie-online" role="listbox" tabindex="-1">
		<li class="dropdown-item" role="option">
			<a href="#">Ordre ASC</a>
		</li>
		<li class="dropdown-item" role="option">
			<a href="#">Ordre DESC</a>
		</li>
	</ul>
</div>

<!-- Fin - Bloc 12 En-tête des résultats -->
