<!-- Début - Bloc 11 Aperçu d'une autorité -->

<div>
	<div>
		<img src="https://via.placeholder.com/100x90" alt="" />
	</div>
	<div>
		<h1 lang="fr">
			<a href="#" title="*Insert nom* - nouvelle fenêtre">{{ author.name }} <span>(*Insert date debut-fin*)</span></a>
		</h1>
		<ul>
			<li>Pays : <span lang="fr">France</span></li>
			<li>Langue : <span lang="fr">française</span></li>
			<li>Domaines : <span lang="fr">littérature</span></li>
		</ul>
	</div>
</div>

<!-- Fin - Bloc 11 Aperçu d'une autorité -->
