<!-- Début - Bloc 11 Aperçu d'une autorité -->

<div class="col-12 col-sm-10">
	<div class="search-result__body">
		<h1 class="n1 search-result__title" lang="fr">
			<a href="#" title="*Insert nom* - nouvelle fenêtre">*Insert Name identité* <span class="n2">(*Insert date debut-fin*)</span></a>
		</h1>
		<ul class="list-information search-result__list">
			<li class="list-information__item">
				<span class="list-information__label">Type d'autorité :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">Personne</li>
				</ul>
			</li>
			<li class="list-information__item">
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">05/08/1850 - 06/07/1893</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Pays :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">France</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Langue(s) :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">français</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Activité(s) principale(s) :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">Écrivain</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="col-6 col-sm-2">
	<img src="{{ asset('images/types-autorite/autorite-personne.svg') }}" alt="" class="search-result__image img-fluid" />
</div>

<div class="col-12">
	<div class="search-result__collapse">
		<button class="search-result__button btn" type="button" data-toggle="collapse" data-target="#related-notices" aria-expanded="false" aria-controls="related-notices">Voir plus</button>
		{# Include collapse notices d'autorité - Affiche les 5 notices d'autorité les plus pertinentes #}
		{% include "search/blocs/related-notices.html.twig" %}
	</div>
</div>

<!-- Fin - Bloc 11 Aperçu d'une autorité -->
