<!-- Début - Bloc 11 Aperçu d'une autorité -->

<div class="col-12 col-md-10">
	<div class="search-result__body">
		<h1 class="n1 search-result__title" lang="fr">
			<a href="#" title="*Insert nom* - nouvelle fenêtre">*Insert Name identité* <span class="n2">(*Insert date debut-fin*)</span></a>
		</h1>
		<ul class="search-result__list">
			<li class="search-result__item">Pays : <span lang="fr">France</span></li>
			<li class="search-result__item">Langue : <span lang="fr">française</span></li>
			<li class="search-result__item">Domaines : <span lang="fr">littérature</span></li>
		</ul>
	</div>
</div>

<div class="col-6 col-md-2">
	<img src="{{ asset('images/img-random.jpg') }}" alt="" class="search-result__image img-fluid" />
</div>

<div class="col-12">
	<div class="search-result__collapse">
		<button class="search-result__button btn" type="button" data-toggle="collapse" data-target="#related-notices" aria-expanded="false" aria-controls="related-notices">Voir plus</button>
		{# Include collapse notices d'autorité - Affiche les 5 notices d'autorité les plus pertinentes #}
		{% include "search/blocs/related-notices.html.twig" %}
	</div>
</div>

<!-- Fin - Bloc 11 Aperçu d'une autorité -->
