<nav aria-label="{{ 'page.breadcrumb'|trans }}" role="navigation">

	<ul class="breadcrumb">
		{% for value in breadcrumb() %}
			{% if loop.last %}
				<li class="breadcrumb-item active" aria-current="page">{{ value.label }}</li>
			{% else %}
				<li class="breadcrumb-item">
					<a href="{{ value.link |raw}}">{{ value.label |raw }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
