{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Cette ressource n’est plus disponible. Vous allez être redirigé vers la page d’accueil du catalogue de la Bpi.
    </p>
    <p>
        <a href="{{ path('home') }}">Pour revenir à la page d'accueil</a>
    </p>

   Redirection automatique au bout de <a href ="{{ path('home') }}" id="countdown" class="timer"></a>s
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'test' %}
        {{ encore_entry_script_tags('error_404') }}
    {% endif %}
{% endblock %}
