<ul class="menu-evitement__list">
	<li><a href="#contenu-site" class="sr-only sr-only-focusable">Aller au contenu</a></li>
	<li><a href="#bloc-menu" class="sr-only sr-only-focusable">Aller au menu général</a></li>
	<li><a href="#menu-plans-sites" class="sr-only sr-only-focusable">Aller au plan du site</a></li>
	<li><a href="#form-search" class="sr-only sr-only-focusable">Aller à la recherche</a></li>
</ul>
