<ul>
	<li><a href="#contenu-site" class="sr-only sr-only-focusable">Aller au contenu</a></li>
	<li><a href="#bloc-menu" class="sr-only sr-only-focusable">Aller au menu général</a></li>
	<li><a href="#form-search" class="sr-only sr-only-focusable">Aller à la recherche</a></li>
</ul>
