<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		
		<div id="menu-evitement">
			{% include "common/navbar-evitement.html.twig" %}
		</div>
		
		<header role="banner">
			
			<div id="menu-langue">
				{% include "header/navbar-langues.html.twig" %}
			</div>

			<div id="menu-secondaire">
				{% include "header/navbar-secondaire.html.twig" %}
			</div>

			<div id="mon-compte">
				{% include "header/account.html.twig" %}
			</div>
			
			<div>
				<a href="{{ path('home') }}" title="Aller à l'accueil du site">
					<img src="{{ asset('images/bpi-logo.png') }}" alt="Logo de la Bibliothèque Publique d'Information" />
				</a>
			</div>

			<button type="button" data-target="#bloc-menu" aria-controls="bloc-menu" title="Menu principal" aria-expanded="false" >*Insert incone menu burger*</button>
		
			<div id="bloc-menu">
				{% include "header/navbar-principal.html.twig" %}
			</div>
		</header>	

		<main role="main" id="contenu-site">
			{% include "common/breadcrumb.html.twig" %}
			{% include "common/toolbar.html.twig" %}
			{% block body %}{% endblock %}
		</main>

		<footer role="contentinfo">
			<div>
				<div>

					<div>
						<div id="menu-plans-sites">
							{% include "footer/navbar-sitemap.html.twig" %}
						</div>
					</div>

					<div>
						<div id="menu-credit">
							{% include "footer/navbar-credits.html.twig" %}
						</div>
					</div>

					<div>
						<div>
							<img src="https://via.placeholder.com/140x60" />
							<a href="#">Le mensuel de la Bpi</a>
						</div>
						<div>
							<img src="https://via.placeholder.com/140x60" />
							<a href="#">L'actualité de la Bpi</a>
						</div>
						<div>
							<img src="https://via.placeholder.com/140x60" />
							<a href="#">Le magazine de la Bpi</a>
						</div>
					</div>

				</div>

				<div>

					<div>
						<div id="partenaires">
							{% include "footer/partenaires.html.twig" %}
						</div>
					</div>

					<div>

						<div>
							<a href="https://www.eurekoi.org/" title="Aller sur le site d'Eurèkoi - nouvelle fenêtre" target="_blank">
								<img src="https://via.placeholder.com/50x50" alt="Logo d'Eurèkoi" />
							</a>
						</div>

						<div id="reseaux-sociaux">
							{% include "footer/socials-medias.html.twig" %}
						</div>

					</div>

				</div>
			</div>

		</footer>
		
		{% block javascripts %}{% endblock %}
	</body>
</html>
