{% block subject %}
    {{ data.object }}
{% endblock %}

{% block body_html %}
    <p>
        {{ data.message }}
    </p>
{% endblock %}

{% block body_text %}
    {{ data.message }}
{% endblock %}

