{% block subject %}
    {{ data.object }}
{% endblock %}

{% block body_html %}
    Bonjour,

    <p>
        Veuillez trouver dans la pièce jointe vos références.
    </p>

    Cordialement
{% endblock %}

{% block body_text %}
    {{ data.message }}
{% endblock %}

