{% block subject %}
    {{ data.object }}
{% endblock %}

{% block body_html %}
    Bonjour,

    <p>
        {{ content.content|raw }}
    </p>
{% endblock %}

{% block body_text %}
    {{ data.message }}
{% endblock %}

