<div role="dialog" aria-modal="true" aria-labelledby="modal-export-title" class="modal fade" id="modal-export" tabindex="-1" lang="fr">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			{% if toolbar in ['App\\Model\\Search\\ObjSearch', 'App\\Entity\\UserSelectionDocument'] %}
				{{ render(controller('App\\Controller\\ExportController::sendNoticesOnAttachementAction', {'type': toolbar } )) }}
			{% elseif notice is defined %}
                {{ render(controller('App\\Controller\\ExportController::sendNoticeWithAttachementAction', {'type': toolbar, 'permalink': notice.permalink } )) }}
			{% endif %}
		</div>
	</div>
</div>
