<!-- Début - Modal 05 export -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-export-title" class="modal fade" id="modal-export">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			{% if toolbar == 'App\\Model\\Search\\ObjSearch' %}
				{{ render(controller('App\\Controller\\ExportController::sendNoticesOnAttachementAction', {'type': toolbar } )) }}
			{% else %}
                {{ render(controller('App\\Controller\\ExportController::sendNoticeWithAttachementAction', {'type': toolbar, 'permalink':notice.permalink } )) }}
			{% endif %}
		</div>
	</div>
</div>
<!-- Fin - Modal 05 export -->
