<div role="dialog" aria-modal="true" data-backdrop="static" aria-labelledby="modal-print-title" class="modal fade" id="modal-print" tabindex="-1" lang="fr">
	<div class="modal-dialog modal-dialog-centered">
		<form class="gtm-form-print" method="get" action="{{ printRoute }}">
			{% include "common/modal/print-export-content.html.twig" %}
		</form>
	</div>
</div>
