{% set currentPermalink = current_permalink() %}

<div role="dialog" data-backdrop="static" aria-modal="true" aria-labelledby="modal-send-by-mail-title" class="modal fade" id="modal-send-by-mail" tabindex="-1" lang="fr">
	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content">
			<div class="modal-header">
				<h1 class="n1 modal-header__title" id="modal-print-title">{{ 'modal.share.subtitle-2'|trans }}</h1>
				<button class="close" type="button" data-dismiss="modal">
					<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="{{ 'global.modal-close'|trans }}" />
				</button>
			</div>

            {{ render(controller('App\\Controller\\ReportingController::sendByMailAction', {'link': currentPermalink ?? absolute_url(app.request.uri)})) }}
		</div>
	</div>
</div>
