<div id="sucess-message" data-toggle-refresh="{{ path('send_by_mail') }}">
	<div class="modal-body">
		Votre message a été envoyé avec succès.
	</div>

	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">
			{{ 'global.modal-btn-close'|trans }}</button>
	</div>
</div>

<script>
	document.querySelector('#hidden_header').style.display = "none";
</script>