<div>
	<div class="modal-body">
		Votre message a été envoyé avec succès.
	</div>

	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary" data-reload="true">
			{{ 'global.modal-btn-close'|trans }}</button>
	</div>
</div>
