<!-- Début - Modal 08 suggestion d'achats -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-suggest-title" class="modal fade" id="modal-suggest" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
            {{ render(controller('App\\Controller\\CommonController::suggestByMailAction')) }}
		</div>
	</div>
</div>
<!-- Fin - Modal 08 suggestion d'achats -->
