// -------------------------------
// Structure - Notice autorité - Documents
// -------------------------------

.authority-document {

	&__list {
		list-style-type: none;
		padding-top: 25px;
		padding-left: 0;
		padding-bottom: $spacer;
		@extend .border-double;
		background-position: 0 top;
		display: flex;
		border-bottom: $border-default;
	}

	&__item {
		padding: 0 $spacer;
		border-right: $border-thin;

		&:last-child {
			border-right: 0;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__documents {
		margin-bottom: $spacer;
		border-bottom: $border-default;
	}
}