// -------------------------------
// Structure - Notice autorité
// -------------------------------

.authority-result {

	.result-bdd {
		display: none;
	}

	&__body {
		height: 100%;
		border-bottom: $border-thin;
	}

	&__image {
		margin-bottom: $spacer;

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}

	&__resume {
		margin-top: $spacer;

		@include media-breakpoint-up(md) {
			column-count: 2;
			column-gap: $spacer * 2;
		}
	}
}