// -------------------------------
// Structure - Notice autorité
// -------------------------------

.authority-result {

	.link {
		color: $black;

		&:hover,
		&:focus {
			color: $red;
		}
	}
	
	&__body {
		height: 100%;
	}

	&__image {
		margin: 0 auto $spacer;
		max-width: 200px;

		@include media-breakpoint-up(md) {
			max-width: 100%;
		}
	}
}