// -------------------------------
// Structure - Notice bibliographique
// -------------------------------

.bibliographic-result {

	.decouvrirButton {
		//float: right;
		padding: 0;
		//margin-left: 0.5em;
		//padding-right: 0.5em;
		//padding-top: 1px;
		//padding-bottom: 1px;
		//margin-right: 100px;
		margin-left: 1em;
		text-decoration: none;
		//color: black;
		//font-size: 0.9em;
		//color: #C28100;
		//border: 2px solid #C28100;
		//font-weight: bold;
		&:hover {
			//background: #C28100;
			//color: white;
		}
		&:hover .under {
			text-decoration: underline;
		}
		& img {
			transform: scaleX(1);
			width: 1.33333rem;
			height: 1.33333rem;
		}
	}

	.link {
		color: $black;

		&:hover,
		&:focus {
			color: $red;
		}
	}

	&__author {

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}

	&__type {
		text-align: right;

		img {
			height: rem(25);
		}
	}

	&__subtitle {
		margin-top: $spacer;
		padding-top: $spacer;
		border-top: $border-thin;
	}

	&__resume {
		margin-bottom: 0;
		text-align: justify;

		@include media-breakpoint-up(md) {
			column-count: 2;
			column-gap: $spacer * 2;
		}
	}

	&__image {
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $spacer;

		@include media-breakpoint-up(md) {
			width: 150px;
			max-width: 150px;
		}
	}

	&__availability {
		list-style-type: none;
		margin-bottom: 0;
		padding-top: $spacer;
		padding-left: 0;
		padding-bottom: $spacer;
		border-top: $border-thin;
	}

	&--list {
		display: flex;
		flex-wrap: wrap;

		> div {
			flex: 0 0 100%;
			min-width: 100%;

			@include media-breakpoint-up(sm) {
				flex: 0 0 50%;
				min-width: 50%;
			}
		}	
	}
}
