// -------------------------------
// Mon Compte - Ma sélection
// -------------------------------

.selection {

	&__footer {
		padding-bottom: $spacer;
		margin-bottom: $spacer;
	}

	&__button {
		padding: 0;
		font-size: $font-base px;
		font-weight: $font-bold;
		display: flex;
		align-items: center;

		img {
			width: rem(10);
			margin-right: rem(5);
		}
	}
}