// -------------------------------
// Mon Compte - Ma sélection
// -------------------------------

.selection {

	&__footer {
		padding-bottom: $spacer;
		margin-bottom: $spacer;
	}

	&__button {
		padding: 0;
		@include font-size(15);
		font-weight: $font-bold;
		display: flex;
		align-items: center;

		img {
			width: 10px;
			margin-right: 5px;
		}
	}
}