<div role="dialog" aria-modal="true" aria-labelledby="modal-list-create-title" class="modal fade" id="modal-list-create">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-list-create-title">Créer une nouvelle liste</h1>
					<button class="close" type="button" aria-label="Fermer cette fenêtre" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>

				{# Création d'une liste  #}
				<div class="modal-body">

					<small class="modal-form__indication"><span>*</span> champs obligatoires</small>
					
					<div class="form-group row">
						<label for="send-expeditor" class="col-12 col-sm-3">Titre <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="send-expeditor">
						</div>
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>
				</div>

				{# Message de confirmation de création de liste #}
				<div class="modal-body">
					<p>Vous avez bien créé la liste « XX » avec les document sélectionnés.</p>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="modal-footer__cancel">Annuler</button>
					<button type="submit" class="modal-footer__submit">Valider<span class="sr-only"> la création de la liste</span></button>
				</div>
			</form>
		</div>
	</div>
</div>
