<div role="dialog" aria-modal="true" aria-labelledby="modal-list-remove" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h1 id="modal-list-remove">Liste "*Insert nom de la liste*"</h1>
					<button type="button" aria-label="Fermer cette fenêtre"><span aria-hidden="true">X</span></button>
				</div>

				<div class="modal-body">
					<p>Voulez-vous vraiment supprimer cette liste ?</p>
				</div>

				<div class="modal-footer">
					<button type="button" aria-label="Fermer cette fenêtre">Annuler</button>
					<button type="submit">Confirmer<span class="sr-only"> la suppression de la liste "*Insert nom de la liste*"</span></button>			
				</div>
			</form>
		</div>
	</div>
</div>
