<!-- Début - Modal 03 edition d'une liste  -->
<div role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-list-edit-title" class="modal fade" id="modal-list-edit" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="text-center m-5">
				<div class="spinner-border" role="status">
					<span class="sr-only">Chargement...</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fin - Modal 03 edition d'une liste  -->
