<div role="dialog" aria-modal="true" aria-labelledby="modal-list-create-title" class="modal fade" id="modal-list-create" tabindex="-1" lang="fr">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
            {{ render(controller('App\\Controller\\UserSelectionController::createListAction')) }}
		</div>
	</div>
</div>
