<!-- Début - Modal 01  Création d'une liste  -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-list-create-title" class="modal fade" id="modal-list-create">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
            {{ render(controller('App\\Controller\\UserSelectionController::createListAction')) }}
		</div>
	</div>
</div>
<!-- Fin - Modal 01  Création d'une liste  -->
