<!-- Début - Modal 02   ajout à ma sélection  -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-list-add-title" class="modal fade" id="modal-list-add" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {{ render(controller('App\\Controller\\UserSelectionController::addListAction')) }}
        </div>
    </div>
</div>
<!-- Fin - Modal 02 ajout à ma sélection -->
