<div role="dialog" aria-modal="true" aria-labelledby="modal-list-remove-title" class="modal" id="modal-list-remove">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-list-remove-title">Liste "*Insert nom de la liste*"</h1>
					<button class="close" type="button" aria-label="Fermer cette fenêtre" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>

				<div class="modal-body">
					<p>Voulez-vous vraiment supprimer cette liste ?</p>
				</div>

				<div class="modal-footer">
					<button type="button" aria-label="Fermer cette fenêtre" class="modal-footer__cancel">Annuler</button>
					<button type="submit" class="modal-footer__submit">Confirmer<span class="sr-only"> la suppression de la liste "*Insert nom de la liste*"</span></button>			
				</div>
			</form>
		</div>
	</div>
</div>
