<div role="dialog" aria-modal="true" data-backdrop="static" aria-labelledby="modal-list-add-title" class="modal fade" id="modal-list-add" tabindex="-1" lang="fr">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {% if notice is defined %}
                {{ render(controller('App\\Controller\\UserSelectionController::addListAction', {'permalink': notice.permalink } )) }}
            {% else %}
                {{ render(controller('App\\Controller\\UserSelectionController::addListAction')) }}
            {% endif %}
        </div>
    </div>
</div>
