{# Adresse d'envoi du formulaire : catalogue.public@bpi.fr #}

<div role="dialog" aria-modal="true" aria-labelledby="modal-report-title" class="modal fade" id="modal-report">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-report-title">Signaler une erreur sur le catalogue</h1>
					<button class="close" type="button" aria-label="Fermer cette fenêtre" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>

				<div class="modal-body">

					<small class="modal-form__indication"><span>*</span> champs obligatoires</small>
					
					<div class="form-group row">
						<label class="col-12 col-sm-3" for="report-object">Objet <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="report-object" required>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-12 col-sm-3" for="report-message">Message</label>
						<div class="col-12 col-sm-9">
							<textarea class="form-control" id="report-message" rows="3"></textarea>
						</div>
					</div>
				</div>
				
				<div class="modal-body">
					<h2 class="n1">Coordonnées</h2>

					<div class="form-group row">
						<label class="col-12 col-sm-3" for="report-last-name">Nom</label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="report-last-name">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-12 col-sm-3" for="report-first-name">Prénom</label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="report-first-name">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-12 col-sm-3" for="report-email">Courriel</label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="report-email">
						</div>
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="modal-footer__cancel">Annuler</button>
					<button type="submit" class="modal-footer__submit">Valider<span class="sr-only"> l'envoi du mail de signalisation d'erreur</span></button>
				</div>

			</form>
		</div>
	</div>
</div>
