{# Adresse d'envoi du formulaire : catalogue.public@bpi.fr #}

<div role="dialog" aria-modal="true" aria-labelledby="modal-report" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h1 class="n1" id="modal-report">Signaler une erreur sur le catalogue</h1>
					<button type="button" aria-label="Fermer cette fenêtre"><span aria-hidden="true">X</span></button>
				</div>

				<div class="modal-body">

					<small>* champs obligatoires</small>
					
					<div class="form-group">
						<label for="report-object">Objet <span>*</span></label>
						<input type="text" class="form-control" id="report-object" required>
					</div>
					<div class="form-group">
						<label for="report-message">Message</label>
						<textarea class="form-control" id="report-message" rows="3"></textarea>
					</div>

					<h4>Coordonnées</h4>

					<div class="form-group">
						<label for="report-last-name">Nom</label>
						<input type="text" class="form-control" id="report-last-name">
					</div>
					<div class="form-group">
						<label for="report-first-name">Prénom</label>
						<input type="text" class="form-control" id="report-first-name">
					</div>
					<div class="form-group">
						<label for="report-email">Courriel</label>
						<input type="text" class="form-control" id="report-email">
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" aria-label="Fermer cette fenêtre">Annuler</button>
					<button type="submit">Valider<span class="sr-only"> l'envoi du mail de signalisation d'erreur</span></button>
				</div>

			</form>
		</div>
	</div>
</div>
