<div role="dialog" aria-modal="true" aria-labelledby="modal-send-friend-title" class="modal" id="modal-send-friend">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-send-friend-title">Envoyer cette page à un ami</h1>
					<button class="close" type="button" aria-label="Fermer cette fenêtre" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>
					
				<div class="modal-body">

					<small class="modal-form__indication">* champs obligatoires</small>
					
					<div class="form-group row align-items-center">
						<label class="col-12 col-sm-3" for="send-expeditor">Expéditeur <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="send-expeditor" required>
						</div>
					</div>

					<div class="form-group row align-items-center">
						<label class="col-12 col-sm-3" for="send-recipient">Destinataire <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="send-recipient" required>
						</div>
					</div>

					<div class="form-group row align-items-center">
						<label class="col-12 col-sm-3" for="send-title">Titre <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="send-title" required>
						</div>
					</div>

					<div class="form-group row align-items-center">
						<label class="col-12 col-sm-3" for="send-text">Texte <span>*</span></label>
						<div class="col-12 col-sm-9">
							<textarea class="form-control" id="send-text" rows="3" required></textarea>
						</div>
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" aria-label="Fermer cette fenêtre" class="modal-footer__erase btn">Annuler</button>
					<button type="submit" class="modal-footer__submit">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
</div>
