<div role="dialog" aria-modal="true" aria-labelledby="modal-send-friend" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h1 class="n1" id="modal-send-friend">Envoyer cette page à un ami</h1>
					<button type="button" aria-label="Fermer cette fenêtre"><span aria-hidden="true">X</span></button>
				</div>
					
				<div class="modal-body">

					<small>* champs obligatoires</small>
					
					<div class="form-group">
						<label for="send-expeditor">Expéditeur <span>*</span></label>
						<input type="text" class="form-control" id="send-expeditor" required>
					</div>

					<div class="form-group">
						<label for="send-recipient">Destinataire <span>*</span></label>
						<input type="text" class="form-control" id="send-recipient" required>
					</div>

					<div class="form-group">
						<label for="send-title">Titre <span>*</span></label>
						<input type="text" class="form-control" id="send-title" required>
					</div>

					<div class="form-group">
						<label for="send-text">Texte <span>*</span></label>
						<textarea class="form-control" id="send-text" rows="3" required></textarea>
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" aria-label="Fermer cette fenêtre">Annuler</button>
					<button type="submit">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
</div>
