<!-- Début - Bloc 10 Rappel des critères de recherche -->

<p>Recherche avancée :</p>
<div tabindex="0" class="sr-only sr-only-focusable" id="filters-search">Retrouver les termes et les critères de recherche saisie. Cliquer dessus supprime le critère de recherche ou le filtre.</div>
<ul aria-describedby="filters-search">
	<li><a href="##" lang="fr" title="Supprimer ce filtre">Titre <i>*insert icone croix*</i></a></li>
	<li><a href="##" lang="fr" title="Supprimer ce filtre">Français et homme <i>*insert icone croix*</i></a></li>
	<li><a href="##" lang="fr" title="Supprimer ce filtre">Littérature <i>*insert icone croix*</i></a></li>
</ul>

<!-- Fin - Bloc 10 Rappel des critères de recherche -->