<!-- Début - Bloc 10 Rappel des critères de recherche -->

<div class="search-criteria">
	<p class="search-criteria__label">Recherche avancée :</p>
	<div class="sr-only" id="filters-search">Retrouver les termes et les critères de recherche saisie. Cliquer dessus supprime le critère de recherche ou le filtre.</div>
	<ul aria-describedby="filters-search" class="search-criteria__list">
		<li class="search-criteria__item">
			<a href="#" lang="fr">Titre</a>
		</li>
		<li class="search-criteria__item">
			<a href="#" lang="fr">Français et homme</a>
		</li>
		<li class="search-criteria__item">
			<a href="#" lang="fr">Littérature</a>
		</li>
	</ul>
</div>

<!-- Fin - Bloc 10 Rappel des critères de recherche -->
