<!-- Début - Bloc 10 Rappel des critères de recherche -->

<p>Recherche avancée :</p>
<div tabindex="0" class="sr-only sr-only-focusable" id="filters-search">Retrouver les termes et les critères de recherche saisie. Cliquer dessus supprime le critère de recherche ou le filtre.</div>
<ul aria-describedby="filters-search">
	<li><a href="##" lang="fr">Titre <i aria-hidden="true">*insert icone croix*</i></a></li>
	<li><a href="##" lang="fr">Français et homme <i aria-hidden="true">*insert icone croix*</i></a></li>
	<li><a href="##" lang="fr">Littérature <i aria-hidden="true">*insert icone croix*</i></a></li>
</ul>

<!-- Fin - Bloc 10 Rappel des critères de recherche -->