<!-- Début - Bloc 14 Tri et pages -->

<div>
	<div>
		<nav aria-label="Pagination">
			<ul>
				<li>
					<a href="#" aria-label="Première page"><i aria-hidden="true">*Insert icône chevron double right*</i></a>
				</li>
				<li>
					<a href="#" aria-label="Page précédente"><i aria-hidden="true">*Insert icône chevron right*</i></a>
				</li>
				<li>
					<input type="text" aria-label="XX sur 55 pages"> sur 55
				</li>
				<li>
					<a href="#" aria-label="Page Suivante"><i aria-hidden="true">*Insert icône chevron left*</i></a>
				</li>
				<li>
					<a href="#" aria-label="Dernière page"><i aria-hidden="true">*Insert icône chevron double left*</i></a>
				</li>
			</ul>
		</nav>
	</div>

	<div>
		<div class="dropdown">
			<button type="button" id="dropdown-number-items" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Sélectionner le nombre de résultat par colonne">
			*Insert number* résultat par colonne <i aria-hidden="true">*insert caret*</i>
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdown-number-items">
				<a href="#" class="dropdown-item">*Insert number* résultat par colonne</a>
				<a href="#" class="dropdown-item">*Insert number* résultat par colonne</a>
			</div>
		</div>
	</div>
</div>

<!-- Fin - Bloc 14 Tri et pages -->
