<!-- Début - Bloc 14 Tri et pages -->

<div class="col-12 col-sm-4 col-md-6">
	<nav aria-label="Pagination" role="navigation">
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a href="#" class="page-link page-link--left-double">
					<img src="{{ asset('images/icones/icone-chevron-double-gauche.svg') }}" alt="" class="icone-chevron-double"/><span class="sr-only">Première page</span>
				</a>
			</li>
			<li class="page-item">
				<a href="#" class="page-link page-link--left">
					<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/><span class="sr-only">Page précédente</span>
				</a>
			</li>
			<li class="page-item">
				<div class="page-link page-link--reset">
					<label for="pagination-select" class="sr-only">Saisir un numéro de page à consulter sur 5 pages</label>
					<select id="pagination-select">
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					sur 5
				</div>
			</li>
			<li class="page-item">
				<a href="#" class="page-link page-link--right">
					<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron-double"/><span class="sr-only">Page Suivante</span>
				</a>
			</li>
			<li class="page-item">
				<a href="#" class="page-link page-link--right-double">
					<img src="{{ asset('images/icones/icone-chevron-double-gauche.svg') }}" alt="" class="icone-chevron"/><span class="sr-only">Dernière page</span>
				</a>
			</li>
		</ul>
	</nav>
</div>

<div class="col-12 col-sm-4 col-md-3">
	<div class="dropdown text-center text-sm-right mt-sm-3">
		<button class="dropdown-toggle" type="button" id="dropdown-number-items" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" aria-label="Sélectionner le nombre de résultat par colonne">
		10 résultats par colonne
		</button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-number-items" role="listbox" tabindex="-1">
			<li class="dropdown-item" role="option">
				<a href="#">25 résultats par colonne</a>
			</li>
			<li class="dropdown-item" role="option">
				<a href="#">50 résultats par colonne</a>
			</li>
		</ul>
	</div>
</div>

<!-- Fin - Bloc 14 Tri et pages -->
