<!-- Début - Bloc 14 Tri et pages -->

<div>
	<div>
		<nav aria-label="Pagination" role="navigation">
			<ul>
				<li>
					<a href="#"><img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron-double"/><span class="sr-only">Première page</span></a>
				</li>
				<li>
					<a href="#"><img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron"/><span class="sr-only">Page précédente</span></a>
				</li>
				<li>
					<input type="text" aria-label="Saisir un numéro de page à consulter sur 55 pages"> sur 55
				</li>
				<li>
					<a href="#"><img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron-double"/><span class="sr-only">Page Suivante</span></a>
				</li>
				<li>
					<a href="#"><img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron"/><span class="sr-only">Dernière page</span></a>
				</li>
			</ul>
		</nav>
	</div>

	<div>
		<div class="dropdown">
			<button type="button" id="dropdown-number-items" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" aria-label="Sélectionner le nombre de résultat par colonne">
			*Insert number* résultat par colonne <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdown-number-items" role="listbox" tabindex="-1">
				<li class="dropdown-item" role="option">
					<a href="#">*Insert number* résultat par colonne</a>
				</li>
				<li class="dropdown-item" role="option">
					<a href="#">*Insert number* résultat par colonne</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Fin - Bloc 14 Tri et pages -->
