<!-- Début - Bloc 14 Tri et pages -->

<div class="col-12">
	<div class="dropdown text-right mt-3">
		<button class="dropdown-toggle" type="button" id="dropdown-number-items" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" aria-label="Sélectionner le nombre de résultat par colonne">
		10 résultats par colonne
		</button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-number-items" role="listbox" tabindex="-1">
			<li class="dropdown-item" role="option">
				<a href="#">25 résultats par colonne</a>
			</li>
			<li class="dropdown-item" role="option">
				<a href="#">50 résultats par colonne</a>
			</li>
		</ul>
	</div>

	<hr class="border-default mb-0">
</div>

<!-- Fin - Bloc 14 Tri et pages -->
