<div id="related-notices" class="collapse">
	{# Demande BPI concernant l'affichage souhaité pour les 5 notices #}

	<div>
		<div>
			<img src="https://via.placeholder.com/100x90" alt="" />
		</div>
		<div>
			<h2 lang="fr">
				<a href="#" title="*Insert Name identité* - nouvelle fenêtre">*Insert Name identité* <span>(*Insert date debut-fin*)</span></a>
			</h2>
			<ul>
				<li>Pays : <span lang="fr">France</span></li>
				<li>Langue : <span lang="fr">française</span></li>
			</ul>
		</div>
	</div>
</div>
