<div id="related-notices" class="collapse">
	{# Demande BPI concernant l'affichage souhaité pour les 5 notices #}

	<div>
		<div>
			<img src="https://via.placeholder.com/100x90" alt="Image Preview" />
		</div>
		<div>
			<a href="#" title="Voir la notice d'autorité de *Insert nom* - nouvelle fenêtre"></a>
			<h2 lang="fr">*Insert Name identité* <span>(*Insert date debut-fin*)</span></h2>
			<ul>
				<li>Pays : <span lang="fr">France</span></li>
				<li>Langue : <span lang="fr">française</span></li>
			</ul>
		</div>
	</div>
</div>
