<!-- Début - Bloc 8 Sujets Liés -->

<div class="dropdown" aria-label="menu-sujets-lies">
    <span class="sr-only">Choix d'un sujet lié</span>
    <button type="button" id="dropdown-sujets" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">
        Sujet lié <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-sujets" role="listbox" tabindex="-1">
        {% for subject in linkedSubjects %}
            <li class="dropdown-item" role="option">
                <a href="{{ path('search', { (constant('App\\Controller\\SearchController::QUERY_LABEL')): subject }) }}"
                   lang="fr">Sujet lié {{ subject }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Fin - Bloc 8 Sujets Liés -->
