<!-- Début - Bloc 8 Sujets Liés -->

<div class="dropdown" aria-label="menu-sujets-lies">
	<span class="sr-only">Choix d'un sujet lié</span>
	<button type="button" id="dropdown-sujets" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">Sujet lié <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/></button>
	<ul class="dropdown-menu" aria-labelledby="dropdown-sujets" role="listbox" tabindex="-1">
		{% for i in 1..3 %}
			<li class="dropdown-item" role="option">
				<a href="#" lang="fr">Sujet lié {{ i }}</a>
			</li>
		{% endfor %}
	</ul>
</div>

<!-- Fin - Bloc 8 Sujets Liés -->
