<!-- Début - Bloc 7 Orthographe -->

<p class="mb-3">{{ 'bloc.search-correct.text'|trans }} <a href="#" aria-label="{{ 'bloc.search-correct.text'|trans }} *Insert recherche corrigé*" lang="fr">*Insert recherche corrigé*</a></p>

<!-- Fin - Bloc 7 Orthographe -->
