<!-- Début - Bloc 7 Orthographe -->

<p class="mb-3">Essayez avec l'orthographe <a href="#" aria-label="Essayer avec l'orthographe *Insert recherche corrigé*" lang="fr">*Insert recherche corrigé*</a></p>

<!-- Fin - Bloc 7 Orthographe -->
