<!-- Début - Bloc 1 diaporama nouveautés et/ou articles __ DOM supposé -->

<div class="carousel carousel--primary">
	<div class="carousel-wrapper">
		<div class="slick-carousel js-carousel-primary" role="region" aria-roledescription="carrousel">
			{% for i in 1..24 %}
				<div class="carousel__slide">
					<a href="#" class="carousel__slide-link">
						<span class="sr-only">{{ 'bloc.carousel.item_desciption'|trans({'%index%': i ,'%nb%' : 24 , '%title%' : '*Insert titre*', '%auteur%' : '*Insert auteur*' }) }}</span>
					</a>
					<div class="carousel__slide-image">
						<img src="{{ asset('images/couvertures-generiques/cg-video.svg') }}" class="img-fluid" alt="" />
					</div>
					<p class="n1 carousel__slide-title">Le Climat, les hommes et la mer</p>
					<p class="n2 carousel__slide-subtitle">Cousin, Christophe</p>
				</div>
			{% endfor %}
		</div>

		<div class="carousel__control">
			<button class="carousel__button carousel__button--pause" type="button" aria-label="Mettre en pause le carousel">
			</button>
		</div>
	</div>
</div>

<!-- Fin - Bloc 1 diaporama nouveautés et/ou articles -->
