<!-- Début - Bloc 1 diaporama nouveautés et/ou articles __ DOM supposé -->
<div class="carousel-primary">
	<div class="carousel flickity-enabled is-draggable" tabindex="0" aria-label="Carousel d'actualités">
		<div class="flickity-viewport">
			<div class="flickity-slider d-flex">
				<div class="carousel-cell is-selected">
					<a href="#" aria-label="Actualité 1 sur 24, *Insert titre* *Insert auteur*" lang="fr">
						<div>
							<img src="https://via.placeholder.com/150x200" alt="">
						</div>
						<p>*Insert Titre*</p>
						<p>*Insert auteur*</p>
					</a>
				</div>
				<div class="carousel-cell">
					<a href="#" aria-label="Actualité 2 sur 24, *Insert titre* *Insert auteur*" lang="fr">
						<div>
							<img src="https://via.placeholder.com/150x200" alt="">
						</div>
						<p>*Insert Titre*</p>
						<p>*Insert auteur*</p>
					</a>
				</div>
			</div>
		</div>
		<!-- Customisation des boutons : DOM supposé. 
		Informations : pagination, auto-play, défilement infini, limite d'éléments à 24 -->
		<div class="button-group">
			<button class="button is-selected" aria-label="Page 1 sur X"></button>
			<button class="button" aria-label="Page 2 sur X"></button>
			<button class="button" aria-label="Page 3 sur X"></button>
			<button class="button" aria-label="Page 4 sur X"></button>
		</div>
	</div>
	<button type="button" aria-label="Mettre en pause le carousel"><img src="https://via.placeholder.com/15x15" alt="" class="icone-play"/></button>
</div>
<!-- Fin - Bloc 1 diaporama nouveautés et/ou articles -->
