<!-- Début - Bloc 1 diaporama nouveautés et/ou articles __ DOM supposé avec Flickity -->

<div class="carousel flickity-enabled is-draggable" tabindex="0">
	<div class="flickity-viewport">
		<div class="flickity-slider">
			<div class="carousel-cell is-selected">
				<a href="#" aria-label="*Insert titre* *Insert auteur*">
					<div>
						<img src="https://via.placeholder.com/150x200">
					</div>
					<p>*Insert Titre*</p>
					<p>*Insert auteur*</p>
				</a>
			</div>
			<div class="carousel-cell">
				<a href="#" aria-label="*Insert titre* *Insert auteur*">
					<div>
						<img src="https://via.placeholder.com/150x200">
					</div>
					<p>*Insert Titre*</p>
					<p>*Insert auteur*</p>
				</a>
			</div>
		</div>
	</div>
	<ol class="flickity-page-dots">
		<li class="dot is-selected" aria-label="Page dot 1" aria-current="step"></li>
		<li class="dot" aria-label="Page dot 2"></li>
		<li class="dot" aria-label="Page dot 3"></li>
	</ol>
</div>
<button type="button" aria-label="Mettre en pause le carousel"><i aria-hidden="true">*Insert icone play*</i></button>

<!-- Fin - Bloc 1 diaporama nouveautés et/ou articles -->