<!-- Début - Bloc 2 Découvrir les parcours -->
{% for i in 1..3 %}
	<div>
		<div>
			<a href="{{ path('home_autoformation') }}" aria-label="Découvrir les parcours : *Insert titre parcours {{ i }}*"></a>
			<img src="https://via.placeholder.com/310x265" />
			<h3>*Insert titre parcours {{ i }}*</h3>
			<p lang="fr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa reiciendis reprehenderit enim fugiat, quod repudiandae maiores, quibusdam fuga at sapiente dolores repellat deserunt veritatis velit modi pariatur nulla deleniti.</p>
		</div>
	</div>
{% endfor %}
<!-- Fin - Bloc 2 Découvrir les parcours -->
