<!-- Début - Bloc 2 Découvrir les parcours -->

{% for thematic in ['autoformation','presse','cinema'] %}
	<div>
		<div lang="fr">
			<a href="{{ path('home_thematic',{'thematic': thematic}) }}"><span class="sr-only">Découvrir les parcours : {{ thematic }}</span></a>
			<img src="https://via.placeholder.com/310x265" alt="" />
			<h3>{{ thematic }}</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa reiciendis reprehenderit enim fugiat, quod repudiandae maiores, quibusdam fuga at sapiente dolores repellat deserunt veritatis velit modi pariatur nulla deleniti.</p>
		</div>
	</div>
{% endfor %}

<!-- Fin - Bloc 2 Découvrir les parcours -->
