<!-- Début - Bloc 5 Accès rapide -->

<!-- Bloc avec un lien sur le titre (car pas de liens sous l'image) -->
<div class="col-12 col-md-6 col-lg-3">
	<div lang="fr" class="card">
		<a href="#"><span class="sr-only">Les thèmes les plus consultés, *Insert nom du thème*</span></a>
		<h3 class="n2">*Insert nom du thème*</h3>
		<img src="{{ asset('images/img-random.jpg') }}" alt="" class="img-fluid card-img-top" />
	</div>
</div>

<!-- Bloc avec des liens sous l'image, donc pas de lien sur le titre -->
{% for i in 0..6 %}
	<div class="col-12 col-md-6 col-lg-3">
		<div lang="fr" class="card">
			<h3 class="n2">*Insert nom du thème*</h3>
			<img src="{{ asset('images/img-random.jpg') }}" alt="" class="img-fluid card-img-top" />
			<div class="card-body">
				<ul class="card__list">
					<li class="card__item"><a href="#">Niveau 1</a></li>
					<li class="card__item"><a href="#">Niveau 2</a></li>
					<li class="card__item"><a href="#">Niveau 3</a></li>
					<li class="card__item"><a href="#">Niveau 4</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endfor %}
<!-- Fin - Bloc 5 Accès rapide -->
