// -------------------------------
// Print - Base
// -------------------------------

body {
	font-size: 12pt;
}

.n0 {
	font-size: 21pt;
	font-weight: $font-bold;
	margin-top: .5cm;
	margin-bottom: .5cm;
}

.n1 {
	font-size: 18pt;
	font-weight: $font-bold;
	margin-bottom: .5cm;
}

.n2 {
	font-size: 15pt;
	font-weight: $font-regular;
	margin-bottom: .5cm;
}