// -------------------------------
// Print - Contenu Global
// -------------------------------

.print {

	&__header {
		padding-top: .5cm;
		border-top: $border-default;
		border-bottom: $border-default;
	}

	&__item {
		padding-bottom: .75cm;
		margin-top: .75cm;
		border-bottom: $border-thin;
		
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__bloc {

		+ & {
			margin-top: .5cm;
		}

		&--online {

			.print__header {
				page-break-before: always;
				break-before: always;
			}
		}
	}

	&__image {    
		display: inline-block;
		vertical-align: top;
		width: 20%;
		margin-right: .75cm;
		margin-bottom: .75cm;

		+ .print__list {
			display: inline-block;
			vertical-align: top;
			width: 75%;
		}
	}

	&__list {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: .75cm;
	}

	&-header {
		margin-bottom: .75cm;

		&__logo {
			margin-right: .75cm;
		}

		&__logo,
		&__title {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

