// -------------------------------
// Footer - Global
// -------------------------------

.footer {

	&__credit {
		margin-top: $spacer;
		padding-top: $spacer;
		border-top: 5px solid $grey-footer;
	}

	&__credit {
		text-align: right;
	}
}