// -------------------------------
// PRINT - Header
// -------------------------------

.header {
	padding-bottom: .75cm;

	&__logo {
		float: left;
		margin-right: .75cm;
		vertical-align: middle;

		img {
			max-width: 4cm;
		}
	}
}