<div role="dialog" aria-modal="true" aria-labelledby="modal-send-friend">
	<div>
		<button type="button" aria-label="Fermer cette fenêtre"><i>*insert icone croix*</i></button>
	</div>

	<form>
		<h3 id="modal-send-friend">Envoyer cette page à un ami</h3>


	</form>
</div>