{% extends 'base.html.twig' %}

{% block title %}Ma sélection{% endblock %}

{% block body %}

	<div>
		<nav>
			<ul>
				<li><a href="#" title="Lien actif">Données personnelles</a></li>
				<li><a href="#" target="_blank" title="Nouvelle fenêtre">La Bpi</a></li>
				<li><a href="#" target="_blank" title="Nouvelle fenêtre">Catalogue</a></li>
				<li><a href="#" target="_blank" title="Nouvelle fenêtre">Balises</a></li>
				<li><a href="#" target="_blank" title="Nouvelle fenêtre">Professionnels</a></li>
			</ul>
		</nav>
	</div>

	<h1><i aria-hidden="true">*Insert icone coeur*</i> Ma sélection</h1>

	<div>
		{% include "user/blocs/banner-tools.html.twig" %}
	</div>

	<div>
		{% include "user/blocs/list-user.html.twig" %}
	</div>

	<div>
		{% include "user/blocs/historic-search.html.twig" %}
	</div>
	
{% endblock %}
