{% extends 'base.html.twig' %}

{% block title %}Ma sélection{% endblock %}

{% block body %}
	 <ul>
		  <li><a href="{{ path('user_list_edit') }}">Editer une liste</a></li>
		  <li><a href="{{ path('user_list_remove') }}">Supprimer une liste</a></li>
	 </ul>

	 <div>
		<nav>
			<ul>
				<li><a href="#" title="Lien actif">Données personnelles</a></li>
				<li><a href="#" target="_blank" title="Nouvelle fenêtre">La Bpi</a></li>
				<li><a href="#" target="_blank" title="Nouvelle fenêtre">Catalogue</a></li>
				<li><a href="#" target="_blank" title="Nouvelle fenêtre">Balises</a></li>
				<li><a href="#" target="_blank" title="Nouvelle fenêtre">Professionnels</a></li>
			</ul>
		</nav>
	 </div>

	 <h1><i>*Insert icone coeur*</i> Ma sélection</h1>

	<div>
		<div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="tout-selectionner">
				<label class="form-check-label" for="tout-selectionner">Tout sélectionner</label>
			</div>
			<a href="#">Annuler la sélection</a>

			<div>
				<p>Listes sélectionnées <span>(123)</span></p>
				<p>Documents sélectionnés <span>(123)</span></p>
			</div>

			<div>
				<a href="#">Ajouter à <i aria-hidden="true">*insert icone caret*</i></a>
				<a href="#">Monter <i aria-hidden="true">*insert icone caret*</i></a>
				<a href="#">Descendre <i aria-hidden="true">*insert icone caret*</i></a>
				<a href="#">Supprimer <i aria-hidden="true">*insert icone croix*</i></a>
			</div>
		</div>
	</div>


	<div>
		{% for i in 1..3 %}

			<div>
				<input type="checkbox">
				<p>*Insert nom de la liste*</p>
				<a href="#"><span class="sr-only sr-only-focusable">Changer le nom de la liste</span><i aria-hidden="true">*Insert icone pen*</i></a>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>Titre <i aria-hidden="true">*Insert icone carets*</i></th>
						<th>Auteur <i aria-hidden="true">*Insert icone carets*</i></th>
						<th>Type <i aria-hidden="true">*Insert icone carets*</i></th>
						<th>Ajoutée le <i aria-hidden="true">*Insert icone carets*</i></th>
					</tr>
				</thead>
				<tbody>
					{% for i in 1..3 %}
						<tr>
							<td>*Insert title*</td>
							<td>*Insert Auteur*</td>
							<td>*Insert icone type*</td>
							<td>*Insert date*</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% endfor %}
	</div>
	
{% endblock %}
