{% extends 'base.html.twig' %}

{% block title %}Ma sélection{% endblock %}

{% block body %}

	<div>
		<nav>
			<ul>
				<li><a href="#" title="Lien actif">Données personnelles</a></li>
				<li><a href="#" target="_blank" title="La BPI - Nouvelle fenêtre">La Bpi</a></li>
				<li><a href="#" target="_blank" title="Catalogue - Nouvelle fenêtre">Catalogue</a></li>
				<li><a href="#" target="_blank" title="Balises - Nouvelle fenêtre">Balises</a></li>
				<li><a href="#" target="_blank" title="Professionnels - Nouvelle fenêtre">Professionnels</a></li>
			</ul>
		</nav>
	</div>

	<h1><img src="https://via.placeholder.com/15x15" alt="" class="icone-coeur"/> Ma sélection</h1>

	<div>
		{% include "user/blocs/banner-tools.html.twig" %}
	</div>

	<div>
		{% include "user/blocs/list-user.html.twig" %}
	</div>

	<div>
		{% include "user/blocs/historic-search.html.twig" %}
	</div>
	
{% endblock %}
