{% extends 'user/personal-data.html.twig' %}

{% block content %}
    <h2 class="n1 title-icone">
        <span class="icone-square">
            <img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/>
        </span>
        <span>{{ 'page.personal-data.selection.title'|trans }}</span>
    </h2>


    <form action="{{ path('user_selection_index') }}" method="post">

        <div class="row justify-content-md-between banner-tools">
            {% include "user/blocs/banner-tools.html.twig" with {
                'type': constant('App\\Controller\\UserSelectionController::INPUT_NAME'),
                'selectedList': lists|length,
                'selectedDocs': selectedDocs
            } %}
        </div>

        <div>
            {% include "user/blocs/list-user.html.twig" %}
        </div>


        <!-- Début - Modal suppression liste -->
        {% include "user/modal/list_remove.html.twig" %}
        <!-- Fin - Modal suppression liste -->

    </form>




    <!-- Début - Modal création d'une nouvelle liste -->
    {% include "user/modal/list_create.html.twig" %}
    <!-- Fin - Modal création d'une nouvelle liste -->

    <!-- Début - Modal édition liste -->
    {% include "user/modal/list_edit.html.twig" %}
    <!-- Fin - Modal édition liste -->


    <!-- Début - Modal commentaires edit -->
    {% include "user/modal/comments-view.html.twig" %}
    <!-- Fin - Modal commentaires edit -->

{% endblock %}
