{% set currentPage = 'selection' %}
{% extends 'user/personal-data.html.twig' %}

{% block content %}
    <h2 class="n1 title-icone">
        <span class="icone-square">
            <img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/>
        </span>
        <span>{{ 'page.personal-data.selection.title'|trans }}</span>
    </h2>


    <form action="{{ path('user_selection_index') }}" method="post">

        <div class="row justify-content-md-between banner-tools">
            {% include "user/blocs/banner-tools.html.twig" with {
                'type': constant('App\\Controller\\UserSelectionController::INPUT_NAME')
            } %}
        </div>

        <div>
            {% if app.user %}
                {% include "user/blocs/list-user.html.twig" %}
            {% else %}
                {% include "user/blocs/list-anonymous-user.html.twig" %}
            {% endif %}
        </div>

        {% include "user/modal/list_remove.html.twig" %}

    </form>


    {% if app.user %}
        {% include "user/modal/list_create.html.twig" %}

        {% include "user/modal/list_edit.html.twig" %}

        {% include "user/modal/comments-view.html.twig" %}
    {% endif %}

{% endblock %}
