// -------------------------------
// Résultat de recherche - Résultat
// -------------------------------

.search-result {

	&__image,
	&__body {
		margin-top: $spacer;
	}

	&__image {
		margin-bottom: $spacer;
	}

	&__title {

		a {

			&:hover {
				color: $red;

				span {
					color: $red;
				}
			}
		}
	}

	&__item {
		padding-right: 25px;
	}

	&__collapse {
		border-top: $border-default;
		border-bottom: $border-default;
		padding: 10px 0;
	}

	&__button {
		padding-left: 0;
		color: $blue;

		&:hover {
			color: $red;
			text-decoration: underline;
		}
	}
}