<!-- Début - Bloc 19 Liste de documents  -->

<div>
	<div>
		<ul>
			<li><a href="#carousel-auteur">Auteur</a></li>
			<li><a href="#carousel-sujets">Sujets</a></li>
		</ul>
	</div>
 
	<div id="carousel-auteur">
		<div>
			<div>
				<h2>Auteur</h2>
			</div>
			<div>
				<a href="#">Voir tout <span class="sr-only">les résultats </span><span>(*Insert number*)</span> <i aria-hidden="true">*Insert icone chevron right*</i></a>
			</div>
		</div>
		<div>
			<div class="carousel flickity-enabled is-draggable" tabindex="0">
				<div class="flickity-viewport">
					<div class="flickity-slider">
						<div class="carousel-cell is-selected">
							<a href="#" aria-label="Document 1 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
						<div class="carousel-cell">
							<a href="#" aria-label="Document 2 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Customisation des boutons : DOM supposé. 
				Informations : pas de pagination, pas d'auto-play, pas de défilement infini, limite d'éléments à 20 -->
				<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Element précédent">
					<i aria-hidden="true">*Insert icône chevron gauche*</i>
				</button>
				<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Element suivant">
					<i aria-hidden="true">*Insert icône chevron droit*</i>
				</button>
			</div>
		</div>
	</div>

	<div id="carousel-sujets">
		<div>
			<div>
				<h2>Sujets</h2>
			</div>
			<div>
				<a href="#">Voir tout <span class="sr-only">les résultats </span><span>(*Insert number*)</span> <i aria-hidden="true">*Insert icone chevron right*</i></a>
			</div>
		</div>
		<div>
			<div class="carousel flickity-enabled is-draggable" tabindex="0">
				<div class="flickity-viewport">
					<div class="flickity-slider">
						<div class="carousel-cell is-selected">
							<a href="#" aria-label="Document 1 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
						<div class="carousel-cell">
							<a href="#" aria-label="Document 2 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Customisation des boutons : DOM supposé. 
				Informations : pas de pagination, pas d'auto-play, pas de défilement infini, limite d'éléments à 20 -->
				<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Element précédent">
					<i aria-hidden="true">*Insert icône chevron gauche*</i>
				</button>
				<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Element suivant">
					<i aria-hidden="true">*Insert icône chevron droit*</i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Fin - Bloc 19 Liste de documents  -->
