<!-- Début - Bloc 18 Informations de la notice d'autorité -->
 
<div class="col-12 col-md-4">
	<div class="authority-result__image">
		<img src="{{ asset('images/types-autorite/autorite-personne.svg') }}" alt="" class="img-fluid" />
	</div>
</div>
<div class="col-12 col-md-8">
	<div class="authority-result__body">
		<h1 class="n1 authority-result__title" lang="fr">Georges VI , roi de Grande-Bretagne (1895-1952)</h1>
		<ul class="list-information">
			<li class="list-information__item">
				<span class="list-information__label">Type d'autorité :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">Personne</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Pays :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">Royaume-Uni</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Langue(s) :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">anglais</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Naissance :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">1895, Norfolk, GB</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Mort :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">1952, Norfolk, GB</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Activité(s) principale(s) :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">Roi de Grande-Bretagne et d'Irlande du Nord (1936-1952)</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Autre(s) nom(s) :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">York, Albert (1895-1952), duc d'</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Nom(s) associé(s) :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">autres : Windsor , maison de</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Nom(s) lié(s) :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">autres :  Grande-Bretagne -- 1936-1952 (Georges VI)</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">ISNI :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">0000000410249563</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="col-12">
	<p lang="fr" class="authority-result__resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam nam porro reprehenderit, voluptas vel, distinctio, consectetur quas impedit architecto autem optio? Porro iusto aliquam cumque est dicta error doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam nam porro reprehenderit, voluptas vel, distinctio, consectetur quas impedit architecto autem optio? Porro iusto aliquam cumque est dicta error doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam nam porro reprehenderit, voluptas vel, distinctio, consectetur quas impedit architecto autem optio? Porro iusto aliquam cumque est dicta error doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam nam porro reprehenderit, voluptas vel, distinctio, consectetur quas impedit architecto autem optio? Porro iusto aliquam cumque est dicta error doloribus.</p>
</div>

<!-- Fin - Bloc 18 Informations de la notice d'autorité -->
