<!-- Début - Bloc 18 Informations de la notice d'autorité -->
 
<div class="col-12 col-md-4">
	<div class="authority-result__image">
		<img src="{{ asset('images/types-autorite/autorite-personne.svg') }}" alt="" class="img-fluid" />
	</div>
</div>
<div class="col-12 col-md-8">
	<div class="authority-result__body">
		<h1 class="n1 authority-result__title" lang="fr">Guy de Maupassant (1850 - 1893)</h1>
		<ul class="list-information">
			<li class="list-information__item">
				<span class="list-information__label">Pays :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">France</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Naissance :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">5 aout 1850 - Tourville-sur-Arques (Seine-Inférieure)</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Mort :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">6 juillet 1893 (à 42 ans) Paris</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Sexe :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">masculin</li>
				</ul>
			</li>
		</ul>
		<ul class="list-information">
			<li class="list-information__item">
				<span class="list-information__label">Activité principale :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">écrivain</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Domaines :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">littérature</li>
				</ul>
			</li>
			<li class="list-information__item">
				<span class="list-information__label">Langue :</span>
				<ul class="list-information__sub-list" lang="fr">
					<li class="list-information__sub-item">française</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="col-12">
	<p lang="fr" class="authority-result__resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus magnam ducimus sed, asperiores possimus qui eum officia quisquam ipsam, consectetur voluptatem nisi sit quis! Vitae, labore? Autem hic cupiditate iure.
	Repellat, veritatis! Eos perferendis soluta et temporibus ullam adipisci veniam quia vel explicabo odio pariatur in sunt illo voluptatibus maiores consequatur, quod, cum voluptates accusantium facilis magnam laudantium omnis. Id?
	Aliquam ad atque quia quos, eius dolores quas odit voluptates obcaecati. Voluptatum autem quaerat repellat praesentium quas dolor est, blanditiis iusto quos, qui totam provident earum, dolores, tempore velit voluptas.
	Exercitationem minima quam quisquam dolores incidunt laborum, placeat reprehenderit porro consequatur magnam excepturi nam nulla dicta consectetur necessitatibus et quidem ex blanditiis quo. Suscipit animi laudantium dicta eum, reprehenderit eaque.
	Sequi, quae saepe, incidunt voluptas alias rem eos, veniam ab molestiae suscipit delectus est, necessitatibus possimus totam ipsa animi expedita sint perferendis similique dignissimos dolorem libero. Deleniti unde officiis quae.
	Animi facilis, rerum nemo iure consequuntur, odio perspiciatis. Similique recusandae pariatur, dolorum ullam, facere perferendis tempora expedita consectetur earum quasi cumque rerum, aspernatur debitis officia laudantium doloremque eaque saepe reprehenderit.
	Quis exercitationem ullam perspiciatis aut, officia veniam dolorum libero enim similique tempora quibusdam aliquam accusantium saepe optio nam hic earum in eligendi minus dicta! Illo voluptatem quae itaque, at deleniti.
	Repudiandae ea eum libero quod tempora. Cum molestiae harum repudiandae deleniti accusantium, architecto soluta voluptatibus unde vero, dicta consequuntur repellendus ut sit beatae dignissimos dolor iure eos asperiores dolorem modi.
	Incidunt ducimus iste, rerum esse libero adipisci, eum tempora commodi facere aspernatur vero sunt perspiciatis architecto soluta omnis sapiente, unde. Fuga pariatur, unde autem asperiores. Sapiente doloremque accusamus, fugiat odio.
	Sint quas praesentium perferendis vero culpa delectus doloribus doloremque omnis fugit molestiae inventore aliquid quidem maiores reprehenderit laboriosam dicta magnam, at voluptatibus ut ullam fuga libero nam accusamus illum ducimus?</p>
</div>

<!-- Fin - Bloc 18 Informations de la notice d'autorité -->
