<!-- Début - Bloc 15 v.2 Navigation dans les résultats -->

<div> 
	<div>
		<a href="#">Retour aux résultats</a>
	</div>
	<div>
		<nav aria-label="pagination" role="navigation">
			<ul>
				<li>
					<a href="#"><img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron-double"/> Document précédent</a>
				</li>
				<li>
					<p>6 <span>sur 55 </span><span class="sr-only">documents</span></p>
				</li>
				<li>
					<a href="#">Document suivant <img src="https://via.placeholder.com/15x15" alt="" class="icone-chevron-double"/></a>
				</li>
			</ul>
		</nav>
	</div>
</div>

<!-- Fin - Bloc 15 v.2 Navigation dans les résultats -->
